<template>
<div class="dbl-config">
  <main-header @hamburgerClick="$emit('hamburgerClick')" />

  <!-- content -->
  <main class="content clearfix">
    <div class="container-fluid">
      <main-menu />
      <div class="about">
        <div class="block_about_logo"><img src="@/assets/images/logo_tv_mosaic_about.png" alt=""></div>
        <h3>{{ $t("about.header") }}</h3>
        <div class="block_about_txt">{{ $t("about.text", {year: (new Date()).getFullYear()}) }}<br><a href="https://gitlab.com/tvmosaic">https://gitlab.com/tvmosaic</a></div>
      </div>
    </div>
  </main>
  <!-- // content -->
</div>
</template>

<script>
import MainHeader from './../components/MainHeader.vue'
import MainMenu from './../components/MainMenu.vue'

export default {
    name: 'about',
    components: {
        MainHeader,
        MainMenu
    }
}
</script>

<style>
/* ----- about ----- */
.block_about_logo{
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    text-align: center;
}
.about h3{
    text-align: center;
}
.block_about_txt{
    margin: 0 0 30px 0;
    padding: 10px 0 0 0;
    line-height: 23px;
    text-align: center;
}
.block_about_txt a{
    color: #ffffff;
    text-decoration: underline;
}

.block_about_txt a:hover{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 1040px){
    .block_result{
        padding: 0 25px 0 10px;
    }
    .block_result_inn{
        font-size: 11px;
    }
    .block_result span{
        right: 10px;
        font-size: 11px;
    }
}
@media screen and (max-width: 900px){
    .block_result_inn{
        font-size: 10px;
    }
    .block_channel_visibility_filter .dropdown{
        width: 180px;
        margin: 0 6px 0 0;
    }
    .block_channel_favorites_filter .btn-primary{
        width: 47%;
    }
}
</style>
