<template>
<div class="dbl-config">
  <main-header @hamburgerClick="$emit('hamburgerClick')" />

  <main class="content clearfix">
    <div class="container-fluid">
      <div class="monitoring">

        <h3>{{ $t('monitoring.monitoring') }}</h3>

        <div class="block_devices">
          <div class="scrollbar-inner content_scroll scroll-content">

            <div class="form-inline authrization-form" v-if="showAuth">
              <div class="card card-container auth-card">
                <p>{{ $t('monitoring.requiresAuth') }}</p>
                <form
                    @submit.prevent="authrizate"
                    class="form-signin" id="authform"
                >
                  <input
                      v-model="authorization.username"
                      type="text"
                      id="username"
                      class="form-control"
                      :placeholder="$t('monitoring.username')"
                      required
                      autofocus
                  />
                  <input
                      v-model="authorization.password"
                      type="password"
                      id="password"
                      class="form-control"
                      :placeholder="$t('monitoring.password')"
                      required
                  />
                  <button
                      class="btn btn-primary btn-block"
                      type="submit">
                    {{ $t('monitoring.authorize') }}
                  </button>
                </form>
              </div>
            </div>

            <div class="loading" id="device-list" v-if="devices">
              <div class="block_device"
                   v-for="device in devices" :key="device.id"
              >
                <div
                    class="block_device_top"
                    :class="{
                        opened: openedDevices.includes(device.id),
                        'has-channels': device.channels.length
                    }"
                    @click.prevent="toggleDevice(device.id)"
                >
                  <div class="title">
                    <span class="chevron"></span>
                    {{ device.name }}
                  </div>
                  <div class="status">
                    <span>{{ device.status }}</span>
                    <span>
                      {{ $t('monitoring.streams') }} {{ device.streams || 0 }}
                    </span>
                  </div>
                </div>
                <div
                    v-if="(device.channels.length &&
                          openedDevices.includes(device.id))"
                    class="block_device_bottom"
                >
                  <div class="block_channel">
                    <div class="block_channel_inn">

                      <div v-for="channel in device.channels"
                           :key="channel.id"
                           class="channel_item"
                      >
                        <div class="heading">
                          <h4
                              class="name"
                              style="display: inline-block;"
                          >{{ channel.name }}</h4>
                          <span
                              v-if="channel.lock"
                              class="lock"
                          >{{ $t('monitoring.locked') }}</span>
                        </div>
                        <div class="body">
                          <div class="row">
                            <div class="col-md-6 level">
                              <span class="caption">
                                {{ $t('monitoring.strength') }}
                              </span>
                              <div class="progress">
                                <div
                                    class="strength progress-bar"
                                    role="progressbar"
                                    :style="{ width: channel.strength+'%' }"
                                    :aria-valuenow="channel.strength"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >{{ channel.strength }}%</div>
                              </div>
                            </div>
                            <div class="col-md-6 level">
                              <span class="caption">
                                {{ $t('monitoring.quality') }}
                              </span>
                              <div class="progress">
                                <div
                                    class="quality progress-bar"
                                    role="progressbar"
                                    :style="{ width: channel.quality+'%' }"
                                    :aria-valuenow="channel.quality"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >{{ channel.quality }}%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="footer">
                          <span>
                            {{ $t('monitoring.consumers') }}
                            <span class="badge consumers">
                              {{ channel.consumers }}
                            </span>
                          </span>
                          <span>
                            {{ $t('monitoring.bitrate') }}
                            <span class="badge bitrate">
                              {{ channel.bitrate }}
                            </span>
                          </span>
                          <span>
                            {{ $t('monitoring.packets') }}
                            <span class="badge packets">
                              {{ channel.packets }}
                            </span>
                          </span>
                          <span>
                            {{ $t('monitoring.discontinued') }}
                            <span
                                class="badge discontinued"
                                :class="{ warning: channel.discontinued > 0 }"
                            >{{ channel.discontinued }}</span>
                          </span>
                          <span>
                            {{ $t('monitoring.errors') }}
                            <span
                                class="badge errors"
                                :class="{ warning: channel.errors > 0 }"
                            >{{ channel.errors }}</span>
                          </span>
                        </div>
                      </div>

                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="empty_message" v-if="devices && !devices.length">
              <div>
                <div class="title">{{ $t('monitoring.noDevicesFound') }}</div>
              </div>
            </div>
            <div class="empty_message" v-if="fetchError">
              <div>
                <div class="title">{{ $t('monitoring.serverError') }}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <spinner :showed="loading" />

</div>
</template>

<script>
  import Settings from '@/api/settings'
  import Tools from '@/tools'

  import MainHeader from '@/components/MainHeader.vue'
  import Spinner from '@/components/Spinner.vue'

  function updateContentHolderHeight () {
      Tools.customUpdateContentHolderHeight(
          0, '.block_devices > .scrollbar-inner', true, -12
      );
  }

  export default {
      name: 'monitoring',
      components: {
          MainHeader,
          Spinner
      },
      data: () => ({
          loading: false,
          authorization: {},
          showAuth: false,
          devices: null,
          openedDevices: [],
          fetchError: false
      }),
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created () {
          this.chackAuth()
      },
      methods: {
          toggleDevice (deviceId) {
              if (this.openedDevices.includes(deviceId)) {
                  this.openedDevices = this.openedDevices.filter((devId) => (
                      devId !== deviceId
                  ));
              } else {
                  this.openedDevices = [deviceId, ...this.openedDevices];
              }
          },
          async collectDevices () {
              this.loading = true
              this.devices = (
                  await Settings.Monitoring.getDevices(this.authorization)
              )
                  .map((device) => ({
                      ...device,
                      streams: 0,
                      channels: []
                  }));
              this.loading = false;
              this.updateDevices(this.devices);
              this.updateDevicesStatus();
          },
          async updateDevicesStatus () {
              const devicesStatus = Object.fromEntries(
                  (await Settings.Monitoring.getDevices(this.authorization))
                      .map((device) => [
                          device.id, device.status
                      ])
              )
              this.devices.forEach((device) => {
                  device.status = devicesStatus[device.id] || 'idle'
              });
              setTimeout(this.updateDevicesStatus.bind(this), 3000);
          },
          async updateDevices (devices) {
              await Promise.allSettled(devices.map(async (device) => {
                  device.channels = await Settings.Monitoring.getDeviceStatus(
                      device.id, this.authorization
                  );
                  device.streams = device.channels.reduce(
                      (acc, cur) => acc + cur.consumers, 0
                  )
              }));
              setTimeout(this.updateDevices.bind(this, devices), 1000);
          },
          authrizate () {
              this.showAuth = false
              this.chackAuth()
          },
          showError () {
              this.fetchError = true;
          },
          async chackAuth () {
              this.loading = true
              try {
                  await Settings.Monitoring.chackAuth(this.authorization)
                  this.collectDevices();
              } catch (error) {
                  this.loading = false
                  if (error.message === 'unauthorized') {
                      this.showAuth = true
                      return
                  }
                  this.showError()
              }
          }
      }
  }
</script>

<style scoped lang="scss">
  .chevron::before {
      border-style: solid;
      border-width: 3px 3px 0 0;
      content: '';
      display: inline-block;
      height: 12px;
      left: 0;
      margin-right: 10px;
      position: relative;
      top: 4px;
      transform: rotate(45deg);
      vertical-align: top;
      width: 12px;
  }

  .block_devices {
      margin: 0 0 15px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;

      .lock {
          margin: 0 5px;
      }
      .progress {
          border-radius: 10px;
          margin-top: 3px;
      }

      > .scrollbar-inner {
          height: 300px;
      }

      .block_device {
          &_top {
              padding: 8px 12px;
              background: #5f5f5f;
              position: relative;
              margin-bottom: 2px;
              cursor: pointer;

              &:hover {
                  background: #828282;
              }

              .title {
                  margin: 0 0 4px 0;
                  font-size: 16px;
                  font-weight: bold;
              }

              &.opened .chevron:before {
                  top: 0;
                  left: 3px;
                  transform: rotate(135deg);
              }

              .status {
                  position: absolute;
                  width: auto;
                  top: 10px;
                  right: 15px;

                  > * {
                      margin-left: 10px;
                  }
              }
          }

          &_bottom {
              padding: 10px 14px 0 13px;
              font-size: 0;
              position: relative;
              &:before{
                  position: absolute;
                  top: 0;
                  left: 12px;
                  content: "";
                  height: 35px;
                  border-left: 1px solid #5a5a5a;
              }
              &:after{
                  position: absolute;
                  top: 33px;
                  left: 10px;
                  content: "";
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background: #5a5a5a;
              }
          }

          .block_channel {
              display: block;
              vertical-align: top;
              margin: 0 0 10px 0;
              padding: 0 0 0 10px;
              font-size: 13px;

              &_inn {
                  padding: 5px 12px 12px 12px;
                  border-radius: 3px;
                  border: 1px solid #5a5a5a;
                  background: #1d1d1d;
                  position: relative;
                  &:before {
                      position: absolute;
                      top: 24px;
                      left: -11px;
                      content: "";
                      width: 10px;
                      border-bottom: 1px solid #5a5a5a;
                  }

                  .body {
                      margin: 2px 0 10px;

                      @media (max-width: 991px) {
                          .caption {
                              min-width: 10vw;
                          }
                      }

                      .level {
                          display: flex;
                          flex-direction: row;
                          margin: 5px 0;
                      }
                  }

                  .progress {
                      flex-grow: 1;
                      margin: 0px 0px 0 10px;
                  }

                  .footer > * {
                      margin-right: 15px;
                  }
                  .badge {
                      padding: 1px 10px;

                      &.warning {
                          background-color: #8e0000;
                      }
                  }

              }
          }
      }
  }

  .authrization-form {
      width: 40%;
      border: 1px solid #5a5a5a;
      padding: 10px;
      margin: 10px auto;

      .auth-card {
          display: flex;
          flex-direction: column;
      }

      .form-control {
          display: block;
          width: 100%;
          padding: 10px;
          margin: 10px 0;
      }
  }
</style>
