<template>
  <div class="dbl-config">
    <main-header @hamburgerClick="$emit('hamburgerClick')" />

    <!-- content -->
    <main class="content clearfix">
      <div class="container-fluid">
        <main-menu />

        <div class="products">

          <h3>{{ $t('products.installed_products') }}</h3>
          <div class="block_table_products_header">
            <table class="table_products">
              <colgroup>
                <col width="33.33%" />
                <col width="25%" />
                <col width="41.66%" />
              </colgroup>
              <tr>
                <th><span>{{ $t('products.product') }}</span></th>
                <th><span>{{ $t('products.licenseStatus') }}</span></th>
                <th><span>{{ $t('products.requiresRegistration') }}</span></th>
              </tr>
            </table>
          </div>
          <div class="block_table_products">
            <div class="scrollbar-inner">
              <table id="products_list" class="table_products">
                <colgroup>
                  <col width="33.33%" />
                  <col width="25%" />
                  <col width="41.66%" />
                </colgroup>

                <tr v-for="(product, index) in products" :key="product.id" class="product">

                  <td>
                    <div class="title">{{ product.name }}
                      <a v-if="product.url" :href="product.url">
                        <i class="glyphicon glyphicon-new-window url"></i>
                      </a>
                    </div>
                    {{ $t('products.version') }} {{ product.version }}, {{ $t('products.build') }} {{ product.revision }}
                  </td>
                  <td>
                    <span class="label status label-default" :class="{alert: product.alert}">
                      {{ product.activation_in_progress ? $t('products.status.activating') : $t('products.' + product.status) }}
                    </span>
                    <span v-if="product.info && !product.activation_in_progress"
                          class="glyphicon glyphicon-info-sign"
                          @click="toggleProductInfo($event, index)"
                    ></span>

                    <div :style="{left: productInfoPosition[0], top: productInfoPosition[1]}" v-if="productInfoIndex === index" role="tooltip" class="popover fade bottom in">
                      <div class="arrow" style="left: 50%;"></div>
                      <h3 class="popover-title" style="display: none;"></h3>
                      <div class="popover-content">
                        <span @click="productInfoIndex = -1" data-dismiss="popover" class="glyphicon glyphicon-remove"></span>
                        <ul>
                          <li>
                            <span class="label label-default">{{ $t('products.licenceId') }}</span>
                            <br> {{ product.license_name || $t('common.notAvailable') }}
                          </li>
                          <li>
                            <span class="label label-default">{{ $t('products.licenceFile') }}</span>
                            <br> {{ product.license_key || $t('common.notAvailable') }}
                          </li>
                          <li v-if="product.machine_id">
                            <span class="label label-default">{{ $t('products.systemId') }}</span>
                            <br> {{ product.machine_id }}
                          </li>
                          <li v-if="product.days_left">
                            <span class="label label-default">{{ $t('products.daysLeft') }}</span>
                            <br> {{ product.days_left }}
                          </li>
                        </ul>
                        <div v-if="product.license_state != 'free'" class="popover_bottom">
                          <button :title="$t('products.productFile')" @click="downloadProductFile(product.id)" class="btn btn-primary download">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                            {{ $t('products.productFile') }}
                          </button>
                        </div>
                      </div>
                    </div>

                    <span :class="{inprogress_animate: product.activation_in_progress}" class="glyphicon glyphicon-refresh"></span>
                  </td>

                  <td>
                    <button v-if="product.trial_available"
                            :title="$t('products.trial')"
                            :class="{disabled: product.activation_in_progress || product.disabled}"
                            @click="trial(product)"
                            class="btn btn-primary trial">
                      <span class="glyphicon glyphicon-hourglass"></span>
                      {{ $t('products.trial') }}
                    </button>
                    <button v-if="product.activate"
                            :title="$t('products.activate')"
                            :class="{disabled: product.activation_in_progress || product.disabled}"
                            class="btn btn-primary activate"
                            @click="activate(product)">
                      <span class="glyphicon glyphicon-ok-sign"></span>
                      {{ $t('products.activate') }}
                    </button>
                  </td>
                </tr>


              </table>
            </div>
          </div>

        </div>
      </div>
    </main>
    <!-- // content -->

    <spinner :showed="loading" />
    <user-info-modal v-model="user" @save="saveUserInfo" />
    <coupon-modal v-model="coupon" @save="saveCoupon" />
    <v-dialog />

  </div>
</template>


<script>
  import MainHeader from './../components/MainHeader.vue'
  import MainMenu from './../components/MainMenu.vue'

  import Spinner from '@/components/Spinner.vue'
  import UserInfoModal from '@/components/UserInfoModal.vue'
  import CouponModal from '@/components/CouponModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  const PRODUCT_RELOAD_INTERVAL = 3000


  export default {
      name: 'products',
      components: {
          MainHeader,
          MainMenu,
          Spinner,
          UserInfoModal,
          CouponModal,
      },
      data () {
          return {
              loading: false,
              products: [],
              productInfoIndex: -1,
              productInfoPosition: ['', ''],
              user: {
                  name: '',
                  email: '',
              },
              coupon: {
                  serial: '',
                  product: {},
                  server: window.location.host,
              },
          }
      },
      created: function () {
          this.fetchData()
      },
      computed: {
          formattedSerial () {
              return this.coupon.serial.split(/(.{4})/).filter(x => x).join('-')
          }
      },
      methods: {
          fetchData (silent=false) {
              this.loading = !silent && true
              Settings.Products.get((products) => {
                  this.products = products
                  let inProgress = this.products.some((v) => v.activation_in_progress)
                  if (inProgress) {
                      setTimeout(() => this.fetchData(silent), PRODUCT_RELOAD_INTERVAL)
                  }
                  this.loading = false
              })
          },

          downloadProductFile (productID) {
              Settings.Products.downloadProductFile(productID, (url) => Tools.openInNewTab(url))
          },

          toggleProductInfo (event, index) {
              this.productInfoPosition = [
                  event.target.offsetLeft, event.target.offsetTop
              ].map((e) => (e + 'px'))
              this.productInfoIndex = index === this.productInfoIndex ? -1 : index
          },

          trial (product) {
              this.loading = true
              Settings.Products.trial(product.id, this.activateResponse)
          },

          activate (product) {
              this.coupon.product = product
              this.$modal.show('coupon-modal')
          },

          saveUserInfo () {
              Settings.Products.activate(this.coupon.product.id, {
                  serial: this.formattedSerial,
                  user: this.user.name,
                  email: this.user.email,
              }, (result) => {
                  this.$modal.hide('user-info-modal')
                  this.activateResponse(result)
              })
          },

          saveCoupon () {
              this.loading = true
              Settings.Products.activate(this.coupon.product.id, {
                  serial: this.formattedSerial,
              }, (result) => {
                  this.$modal.hide('coupon-modal')
                  this.activateResponse(result)
              })
          },

          activateResponse (result) {
              this.loading = false
              if (result.result === 'need_user_info') {
                  this.$modal.show('user-info-modal')
                  return
              }
              if (result.result === 'success' || result.result === 'in_progress') {
                  this.fetchData(true)
                  return
              }
              this.$modal.show('dialog', {
                  text: this.$i18n.t('products.' + result.message),
                  buttons: [{
                      title: this.$i18n.t('common.ok'),
                  }]
              })
          }
      },
  }
</script>

<style>
  /* ----- products ----- */
  .block_table_products_header{
      margin: 30px 0 0 0;
  }
  .block_table_products{
      margin: 0 0 30px 0;
      padding: 2px 2px 0 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .table_products th{
      padding: 0 14px;
      font-weight: normal;
  }
  .table_products th:first-child{
      padding-left: 0;
  }
  .table_products th span{
      position: absolute;
      margin: -30px 0 0 0;
  }
  .table_products td{
      padding: 7px 14px;
      background: #5f5f5f;
      border-bottom: 2px solid #3c3c3c;
      cursor: default;
  }
  .table_products tr:hover td{
      background: #828282;
  }
  .table_products .title{
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .label.label-default{
      display: inline-block;
      height: 11px;
      padding: 0 4px;
      font-size: 10px;
      color: #5a5a5a;
      font-weight: normal;
      line-height: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      background: #fdfdfd;
  }
  .label.label-default.alert{
      background: #e8989a;
  }
  .table_products .glyphicon.url{
      color: #ffffff;
  }
  .table_products .glyphicon.url:hover{
      color: #1d1d1d;
  }
  .table_products .glyphicon.glyphicon-refresh{
      margin: -2px 0 0 5px;
      display: none;
  }
  .table_products .glyphicon.glyphicon-refresh.inprogress_animate{
      display: inline-block;
  }
  .table_products .glyphicon.glyphicon-info-sign, .table_products .glyphicon.glyphicon-link-sign{
      margin: -2px 0 0 5px;
      font-size: 18px;
      vertical-align: middle;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px #ffffff;
      position: relative;
      cursor: pointer;
  }
  .table_products .glyphicon.glyphicon-info-sign:hover{
      color: #1d1d1d;
      box-shadow: inset 0 0 0 1px #1d1d1d;
  }
  .table_products .glyphicon.glyphicon-info-sign:before{
      position: relative;
      z-index: 1;
  }
  .table_products .glyphicon.glyphicon-info-sign:hover:after{
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      content: "";
      border-radius: 50%;
      background: #ffffff;
      z-index: 0;
  }
  .products .popover.bottom{
      max-width: 340px;
      margin: 50px 0 0 0;
      line-height: normal;
      border-radius: 0;
      border: 1px solid #5a5a5a;
      background: #3c3c3c;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);

      display: block;
      margin-top: 25px;
  }
  .products .popover .arrow{
      display: none;
  }
  .products .popover-content{
      padding: 20px 20px 0 20px;
  }
  .products .popover .glyphicon.glyphicon-remove{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 11px;
      cursor: pointer;
  }
  .products .popover .glyphicon.glyphicon-remove:hover{
      color: #e95d0f;
  }
  .products .popover .glyphicon.glyphicon-remove:active{
      color: #3c3c3c;
  }
  .products .popover ul{
      margin: -7px 0 6px 0;
      padding: 0;
      list-style: none;
  }
  .products .popover li{
      padding: 0 0 8px 0;
  }
  .products .popover_bottom{
      margin: 0 -21px;
      padding: 15px 21px;
      text-align: center;
      border-top: 1px solid #5a5a5a;
  }
  .table_products .btn.btn-primary{
      width: 135px;
      text-align: center;
  }

  .inprogress_animate {
      -webkit-animation: rotate-360 1000ms linear infinite;
      -moz-animation: rotate-360 1000ms linear infinite;
      -ms-animation: rotate-360 1000ms linear infinite;
      -o-animation: rotate-360 1000ms linear infinite;
      animation: rotate-360 1000ms linear infinite;
  }
</style>
