<template>
  <spinner :showed="loading" />
</template>

<script>
  import Spinner from '@/components/Spinner.vue'

  import Settings from '@/api/settings'

  export default {
      name: 'Startup',
      components: {
          Spinner,
      },
      data () {
          return {
              loading: true,
          }
      },
      mounted () {
          Settings.Products.isWrong()
                  .then(wrong => this.$router.replace({
                      name: wrong ? 'products' : 'channels-scan'
                  }))
      },
  }
</script>
