/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom.eot");
  src: url("./fontcustom.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom.woff") format("woff"),
       url("./fontcustom.ttf") format("truetype"),
       url("./fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom.svg#fontcustom") format("svg");
  }
}

.icon {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  top: 1px;
  position: relative;
}

.icon-recordonce, .icon-recordserie {
    vertical-align: middle !important;
}



.icon-add:before { content: "\f123"; }
.icon-addz:before { content: "\f12d"; }
.icon-adviser:before { content: "\f100"; }
.icon-alph:before { content: "\f101"; }
.icon-back:before { content: "\f102"; }
.icon-callendar:before { content: "\f103"; }
.icon-cancel:before { content: "\f124"; }
.icon-collapse:before { content: "\f104"; }
.icon-collapsez:before { content: "\f125"; }
.icon-conflict:before { content: "\f126"; }
.icon-conflictz:before { content: "\f127"; }
.icon-days1:before { content: "\f105"; }
.icon-days2:before { content: "\f106"; }
.icon-days4:before { content: "\f107"; }
.icon-delete:before { content: "\f108"; }
.icon-deletez:before { content: "\f12e"; }
.icon-dislike:before { content: "\f109"; }
.icon-download:before { content: "\f128"; }
.icon-dvblink:before { content: "\f138"; }
.icon-edit:before { content: "\f129"; }
.icon-extend:before { content: "\f10a"; }
.icon-extendz:before { content: "\f12a"; }
.icon-fenres:before { content: "\f10b"; }
.icon-filter:before { content: "\f13d"; }
.icon-full:before { content: "\f10c"; }
.icon-halfl:before { content: "\f10d"; }
.icon-halfr:before { content: "\f10e"; }
.icon-hd:before { content: "\f10f"; }
.icon-info:before { content: "\f110"; }
.icon-left:before { content: "\f130"; }
.icon-library:before { content: "\f140"; }
.icon-like:before { content: "\f111"; }
.icon-loop:before { content: "\f13f"; }
.icon-num:before { content: "\f112"; }
.icon-ok:before { content: "\f113"; }
.icon-pipet:before { content: "\f12b"; }
.icon-play:before { content: "\f114"; }
.icon-premiere:before { content: "\f139"; }
.icon-premierez:before { content: "\f13a"; }
.icon-profiles:before { content: "\f115"; }
.icon-properties:before { content: "\f116"; }
.icon-queue:before { content: "\f13b"; }
.icon-recordadd:before { content: "\f131"; }
.icon-recordedtv:before { content: "\f117"; }
.icon-recordonce:before { content: "\f118"; }
.icon-recordserie:before { content: "\f119"; }
.icon-repeatz:before { content: "\f135"; }
.icon-rerun:before { content: "\f132"; }
.icon-right:before { content: "\f133"; }
.icon-schedule:before { content: "\f11a"; }
.icon-search:before { content: "\f11b"; }
.icon-select:before { content: "\f11c"; }
.icon-sendto:before { content: "\f13c"; }
.icon-series:before { content: "\f11d"; }
.icon-settings:before { content: "\f11e"; }
.icon-share:before { content: "\f11f"; }
.icon-star:before { content: "\f13e"; }
.icon-stop:before { content: "\f12c"; }
.icon-tvguide:before { content: "\f120"; }
.icon-weeks1:before { content: "\f121"; }
.icon-weeks2:before { content: "\f122"; }
