<template>
<div class="dbl-config">
  <main-header @hamburgerClick="$emit('hamburgerClick')" />

  <!-- content -->
  <main class="content clearfix">
    <div class="container-fluid">
      <main-menu />

      <ul class="nav nav-justified menu_tabs">
        <li><router-link :to="{name: 'epg-mapping'}">{{ $t("menu.epgChannel") }}</router-link></li>
        <li><router-link :to="{name: 'epg-sources'}">{{ $t("menu.epgSources") }}</router-link></li>
      </ul>

      <div class="epg">
        <router-view></router-view>
      </div>
    </div>
  </main>
  <!-- // content -->
</div>
</template>


<script>
import MainHeader from '@/components/MainHeader.vue'
import MainMenu from '@/components/MainMenu.vue'

export default {
    name: 'epg',
    components: {
        MainHeader,
        MainMenu
    }
}
</script>
