<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn">

        <div class="row">
          <div class="block_epg_column col-lg-7 col-sm-7 col-xs-7">
            <h3>{{ $t('epgMapping.epgChannels') }}</h3>
            <div class="block_epg_filter">
              <multiselect v-model="favorite" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="favorites" placeholder="" :show-labels="false"></multiselect>
              <button :title="$t('epgMapping.epgResetToDefault')" @click="resetToDefault()" :disabled="filteredChannels.length < 1" class="btn btn-primary"><span class="ico ico_reset"></span> {{ $t('epgMapping.epgResetToDefault') }}</button>
              <button :title="$t('epgMapping.epgAuto')" @click="autoMapping()" :disabled="filteredChannels.length < 1" class="btn btn-primary"><span class="ico ico_auto"></span> {{ $t('epgMapping.epgAuto') }}</button>
            </div>
            <div class="block_epg_title clearfix">
              <div class="fl_left">{{ $t('epgMapping.epgName') }}</div>
              <div class="fl_right">{{ $t('epgMapping.epgEpgName') }}</div>
            </div>
            <div class="block_epg">
              <div class="scrollbar-inner" id="channel_scroller">
                <table id="channels_list" class="table_epg loading">

                  <tr v-for="channel in filteredChannels" :key="channel.id"
                      :class="{active: selectedChannel === channel}"
                      @click="selectedChannel = channel"
                  >
                    <td>
                      <div class="title channel">
                        {{ channel.name }}
                        <span class="label label-default" v-if="channel.number">
                          {{ channel.number }}
                        </span>
                      </div>
                      {{ channel.type }}
                    </td>
                    <td class="mapped">
                       <div class="holder_close">
                         <div v-if="!channel.epg_mapping.default" class="title source">{{ channel.epg_mapping.epg_channel_name }}</div>
                         <div v-if="channel.epg_mapping.default" class="title source">{{ $t('epgMapping.default') }}</div>
                         <span v-if="!channel.epg_mapping.default" class="source_title">{{ channel.epg_mapping.epg_source_name }}</span>
                         <button v-if="!channel.epg_mapping.default"
                                 @click="removeEPG(channel)"
                                 type="button" class="close" data-dismiss="modal">
                           &times;
                         </button>
                       </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="block_epg_column col-lg-5 col-sm-5 col-xs-5">
            <h3>{{ $t('epgMapping.epgInstalledProducts') }}</h3>
            <div class="block_epg_filter mapping_source">
              <multiselect v-model="source" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="sources" placeholder="" :show-labels="false"></multiselect>
            </div>
            <div class="block_epg_title clearfix">
              {{ $t('epgMapping.epgEpgName') }}
            </div>
            <div class="block_epg">
              <div class="scrollbar-inner">
                <table id="source_channels_list" class="table_epg loading">
                  <tr v-for="channel in epgChannels" :key="channel.id"
                      @dblclick="mapping(channel)"
                  >
                    <td>
                      <span @click="mapping(channel)" v-if="selectedChannel" class="ico_arrow">⟵</span> <span class="title">{{ channel.name }}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t('common.cancel') }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t('common.save') }}</button>
    </div>

    <spinner :showed="firstLoading || loading" />
    <v-dialog />

    <mapping-modal :channels="foundedChannels"
                   :channel="foundedForChannel"
                   :progress="autoMappingProgress"
                   ref="mappingModal"
                   @cancel="searchStopped = true"
    >
      <template slot="labels">
        <div class="fl_left">{{ $t('epgMapping.epgName') }}</div>
        <div class="fl_right">{{ $t('epgMapping.epgEpgName') }}</div>
      </template>
      <template slot="item" slot-scope="slotProps">
        <td>
          <div class="title">{{ slotProps.channel.name }}</div>
        </td>
        <td class="mapped">
          <div class="holder_close visible">
            <div class="title">{{ slotProps.channel.source }}</div>
          </div>
        </td>
      </template>

    </mapping-modal>

  </div>
</template>

<script>
  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Vue from 'vue'

  import VueScrollTo from 'vue-scrollto'

  import Spinner from '@/components/Spinner.vue'
  import MappingModal from '@/components/MappingModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools.js'

  const ABORTED = 'aborted'

  Vue.use(VueScrollTo)

  function updateContentHolderHeight () {
      Tools.updateContentHolderHeight();
      var contentScrollInn = $('.content_scroll_inn').innerHeight();
      var header = $('.content_scroll_inn h3:eq(0)').innerHeight() + 60;
      var blockEpg = $('.block_epg_filter:eq(0)').innerHeight();
      var favoritesFilter = $('.block_epg_title:eq(0)').innerHeight();
      $('.block_epg_column .scrollbar-inner').css(
          'height',
          `${ contentScrollInn - header - favoritesFilter - blockEpg }px`
      );
  }

  export default {
      name: 'epg-sources',
      components: {
          Spinner,
          MappingModal,
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              firstLoading: false,
              loading: false,
              channels: [],
              favorites: [],
              sources: [],

              favorite: {},
              source: {},

              channelsFiltred: false,
              visibleChannelsID: [],
              epgChannels: [],

              selectedChannel: null,

              foundedChannels: [],
              autoMappingProgress: 0,
              foundedForChannel: null,
              searchStopped: false,
          }
      },
      watch: {
          favorite ({id}) {
              this.fetchChannelsByFavorite(id)
          },
          source (source) {
              if (source && source.id) {
                  this.fetchEPGChannels(source.id)
              }
          },
      },
      computed: {
          filteredChannels () {
              if (!this.channelsFiltred) {
                  return this.channels
              }
              return this.channels.filter(channel => (this.visibleChannelsID.indexOf(channel.id) > -1))
          }
      },
      methods: {
          fetchData () {
              this.firstLoading = true
              Promise.all([
                  Settings.EPGChannelMapping.getFavorites()
                          .then((favorites) => {
                              this.favorites = [{
                                  name: this.$t('common.all'),
                                  id: '',
                              },
                                  ...favorites.sort((a, b) => a.name.localeCompare(b.name))
                              ]
                              this.favorite = this.favorites[0]
                          }),

                  Settings.EPGChannelMapping.getSources()
                          .then((sources) => {
                              this.sources = sources.sort((a, b) => a.name.localeCompare(b.name))
                              if (!this.sources) {
                                  return
                              }
                              this.source = this.sources[0]
                          }),

                  Settings.EPGChannelMapping.getChannels()
                          .then((channels) => {
                              this.channels = channels.sort((a, b) => a.name.localeCompare(b.name))
                              this.selectedChannel = this.channels[0]
                          }),
              ])
                     .then(() => {
                         this.firstLoading = false
                     })

          },

          fetchChannelsByFavorite (id) {
              if (id.length < 1) {
                  this.channelsFiltred = false
                  this.selectedChannel = this.channels[0]
                  return
              }
              this.loading = true
              Settings.EPGChannelMapping.getChannelsByFavorite(id)
                      .then(channels => {
                          this.visibleChannelsID = channels
                          this.channelsFiltred = true
                          this.selectedChannel = this.filteredChannels[0]
                          this.loading = false
                      })
          },

          fetchEPGChannels (id) {
              this.loading = true
              Settings.EPGChannelMapping.getEPGChannels(id)
                      .then(channels => {
                          this.epgChannels = channels.sort((a, b) => a.name.localeCompare(b.name))
                          this.loading = false
                      })
          },

          removeEPG (channel) {
              channel.epg_mapping.default = true
              channel.epg_mapping.epg_source_id = ''
              channel.epg_mapping.epg_channel_id = ''
              channel.epg_mapping.epg_source_name = ''
              channel.epg_mapping.epg_channel_name = ''
          },

          resetToDefault () {
              this.filteredChannels.map(this.removeEPG)
          },

          mapping (epgChannel) {
              this.selectedChannel.epg_mapping.default = false
              this.selectedChannel.epg_mapping.epg_source_id = this.source.id
              this.selectedChannel.epg_mapping.epg_source_name = this.source.name
              this.selectedChannel.epg_mapping.epg_channel_id = epgChannel.id
              this.selectedChannel.epg_mapping.epg_channel_name = epgChannel.name
              this.selectNextChannel()
          },

          selectNextChannel () {
              let position = this.filteredChannels.indexOf(this.selectedChannel)
              if (position < 0 || position + 1 > this.filteredChannels.length - 1) {
                  return
              }
              this.selectedChannel = this.filteredChannels[++position]
              this.$scrollTo($('tr.active').get(0), 300, {
                  easing: 'ease-in',
                  offset: -60,
                  x: false,
                  y: true,
                  container: '#channel_scroller',
              })
          },


          getEPGChannel (epgChannelID) {
              return this.epgChannels.find(epgChannel => epgChannel.id === epgChannelID)
          },

          autoMapping () {
              this.searchStopped = false
              this.autoMappingProgress = 0
              this.foundedChannels = []
              this.$modal.show('mapping-modal')

              this.filteredChannels
                  .filter(channel => channel.epg_mapping.default)
                  .reduce((prev, current, index, array) => prev.then(() => {
                      if (this.searchStopped) {
                          return Promise.reject(ABORTED)
                      }
                      return Settings.EPGChannelMapping.searchEPG(this.source.id, current.id).then((result) => {
                          this.foundedForChannel = current
                          this.autoMappingProgress = Math.floor(index / array.length * 100)

                          if (result.partial_match) {
                              this.foundedChannels = result.partial_match.map(channel => ({
                                  id: channel.epg_channel_id,
                                  name: this.getEPGChannel(channel.epg_channel_id).name,
                                  source: this.source.name,
                              }))

                              return this.$refs.mappingModal.choiceChannel().then((channel) => {
                                  this.foundedChannels = []
                                  if (channel) {
                                      current.epg_mapping.default = false
                                      current.epg_mapping.epg_channel_name = channel.name
                                      current.epg_mapping.epg_channel_id = channel.id
                                      current.epg_mapping.epg_source_name = this.source.name
                                      current.epg_mapping.epg_source_id = this.source.id
                                  }
                              })
                          }
                          if (result.exact_match) {
                              current.epg_mapping.default = false
                              current.epg_mapping.epg_channel_name = this.getEPGChannel(result.exact_match.epg_channel_id).name
                              current.epg_mapping.epg_channel_id = result.exact_match.epg_channel_id
                              current.epg_mapping.epg_source_name = this.source.name
                              current.epg_mapping.epg_source_id = this.source.id
                          }

                      })
                  }),
                          Promise.resolve()
                  ).then(() => {
                      this.autoMappingProgress = 100
                      this.foundedChannels = []
                      setTimeout(() => this.$modal.hide('mapping-modal'), 1000)
                  }, (error) => {
                      this.$modal.hide('mapping-modal')
                      if (error != ABORTED) {
                          throw new Error(error)
                      }
                  })
          },

          resetSettings () {
              this.fetchData()
          },

          saveSettings () {
              const channels = this.channels
                                   .filter(channel => !channel.epg_mapping.default)
                                   .map(channel => ({
                                       id: channel.id,
                                       epg_source_id: channel.epg_mapping.epg_source_id,
                                       epg_channel_id: channel.epg_mapping.epg_channel_id,
                                   }))
              this.loading = true
              Settings.EPGChannelMapping.setChannels(channels)
                      .then(() => this.loading = false)
          },
      },

  }
</script>

<style>
  /* ----- epg ----- */
  .content h3 .glyphicon.glyphicon-info-sign{
      margin: -4px 0 0 5px;
      font-size: 16px;
      vertical-align: middle;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px #ffffff;
      position: relative;
      cursor: pointer;
  }
  .content h3 .glyphicon.glyphicon-info-sign:hover{
      color: #1d1d1d;
      box-shadow: inset 0 0 0 1px #1d1d1d;
  }
  .content h3 .glyphicon.glyphicon-info-sign:before{
      position: relative;
      z-index: 1;
  }
  .content h3 .glyphicon.glyphicon-info-sign:hover:after{
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      content: "";
      border-radius: 50%;
      background: #ffffff;
      z-index: 0;
  }
  .popover{
      max-width: 340px;
      margin: 10px 0 0 0;
      line-height: normal;
      border-radius: 0;
      border: 1px solid #5a5a5a;
      background: #3c3c3c;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
  }
  .popover .arrow{
      display: none;
  }
  .popover-content{
      padding: 10px 30px 10px 15px;
  }
  .popover .glyphicon.glyphicon-remove{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 11px;
      cursor: pointer;
  }
  .popover .glyphicon.glyphicon-remove:hover{
      color: #e95d0f;
  }
  .popover .glyphicon.glyphicon-remove:active{
      color: #3c3c3c;
  }
  .block_epg_filter{
      margin: 0 0 26px 0;
      padding: 15px 14px;
      text-align: center;
      border-radius: 3px;
      background: #282828;
  }
  .block_epg_filter:last-child{
      margin: 0;
  }
  .block_epg_filter .btn-primary{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 32%;
      margin: 0;
  }
  .block_epg_filter .btn-primary + .btn-primary{
      margin-left: 5px;
  }
  .block_epg_filter .dropdown, .block_epg_filter .dropdown-toggle{
      width: 100%;
  }
  .block_epg_title, .block_channel{
      margin: 0 0 12px 0;
  }
  .block_epg{
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_epg > .scrollbar-inner{
      height: 258px;
  }
  .table_epg td{
      height: 52px;
      padding: 0 14px;
      background: #5f5f5f;
      border-bottom: 2px solid #3c3c3c;
      cursor: default;
  }
  .table_epg tr:hover td{
      background: #828282;
  }
  .table_epg tr.active td{
      background: #314655;
  }
  .table_epg tr.active:hover td{
      background: #264f6e;
  }
  .table_epg td:nth-child(2){
      text-align: right;
  }
  .table_epg div.title.channel{
      margin: 0 0 3px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .table_epg div.title.source{
      margin: 0 0 3px 0;
  }

  .table_epg .holder_close{
      position: relative;
  }
  .table_epg .holder_close{
      padding: 0 30px 0 0;
  }
  .table_epg .holder_close.hidden{
      display: block !important;
      padding: 0;
  }
  .table_epg .holder_close.hidden .source_title{
      display: none;
  }
  .table_epg .holder_close .close{
      display: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
  }
  .table_epg .holder_close .close{
      display: block;
  }
  .table_epg .holder_close.hidden .close{
      display: none;
  }
  .table_epg .ico_arrow{
      display: none;
      width: 32px;
      height: 16px;
      margin: 0 10px 0 0;
      text-align: center;
      font-size: 16px;
      color: #3c3c3c;
      line-height: 13px;
      border-radius: 8px;
      background: #dddddd;
      cursor: pointer;
  }
  .table_epg .ico_arrow:hover{
      background: #ffffff;
  }
  .table_epg .ico_arrow:active{
      color: #0072c6;
  }
  .table_epg tr:hover .ico_arrow{
      display: inline-block; vertical-align: baseline;
  }
  @media screen and (max-width: 1460px){
      .block_epg_filter .btn-primary,
      .block_epg_filter .favorites {
          width: 32%;
      }
  }
  @media screen and (max-width: 900px){
      .block_epg_filter .btn-primary,
      .block_epg_filter .favorites {
          width: 31%;
      }
  }

  #channels_list td, #source_channels_list td {
      cursor: pointer;
  }

  #source_channels_list ::-moz-selection {
      background: transparent;
  }
  #source_channels_list ::-webkit-selection {
      background: transparent;
  }
  #source_channels_list ::selection {
      background: transparent;
  }

  .block_epg_filter .multiselect {
      width: 32%;
      display: inline-block;
      vertical-align: bottom;
      padding-right: 5px;
      min-width: auto;
  }

  .mapping_source .multiselect {
      display: block;
      width: 100%;
  }
</style>
