<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">

        <h3>{{ $t('epgSources.sources') }}</h3>

        <div class="block_sources">
          <div class="scrollbar-inner">
            <div :class="{loading}" id="sources_list">

              <div v-if="sources.length < 1" class="message">
                <div class="title">{{ $t('epgSources.emptySources') }}</div>
                <div class="description">{{ $t('epgSources.emptySourcesDescription') }}</div>
              </div>

              <div v-for="source in sources" :key="source.id" class="block_source">
                <div class="block_source_top">
                  <div class="title">{{ source.name }}</div>
                  &nbsp;
                  <div class="buttons">
                    <button :title="$t('epgSources.settings')" @click="settings(source.id)" v-if="source.has_settings" class="settings btn btn-primary"><span class="ico_scan"></span> {{ $t('epgSources.settings') }}</button>
                    <button :title="$t('epgSources.refresh')" @click="refresh(source.id)" class="refresh btn btn-primary"><span class="ico_scan"></span> {{ $t('epgSources.refresh') }}</button>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- .scrollbar-inner -->
        </div>

      </div>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
    <params-container-modal v-model="params" @save="saveSourceParams" />

  </div>
</template>

<script>
  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'
  import ParamsContainerModal from '@/components/ParamsContainerModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools.js'

  function updateContentHolderHeight () {
      Tools.customUpdateContentHolderHeight(
          0, '.block_sources > .scrollbar-inner', true, -45
      );
  }

  export default {
      name: 'epg-sources',
      components: {
          Spinner,
          ParamsContainerModal
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              loading: false,
              sources: [],
              params: {
                  source: '',
                  title: '',
                  description: '',
                  editable: [],
                  selectable: [],
              }
          }
      },
      methods: {
          fetchData: function () {
              this.loading = true
              Settings.EPGSources.get((sources) => {
                  this.sources = sources
                  this.loading = false
              });
          },

          refresh: function (sourceID) {
              this.loading = true
              Settings.EPGSources.refresh(sourceID, () => {
                  this.$modal.show('dialog', {
                      text: this.$i18n.t('epgSources.backgroundUpdate'),
                      buttons: [{
                          title: this.$i18n.t('common.ok'),
                      }]
                  })
                  this.loading = false
              });
          },

          saveSourceParams () {
              this.loading = true
              Settings.EPGSources.setSettings(this.params.source, {
                  ...this.params.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                  ...this.params.selectable.reduce((r, i) => (r[i.id] = String(i.selected_idx), r), {})
              }, () => {
                  this.$modal.hide('params-container-modal')
                  this.loading = false
              })
          },

          settings: function (sourceID) {
              this.loading = true
              Settings.EPGSources.getSettings(sourceID, (settings) => {
                  this.params.source = sourceID
                  this.params.title = settings.name
                  this.params.description = settings.description
                  this.$set(this.params, 'editable', settings.editable)
                  this.$set(this.params, 'selectable', settings.selectable)
                  this.$modal.show('params-container-modal');
                  this.loading = false
              })
          },
      }
  }
</script>

<style>
  .content_scroll_inn .txt{
      margin: -9px 0 12px 0;
  }
  .block_sources{
      margin: 0 0 15px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_source {
      margin: 0 0 2px 0;
      cursor: default;
  }
  .block_sources > .scrollbar-inner{
      height: 176px;
  }
  .block_source_top{
      padding: 8px 12px;
      background: #5f5f5f;
      position: relative;
  }
  .block_source_top:hover{
      background: #828282;
  }
  .block_source_top .title{
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .block_sources .block_source_top .buttons {
      position: absolute;
      width: auto;
      top: 10px;
      right: 15px;
  }
  .block_source_top .btn{
      position: initial;
      width: 135px;
  }
  .modal .btn-default {
      min-width: 100px;
  }
</style>
