<template>
  <div class="dbl-app-tvrecordings">
    <main-header @hamburgerClick="$emit('hamburgerClick')">
      <ul class="dbl-library-nav nav navbar-nav">
        <nav-bar-multilevel class="dbl-show-params" :title="$t('connect.filter')" :icon="['icon-filter']">
          <subtlebox class="dbl-categories" v-model="currentCategory" :label="$t('connect.categorySelector')"
                      :items="categories"
          >
            <template slot-scope="slotProps">
              <li role="presentation" class="dropdown-header">{{ slotProps.item.name }}</li>
              <li v-for="c in slotProps.item.items" :key="c.id">
                <input type="radio" :id="'item-' + c.id"
                       :checked="c.id === slotProps.value.id"
                       @change="slotProps.select(c)"
                />
                <label class="menu-open-button" :for="'item-' + c.id">
                  <span v-if="c.len > -1" class="badge">{{ c.len }}</span>{{ c.name }}<span class="subtlebox-icon icon icon-ok" aria-hidden="true"></span>
                </label>

              </li>
            </template>
          </subtlebox>
        </nav-bar-multilevel>

        <li v-if="1 || sendToSupported">
          <button @click="openSendToModal" type="button" :title="$t('connect.sendtoOptions')" class="dbl-sendto-link btn btn-link navbar-btn">
            <span class="icon icon-sendto" aria-hidden="true"></span>
          </button>
        </li>

        <li>
          <button @click="openSettings" type="button" :title="$t('connect.settingsPageTitle')" class="dbl-settings-link btn btn-link navbar-btn">
            <span class="icon icon-settings" aria-hidden="true"></span>
          </button>
        </li>

        <li>
          <button @click="toggleSelect" type="button" :title="hasSelectedPrograms ? $t('tvrecordings.deselectChannels') : $t('connect.selectAll')" class="dbl-toggle-select btn btn-link navbar-btn">
            <span class="glyphicon"
                  :class="{'glyphicon-unchecked': hasSelectedPrograms, 'glyphicon-check': !hasSelectedPrograms}"
              ></span>
          </button>
        </li>
      </ul>

      <free-space-indicator />
    </main-header>

    <player @close="playing.on = false" v-if="playing.on" :url="playing.url" :format="playing.format" :program="playing.meta" />


    <main class="main">
      <main class="container">

        <section class="dbl-program-list">
          <div v-if="!loading && !programs.length" class="dbl-no-programs">{{ $t('connect.programNotFoundMsg') }}</div>
          <section v-for="program in programs" :key="program.id"
                   class="dbl-program dbl-selectable"
                   :class="{'dbl-error': program.error}"
                   @click="openProgramDetails(program)"
          >
            <program :program="program" :selectable="true" @select="selectProgram" :selected="~programsSelected.indexOf(program)" />
          </section>
        </section>

      </main>

      <div v-if="programsSelected.length" class="dbl-group-selection selected-programs-available">

        {{ $tc('tvrecordings.selectedPrograms', programsSelected.length, {count: programsSelected.length}) }}

        <button :title="$t('tvrecordings.deselectChannels')"
                type="button"
                class="dbl-deselect btn btn-default"
                @click="unselectAllPrograms"
        >
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <button
            :disabled="selectedProgramsHasInProgress"
            :title="$t('tvrecordings.deleteTvRec') + (selectedProgramsHasInProgress ? $t('tvrecordings.recordingInProgress') : '')"
            type="button"
            class="dbl-record-delete btn btn-default"
            @click="removeSelectedPrograms"
        >
          <span class="icon icon-delete" aria-hidden="true"></span>
        </button>
        <button v-if="1 || sendToSupported"
                @click="sendto(programsSelected)"
                :disabled="selectedProgramsHasInProgress"
                :title="$t('connect.sendtoTitle') + (selectedProgramsHasInProgress ? $t('tvrecordings.recordingInProgress') : '')"
                type="button" class="dbl-sendto btn btn-default">
          <span class="icon icon-sendto" aria-hidden="true"></span>
        </button>
      </div>
    </main>

    <spinner :showed="loading" />
    <v-dialog />

    <program-details-modal :program="currentProgram" @select="selectProgram" :selectable="true" :selected="~programsSelected.indexOf(currentProgram)">

      <span class="dbl-play-holder">
        <div v-if="transcodingAlertShowing" class="tooltip left" role="tooltip">
          <div class="tooltip-arrow"></div>
          <div class="tooltip-inner">{{ $t('connect.transcodingNotSupportedWarn') }}</div>
        </div>

        <button @click="play(currentProgram)" :title="$t('tvrecordings.playTvRec')" class="dbl-play btn btn-default dbl-btn-xxl">
          <span class="icon icon-play" aria-hidden="true"></span>
        </button>
      </span>

      <button v-if="currentProgram.in_progress"
              :title="$t('tvrecordings.stopTvRec')"
              type="button"
              class="dbl-record-stop btn btn-default dbl-btn-xxl"
              @click="stopRecording(currentProgram)"
      >
        <span class="icon icon-stop" aria-hidden="true"></span>
      </button>

      <button v-if="currentProgram.can_be_deleted"
              :title="$t('tvrecordings.deleteTvRec')"
              type="button"
              class="dbl-record-delete btn btn-default dbl-btn-xxl"
              @click="removeRecording(currentProgram)"
      >
        <span class="icon icon-delete" aria-hidden="true"></span>
      </button>

      <button v-if="1 || sendToSupported" @click="sendto([currentProgram])" :disabled="currentProgram.in_progress"
              :title="$t('connect.sendtoTitle')" type="button" class="dbl-sendto btn btn-default dbl-btn-xxl">
        <span class="icon icon-sendto" aria-hidden="true"></span>
      </button>
    </program-details-modal>

    <connect-settings-modal @change="newSettigns" />
    <send-to-modal />
    <send-to-targets-modal :programs="sendtoPrograms" />

  </div>
</template>

<script>

  import MainHeader from '@/components/MainHeader.vue'
  import Program from '@/components/Program.vue'
  import Subtlebox from '@/components/Subtlebox.vue'
  import Spinner from '@/components/Spinner.vue'
  import NavBarMultilevel from '@/components/NavBarMultilevel.vue'
  import ProgramDetailsModal from '@/components/ProgramDetailsModal.vue'
  import Player from '@/components/Player.vue'
  import ConnectSettingsModal from '@/components/ConnectSettingsModal.vue'
  import SendToModal from '@/components/SendToModal.vue'
  import SendToTargetsModal from '@/components/SendToTargetsModal.vue'
  import FreeSpaceIndicator from '@/components/FreeSpaceIndicator.vue'


  import Connect from '@/api/connect'

  export default {
      name: 'TVRecordings',
      components: {
          MainHeader,
          Program,
          Spinner,
          Subtlebox,
          NavBarMultilevel,
          ProgramDetailsModal,
          Player,
          ConnectSettingsModal,
          SendToModal,
          SendToTargetsModal,
          FreeSpaceIndicator,
      },

      data () {
          return {
              loading: false,
              programs: [],
              currentProgram: {},

              categories: [],
              currentCategory: {},

              programsSelected: [],

              sendToSupported: false,

              playing: {
                  on: false,
                  url: '',
                  format: '',
                  meta: null,
              },

              transcoding: {
                  enabled: false,
              },

              sendtoPrograms: [],

              transcodingAlertShowing: false,
          }
      },

      created () {
          this.fetchData()
      },

      watch: {
          currentCategory (newValue) {
              this.selectCategory(newValue)
          },
      },

      computed: {
          selectedProgramsHasInProgress () {
              return this.programsSelected.filter(program => program.in_progress).length > 0
          },

          hasSelectedPrograms () {
              return Boolean(this.programsSelected.length)
          },
      },

      methods: {
          async fetchData () {
              this.loading = true
              this.transcoding = await Connect.Settings.Transcoding.get()
              const categories = await Connect.TVRecordings.getCategories()
              this.categories = categories
              this.loadSelectedCategory()
              this.loading = false
          },

          openProgramDetails (program) {
              this.currentProgram = program
              this.$modal.show('program-details-modal')
          },

          async selectCategory (category) {
              this.programs = []
              await this.getPrograms(category)
              this.saveSelectedCategory(category.id)
          },

          async getPrograms (category) {
              this.loading = true
              const programs = await Connect.TVRecordings.get(category.id)
              this.programs = programs
              this.loading = false
          },

          loadSelectedCategory () {
              if (!this.categories.length) {
                  return
              }
              const oldCategoryID = window.localStorage.getItem('tvrecordings.category')
              if (oldCategoryID) {
                  for (const category of this.categories) {
                      for (const item of category.items) {
                          if (item.id === oldCategoryID) {
                              this.currentCategory = item
                              return
                          }
                      }
                  }
              }
              for (const category of this.categories) {
                  for (const item of category.items) {
                      this.currentCategory = item
                      return
                  }
              }
          },
          saveSelectedCategory (categoryID) {
              window.localStorage.setItem(
                  'tvrecordings.category', categoryID
              )
          },

          selectProgram (program, isSelect) {
              if (isSelect) {
                  this.programsSelected.push(program)
              } else {
                  this.programsSelected.splice(this.programsSelected.indexOf(program), 1)
              }
          },

          unselectAllPrograms () {
              this.programsSelected.splice(0, this.programsSelected.length)
          },
          selectAllPrograms () {
              this.unselectAllPrograms()
              this.programs.map(program => this.programsSelected.push(program))
          },

          removeSelectedPrograms () {
              this.$modal.show('dialog', {
                  text: this.$t('tvrecordings.multiplyDeleteMediaItemMsg'),
                  buttons: [{
                      title: this.$t('common.no'),
                      default: true,
                  }, {
                      title: this.$t('common.yes'),
                      handler: async () => {
                          this.loading = true
                          await Connect.TVRecordings.remove(
                              this.programsSelected.map(program => program.id)
                          )
                          this.$modal.hide('dialog')
                          this.unselectAllPrograms()
                          this.fetchData()
                      }
                  }]
              })

          },

          stopRecording (currentProgram) {
              this.$modal.show('dialog', {
                  text: this.$t('tvrecordings.stopRecordingMsg'),
                  buttons: [{
                      title: this.$t('common.no'),
                      default: true,
                  }, {
                      title: this.$t('common.yes'),
                      handler: async () => {
                          this.loading = true
                          await Connect.TVRecordings.stop(currentProgram.id)
                          this.$modal.hide('dialog')
                          this.fetchData()
                      }
                  }]
              })
          },

          removeRecording (currentProgram) {
              this.$modal.show('dialog', {
                  text: this.$t('tvrecordings.deleteMediaItemMsg'),
                  buttons: [{
                      title: this.$t('common.no'),
                      default: true,
                  }, {
                      title: this.$t('common.yes'),
                      handler: async () => {
                          this.loading = true
                          await Connect.TVRecordings.remove([currentProgram.id])
                          this.$modal.hide('dialog')
                          this.$modal.hide('program-details-modal')
                          this.fetchData()
                      }
                  }]
              })
          },

          async play (currentProgram) {
              if (!this.transcoding.enabled) {
                  this.showTransodingAlert()
                  return
              }
              const FORMAT = 'hls'
              const url = await Connect.Stream.getUrl({
                  recording: currentProgram.id,
                  format: FORMAT,
              }, this.transcoding)
              this.playing.url = url
              this.playing.format = FORMAT
              this.playing.meta = currentProgram
              this.playing.on = true
              this.$modal.hide('program-details-modal')
          },

          openSettings () {
              this.$modal.show('connect-settings-modal')
          },

          async newSettigns () {
              this.transcoding = await Connect.Settings.Transcoding.get()
          },

          openSendToModal () {
              this.$modal.show('send-to-modal')
          },

          sendto (programs) {
              this.sendtoPrograms = programs
              this.$modal.show('send-to-targets-modal')
          },

          showTransodingAlert () {
              this.transcodingAlertShowing = true
              setTimeout(() => this.transcodingAlertShowing = false, 3000)
          },

          toggleSelect () {
              if (this.hasSelectedPrograms) {
                  this.unselectAllPrograms()
              } else {
                  this.selectAllPrograms()
              }
          },
      },
  }
</script>

<style lang="scss">
  .dbl-app-tvrecordings {
      height: 100%;
      margin-top: 20px;

      .dbl-categories .badge {
          float: right;
          position: relative;
      }

      @media (min-width: 768px) {
          .dbl-categories.subtlebox.open .dropdown-menu {
              min-width: 250px;
          }
      }

      .dbl-toggle-select .glyphicon {
          font-size: 60%;
      }
  }
</style>
