<template>
  <div id="channels-visibility">
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn">

        <h3>{{ $t('visibility.channelVisibility') }}</h3>
        <div class="txt">{{ $t('visibility.enableOrDisableIndividualChannels') }}</div>
        <div class="block_channel_visibility_filter clearfix">
          <div class="fl_left">

            <div class="dropdown">
              <input name="provider_id" id="provider_id" value="" type="hidden">
              <button class="btn dropdown-toggle" type="button" id="providers_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><u>{{ $t('visibility.allProviders') }}</u> <span class="caret"></span></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <div class="scrollbar-outer">
                  <ul id="providers_list" class="loading"></ul>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <input name="transponder_id" id="provider_id" value="" type="hidden">
              <button class="btn dropdown-toggle disabled" type="button" id="transponders_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><u>{{ $t('visibility.allTransponders') }}</u> <span class="caret"></span></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <div class="block_search_dropdown">
                  <div class="input-group">
                    <input id="transponder_query" type="text" class="form-control query" :placeholder="$t('common.search')">
                    <span id="transponder_empty_query" class="glyphicon glyphicon-remove hidden"></span>
                    <div class="input-group-btn">
                      <button id="transponder_search" class="btn checker" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                  </div>
                </div>
                <div class="block_search_dropdown_info hidden">{{ $t('common.noItemsFound') }}</div>
                <div class="scrollbar-outer long">
                  <ul id="transponders_list" class="loading"></ul>
                </div>
              </div>
            </div>
            <div class="block_search">
              <div class="input-group">
                <input id="query" type="text" class="form-control query" :placeholder="$t('common.search')">
                <span id="empty_query" class="glyphicon glyphicon-remove hidden"></span>
                <div class="input-group-btn">
                  <button id="search" class="btn checker" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="fl_right">
            <a id="checker_unchecker" href="javascript:void(0)" class="btn btn-primary btn_check" role="button"><span class="glyphicon glyphicon-check"></span></a>
          </div>
        </div>
        <div class="block_channel_visibility">
          <div class="scrollbar-inner">
            <ul id="channels_list" class="loading"></ul>
          </div>
        </div>
      </div>
    </div>

    <div class="block_buttons text-right">
      <button id="cancel" class="btn btn-link">{{ $t('common.cancel') }}</button>
      <button id="save" class="btn btn-default">{{ $t('common.save') }}</button>
    </div>

    <script type="text/html" id="provider-tmpl">
      <a data-value="<%- id %>"><%- name %></a>
    </script>

    <script type="text/html" id="transponder-tmpl">
      <a data-value="<%- id %>" data-name="<%- name %>"><%- name %></a>
    </script>

    <script type="text/html" id="channel-tmpl">
      <div class="title" data-name="<%- name %>"><%- name %>
        <% if (number) { %>
        <span class="label label-default" v-if="channel.number"><%- number %></span>
        <% } %>
      </div>
      <%- type %>, <% if (encrypted) { %>{{ $t('visibility.encrypted') }}<% } else { %>{{ $t('visibility.free') }}<% } %><% if (origin) { %>, <%- origin %><% } %><% if (comment) { %> - <%- comment %><% } %>
      <div class="block_checkbox"><input class="niceCheck" type="checkbox" id="checkbox_<%- id %>" name="visible[]" <%= visible ?  ' checked="checked"' : '' %> value="<%- id %>" data-id="<%- id %>"><label for="checkbox_<%- id %>"></label></div>
    </script>
  </div>
</template>

<script>

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import 'lodash'
  import 'backbone'

  import Tools from '@/tools.js'

  function updateContentHolderHeight () {
      Tools.updateContentHolderHeight();
      var contentScrollInn = $('.content_scroll_inn').innerHeight();
      var header = $('.content_scroll_inn > h3').innerHeight() + 30;
      var txt = $('.content_scroll_inn > .txt').innerHeight() + 6;
      var visibilityFilter = $('.block_channel_visibility_filter')
          .innerHeight();
      $('.block_channel_visibility > .scrollbar-inner').css(
          'height',
          `${ contentScrollInn - header - txt - visibilityFilter }px`
      );
  }

  export default {
      name: 'channels-visibility',
      mounted: function () {
          window.i18n = {
              all: this.$t('common.all')
          }

          require('./../backboned/ChannelsVisibility/models.js')
          require('./../backboned/ChannelsVisibility/views.js')

          var App = window.App || (window.App = {});
          var Views = App.Views || (App.Views = {});

          this.channelsVisibility = new Views.ChannelVisibility.App({
              el: $('#channels-visibility')
          });

          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      destroyed: function () {
          this.channelsVisibility.destroy();
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      }
  }
</script>

<style lang="scss">
      /* ----- channel_visibility ----- */
      .content_scroll_inn .txt{
          margin: -9px 0 12px 0;
      }
      .block_channel_visibility_filter{
          margin: 0 0 15px 0;
          padding: 15px 14px;
          border-radius: 3px;
          background: #282828;
      }
      .block_channel_visibility_filter .dropdown{
          width: 230px;
          margin: 0 6px 0 0;
      }
      .block_channel_visibility_filter .dropdown-toggle{
          width: 100%;
      }
      .block_channel_visibility_filter .block_search{
          display: inline-block; vertical-align: top;
          width: 230px;
      }
      .block_channel_visibility_filter .block_search .form-control{
          padding-right: 30px;
          position: relative;
          z-index: 1;
      }
      .block_channel_visibility_filter .block_search .form-control:focus{
          position: relative;
          z-index: 2;
      }
      .block_channel_visibility_filter .block_search .input-group-btn{
          z-index: 1;
      }
      .block_channel_visibility_filter .block_search .btn{
          height: 30px;
          padding: 0 12px;
          color: #ffffff !important;
          border: 1px solid #5a5a5a;
          background: #1d1d1d !important;
          outline: none !important;
          transition: all 0.25s ease 0s;
      }
      .block_channel_visibility_filter .block_search .btn:hover{
          border: 1px solid #acacac !important;
      }
      .block_channel_visibility_filter .block_search .btn span{
          transition: all 0.25s ease 0s;
          opacity: 0.75;
      }
      .block_channel_visibility_filter .block_search .btn:hover span{
          opacity: 1;
      }
      .block_channel_visibility_filter .block_search .input-group > .glyphicon-remove{
          position: absolute;
          top: 50%;
          right: 50px;
          font-size: 10px;
          transform: translateY(-50%);
          opacity: 0.75;
          cursor: pointer;
          z-index: 3;
      }
      .block_channel_visibility_filter .block_search .input-group > .glyphicon-remove:hover{
          opacity: 1;
      }
      .block_channel_visibility_filter .btn-primary{
          width: 135px;
          margin: 0 0 0 6px;
      }
      .block_channel_visibility_filter .wa{
          width: auto;
      }
      .block_channel_visibility{
          padding: 2px;
          border-radius: 3px;
          border: 1px solid #5a5a5a;
      }
      .block_channel_visibility > .scrollbar-inner{
          height: 320px;
      }
      .block_channel_visibility ul{
          margin: 0;
          padding: 0;
          list-style: none;
      }
      .block_channel_visibility li{
          margin: 0 0 2px 0;
          padding: 8px 12px 7px 12px;
          background: #5f5f5f;
          position: relative;
          cursor: default;
      }
      .block_channel_visibility li:hover{
          background: #828282;
      }
      .block_channel_visibility li:last-child{
          margin: 0;
      }
      .block_channel_visibility li.active{
          background: #5a5a5a;
      }
      .block_channel_visibility .title{
          margin: 0 0 4px 0;
          font-size: 16px;
          font-weight: bold;
      }
      .block_channel_visibility .block_checkbox{
          position: absolute;
          top: 9px;
          right: 15px;
      }




  #channels-visibility {

      .dropdown-toggle{
          height: 30px;
          padding: 0 30px 0 14px;
          text-align: left;
          font-size: 13px;
          color: #ffffff !important;
          text-shadow: none !important;
          border: 1px solid #5a5a5a !important;
          background: #1d1d1d !important;
          box-shadow: none !important;
          outline: none !important;
          position: relative;
      }
      .dropdown-toggle:focus{
          border: 1px solid #acacac !important;
      }
      .dropdown-toggle u{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 14px;
          right: 30px;
          text-decoration: none !important;
          line-height: 30px;
          overflow: hidden;
      }
      .dropdown-toggle span{
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
      }
      .dropdown-menu{
          min-width: 100%;
          max-width: 150%;
          font-size: 13px;
          border: 1px solid #5a5a5a !important;
          background: #1d1d1d !important;
          box-shadow: 0 4px 14px rgba(0,0,0,.4);
      }
      .dropdown-menu.right{
          left: auto;
          right: 0;
      }
      .dropdown-menu .scrollbar-outer{
          height: auto !important;
          max-height: 122px;
      }
      .dropdown-menu .scrollbar-outer.long{
          max-height: 244px;
      }
      .dropdown-menu ul{
          display: inline-block; vertical-align: top;
          min-width: 100%;
          margin: 0;
          padding: 0;
          list-style: none;
      }
      .dropdown-menu > li > a, .dropdown-menu ul > li > a{
          display: block;
          padding: 6px 14px;
          text-decoration: none !important;
          font-size: 13px;
          color: #ffffff !important;
          line-height: 1.42857143;
      }
      .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu ul > li > a:hover, .dropdown-menu ul > li > a:focus, .dropdown-menu ul > li.active > a{
          background: #2c2c2c;
      }
      .dropdown-menu .scrollbar-outer > .scroll-element.scroll-x, .dropdown-menu .scrollbar-outer > .scroll-element.scroll-y {
          background: #1d1d1d;
      }
      .dropdown-menu .scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer{
          height: 5px;
          top: 5px;
      }
      .dropdown-menu .scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer{
          left: 3px;
          width: 5px;
      }
      .dropdown-menu .scrollbar-outer > .scroll-element .scroll-element_track{
          background-color: #171717;
      }
      .dropdown-menu .scrollbar-outer > .scroll-element .scroll-bar, .dropdown-menu .scrollbar-outer > .scroll-element .scroll-bar:hover, .dropdown-menu .scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
          background-color: #454545;
      }
  }
</style>
