<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn">

        <h3>{{ $t('properties.properties') }}</h3>
        <div class="txt">{{ $t('properties.propertiesText') }}</div>

        <div class="block_channel_visibility_filter clearfix">
          <span>
            <multiselect v-model="favorite" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="favorites" placeholder="" :show-labels="false"></multiselect>
            <span class="form-group has-feedback">
              <input v-model="searchString" type="text" class="form-control search" :placeholder="$t('common.search')">
              <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </span>
          </span>
          <span class="pull-right">
            <button :title="$t('properties.autoNumbers')" @click="autoNumber()" :disabled="filteredChannels.length < 1" class="btn btn-primary wa">{{ $t('properties.autoNumbers') }}</button>
            <button :title="$t('properties.resetToDefault')" @click="resetToDefault()" :disabled="filteredChannels.length < 1" class="btn btn-primary wa"><span class="ico ico_reset"></span> {{ $t('properties.resetToDefault') }}</button>
          </span>
        </div>

        <div class="block_channel_properties_title sorter_header clearfix">
          <div @click="sortBy('name')" class="fl_left table_label" :title="$t('properties.channel')">
            <span class="title">{{ $t('properties.channel') }}</span>
            <span :class="{'glyphicon-triangle-bottom': sort.reverse, 'glyphicon-triangle-top': !sort.reverse}"
                  v-if="sort.field === 'name'"
                  class="glyphicon">
            </span>
          </div>
          <div @click="sortBy('number')" class="fl_right table_label number" :title="$t('properties.number')">
            <span class="title">{{ $t('properties.number') }}</span>
            <span :class="{'glyphicon-triangle-bottom': sort.reverse, 'glyphicon-triangle-top': !sort.reverse}"
                  v-if="sort.field === 'number'"
                  class="glyphicon">
            </span>
          </div>
          <div @click="sortBy('oname')" class="fl_right table_label oname" :title="$t('properties.name')">
            <span class="title">{{ $t('properties.name') }}</span>
            <span :class="{'glyphicon-triangle-bottom': sort.reverse, 'glyphicon-triangle-top': !sort.reverse}"
                  v-if="sort.field === 'oname'"
                  class="glyphicon">
            </span>
          </div>
        </div>
        <div class="block_channel_properties">
          <div class="scrollbar-inner">
            <table id="channels_list" class="table_epg loading">

              <tr v-for="channel in sortedChannels" :key="channel.id">
                <td>
                  <div class="title">
                    {{ channel.name }}
                    <span class="label label-default" v-if="channel.properties.overwrite_number">
                      {{ channel.properties.overwrite_number }}
                    </span>
                    <span class="label label-default" v-if="channel.number && !channel.properties.overwrite_number">
                      {{ channel.number }}
                    </span>
                  </div>
                  {{ channel.type }}
                </td>
                <td>
                  <input class="name"
                         type="text"
                         :placeholder="channel.name"
                         v-model.lazy="channel.properties.overwrite_name"
                  />
                  <input :placeholder="channel.number"
                         type="text" max="9999" min="1"
                         v-model.lazy="channel.properties.overwrite_number"
                  />
                </td>
              </tr>

            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t('common.cancel') }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t('common.save') }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />

  </div>
</template>

<script>

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools.js'

  function updateContentHolderHeight () {
      Tools.updateContentHolderHeight();
      var contentScrollInn = $('.content_scroll_inn').innerHeight();
      var header = $('.content_scroll_inn > h3').innerHeight() + 23;
      var txt = $('.content_scroll_inn > .txt').innerHeight() + 25;
      var visibilityFilter = $('.block_channel_visibility_filter')
          .innerHeight() + 25;
      $('.block_channel_properties > .scrollbar-inner').css(
          'height',
          `${ contentScrollInn - header - visibilityFilter - txt }px`
      );
  }

  function splitChannelNumber (channelNumber) {
      return channelNumber.split('.')
  }

  function sortChannelsByName (a, b) {
      return a.name.localeCompare(b.name)
  }

  function sortChannelsByOverwriteName (a, b) {
      return (a.properties.overwrite_name || a.name).localeCompare(b.properties.overwrite_name || b.name)
  }

  function sortChannelsByNumber (a, b) {
      if ((typeof a.number === 'undefined') && !a.properties.overwrite_number) {
          return 1
      }
      if ((typeof b.number === 'undefined') && !b.properties.overwrite_number) {
          return -1
      }
      const [an, asn] = splitChannelNumber(a.properties.overwrite_number || a.number)
      const [bn, bsn] = splitChannelNumber(b.properties.overwrite_number || b.number)
      return an - bn || asn - bsn
  }

  export default {
      name: 'channels-properties',
      components: {
          Spinner,
      },
      mounted () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created () {
          this.fetchData()
      },
      data: () => ({
          loading: false,
          channels: [],
          favorites: [],
          favorite: {},
          visibleChannelsID: [],
          searchString: '',
          sort: {
              reverse: false,
              field: 'name',
          },
      }),
      watch: {
          favorite ({id}) {
              this.fetchChannelsByFavorite(id)
          },
      },
      computed: {
          filteredChannels () {
              if (this.visibleChannelsID === null && !this.searchString) {
                  return this.channels
              }
              let channels = this.channels;
              if (this.visibleChannelsID != null) {
                  channels = channels.filter(channel => (this.visibleChannelsID.indexOf(channel.id) > -1))
              }
              if (this.searchString.length) {
                  channels = channels.filter(channel => (channel.name.toLocaleLowerCase().indexOf(this.searchString.toLocaleLowerCase()) > -1))
              }
              return channels
          },

          sortedChannels () {
              const SORT_BY_FIELD = {
                  name: (a, b) => (sortChannelsByName(a, b) * (this.sort.reverse ? -1 : 1)),
                  oname: (a, b) => (sortChannelsByOverwriteName(a, b) * (this.sort.reverse ? -1 : 1)),
                  number: (a, b) => (sortChannelsByNumber(a, b) * (this.sort.reverse ? -1 : 1)),
              }
              return [...this.filteredChannels].sort(SORT_BY_FIELD[this.sort.field])
          }
      },
      methods: {
          fetchData () {
              this.loading = true
              Promise.all([
                  Settings.ChannelsProperties.getFavorites()
                          .then((favorites) => {
                              this.favorites = [{
                                      name: this.$t('common.all'),
                                      id: '',
                                  },
                                  ...favorites
                              ]
                              this.favorite = this.favorites[0]
                          }),
                  Settings.ChannelsProperties.getChannels()
                          .then((channels) => {
                              this.channels = channels
                          }),
              ])
                     .then(() => {
                         this.loading = false
                     })
          },

          fetchChannelsByFavorite (id) {
              if (id.length < 1) {
                  this.visibleChannelsID = null
                  this.selectedChannel = this.channels[0]
                  return
              }
              this.loading = true
              Settings.ChannelsProperties.getChannelsByFavorite(id)
                      .then(channels => {
                          this.visibleChannelsID = channels
                          this.loading = false
                      })
          },

          sortBy (field) {
              if (field === this.sort.field) {
                  this.sort.reverse = !this.sort.reverse
                  return
              }
              this.sort.field = field
              this.sort.reverse = false
          },

          autoNumber () {
              let number = this.getHighChannelNumber()
              this.sortedChannels
                  .filter(channel => !channel.properties.overwrite_number || channel.properties.overwrite_number === '-1')
                  .forEach(channel => channel.properties.overwrite_number = String(++number))
          },

          getHighChannelNumber () {
              let [last] = this.filteredChannels
                               .map(channel => channel.properties.overwrite_number || -1)
                               .filter(number => number > -1)
                               .map(number => parseInt(Math.floor(number)))
                               .sort((a, b) => a - b)
                               .slice(-1)
              return last || 0
          },

          removeParams (channel) {
              channel.properties.overwrite_number = ''
              channel.properties.overwrite_subnumber = ''
              channel.properties.overwrite_name = ''
          },

          resetToDefault () {
              this.filteredChannels.forEach(this.removeParams)
          },

          resetSettings () {
              this.fetchData()
          },

          saveSettings () {
              let channels = this.channels
                                 .filter(channel => (channel.properties.overwrite_name || channel.properties.overwrite_number))
                                 .map(channel => ({
                                     id: channel.id,
                                     overwrite_name: channel.properties.overwrite_name,
                                     overwrite_number: channel.properties.overwrite_number,
                                 }))
              this.loading = true
              Settings.ChannelsProperties.setChannels(channels)
                      .then(() => this.loading = false)
          },

      },
  }
</script>



<style>
  /* ----- channel_properties ----- */
  .block_channel_properties_title, .block_channel_properties{
      margin: 0 0 12px 0;
  }
  .block_channel_properties_title {
      margin-right: 20px;
  }

  .block_channel_properties_title .fl_left, .block_channel_properties_title .fl_right{
      padding: 0 14px 0 14px;
      font-weight: normal;
  }
  .block_channel_properties_title .sort{
      cursor: pointer;
  }
  .block_channel_properties{
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_channel_properties > .scrollbar-inner{
      height: 258px;
  }
  .block_channel_properties td{
      height: 52px;
      padding: 0 14px;
      background: #5a5a5a;
      border-bottom: 2px solid #3c3c3c;
  }
  .block_channel_properties tr:last-child td{
      border-bottom: 0;
  }
  .block_channel_properties tr.active td{
      background: #3c3c3c;
  }
  .block_channel_properties td:nth-child(2){
      text-align: right;
  }
  .block_channel_properties .title{
      margin: 0 0 2px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .block_channel_properties input{
      width: 30%;
      max-width: 130px;
  }
  .block_channel_properties input.name {
      margin-right: 15px;
  }
  .block_channel_properties input::-webkit-input-placeholder{
      opacity: 0.5;
  }
  .block_channel_properties input::-moz-placeholder{
      opacity: 0.5;
  }
  .block_channel_properties input:-ms-input-placeholder{
      opacity: 0.5;
  }
  .block_channel_properties input:-moz-placeholder{
      opacity: 0.5;
  }
  .block_channel_properties input:focus::-webkit-input-placeholder{
      opacity: 1;
  }
  .block_channel_properties input:focus::-moz-placeholder{
      opacity: 1;
  }
  .block_channel_properties input:focus:-ms-input-placeholder{
      opacity: 1;
  }
  .block_channel_properties input:focus:-moz-placeholder{
      opacity: 1;
  }

  .block_channel_properties_title .table_label {
      text-align: center;
      margin: 0;
      padding: 0;
  }


  .block_channel_visibility_filter .multiselect {
      display: inline-block;
      line-height: 20px;
      width: 30%;
      min-width: 50px;
      margin: 0;
  }

  .block_channel_visibility_filter .search {
      width: calc(30% - 5px);
      margin: 0 0 0 5px;
  }

  .block_search .input-group .form-control {
      border-radius: 3px;
  }

  .block_channel_visibility_filter .btn.wa {
      width: calc(15vw - 5px);
      margin: 0 0 0 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .block_channel_visibility_filter .form-control {
      max-width: 200px;
      display: inline-block;
  }

  .block_channel_visibility_filter .form-control-feedback {
      top: -8px;
      color: #888;
  }

  .block_channel_properties_title > * {
      cursor: default;
  }

  .block_channel_properties_title .table_label.number,
  .block_channel_properties_title .table_label.oname {
      width: 155px;
  }

  .block_channel_properties_title .table_label.number .title,
  .block_channel_properties_title .table_label.oname .title  {
      max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
  }

  #channels_list .label.label-default {
      display: inline-block;
      padding: 0 4px;
      margin: 0;
      font-weight: bold;
      line-height: inherit;
      height: auto;
      font-size: 12px;
      color: #5a5a5a;
      border-radius: 2px;
      background: #fdfdfd;
      vertical-align: top;
  }

  .block_channel_properties_title .table_label .glyphicon {
      margin-left: 4px;
  }
</style>
