<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn">

        <div class="row">
          <div class="block_epg_column col-lg-7 col-sm-7 col-xs-7">
            <h3>{{ $t('logos.automaticLogoAssignment') }}</h3>
            <div class="block_epg_filter">
              <multiselect v-model="favorite" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="favorites" placeholder="" :show-labels="false"></multiselect>
              <button @click="resetToDefault()" :disabled="filteredChannels.length < 1" class="btn btn-primary"><span class="ico ico_reset"></span> {{ $t('logos.resetToDefault') }}</button>
              <button @click="autoMapping()" :disabled="filteredChannels.length < 1" class="btn btn-primary"><span class="ico ico_auto"></span> {{ $t('logos.auto') }}</button>
            </div>

            <table class="table_channel_logo table_header">
              <col width="44%">
              <col width="100px">
              <col width="44%">
              <tr>
                <th>{{ $t('logos.name') }}</th>
                <th>{{ $t('logos.thumb') }}</th>
                <th>{{ $t('logos.id') }}</th>
              </tr>
            </table>
            <div class="block_epg">
              <div class="scrollbar-inner" id="channel_scroller">
                <table id="channels_list" class="table_channel_logo table_content loading">
                  <col width="44%">
                  <col width="100px">
                  <col width="44%">
                  <tr v-for="channel in filteredChannels" :key="channel.id"
                      :class="{active: selectedChannel === channel}"
                      @click="selectedChannel = channel"
                  >
                    <td>
                      <div class="title channel">
                        {{ channel.name }}
                        <span class="label label-default" v-if="channel.number">
                          {{ channel.number }}
                        </span>
                      </div>
                      {{ channel.type }}
                    </td>
                    <td class="image">
                      <img v-if="channel.logo.url || channel.logo.default" class="channel_logo" :src="channel.logo.url || channel.logo.default">
                    </td>

                    <td class="mapped">
                      <div class="holder_close">
                        <div class="overflow">
                          <span>{{ channel.logo.id }}</span>
                        </div>
                        <button
                            v-if="channel.logo.id"
                            @click="removeLogo(channel)"
                            type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="block_epg_column col-lg-5 col-sm-5 col-xs-5">
            <h3>{{ $t('logos.availableLogos') }}</h3>
            <div class="block_epg_filter mapping_source">
              <multiselect v-model="logosPackage" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="logosPackages" placeholder="" :show-labels="false"></multiselect>
            </div>
            <table class="table_channel_logo table_header">
              <col width="44%">
              <col width="44%">
              <col width="100px">
              <tr>
                <th>{{ $t('logos.id') }}</th>
                <th>{{ $t('logos.name') }}</th>
                <th>{{ $t('logos.thumb') }}</th>
              </tr>
            </table>
            <div class="block_epg">
              <div class="scrollbar-inner">
                <table id="package_logos_list" class="table_channel_logo table_content loading">
                  <col width="44%">
                  <col width="44%">
                  <col width="100px">
                  <tr v-for="logo in logos" :key="logo.id"
                      @dblclick="mapping(logo)">
                    <td>
                      <div>
                        <span @click="mapping(logo)" v-if="selectedChannel" class="ico_arrow">⟵</span> <span class="title">{{ logo.id }}</span>
                      </div>
                    </td>
                    <td><div class="overflow"><span>{{ logo.name }}</span></div></td>
                    <td><img class="channel_logo" :src="logo.url" alt=""></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t('common.cancel') }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t('common.save') }}</button>
    </div>

    <spinner :showed="firstLoading || loading" />
    <v-dialog />

    <mapping-modal :channels="foundedChannels"
                   :channel="foundedForChannel"
                   :progress="autoMappingProgress"
                   ref="mappingModal"
                   @cancel="searchStopped = true"
    >
      <template slot="labels">
        <table class="table_channel_logo table_header">
          <col width="44%">
          <col width="44%">
          <col width="100px">
          <tr>
            <th>{{ $t('logos.id') }}</th>
            <th>{{ $t('logos.name') }}</th>
            <th>{{ $t('logos.thumb') }}</th>
          </tr>
        </table>
      </template>
      <template slot="item" slot-scope="slotProps">
        <td><div class="overflow"><span class="title">{{ slotProps.channel.id }}</span></div></td>
        <td><div class="overflow"><span>{{ slotProps.channel.name }}</span></div></td>
        <td class="image"><img class="channel_logo" :src="slotProps.channel.url" alt=""></td>
      </template>

    </mapping-modal>


  </div>
</template>

<script>

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Vue from 'vue'

  import VueScrollTo from 'vue-scrollto'

  import Spinner from '@/components/Spinner.vue'
  import MappingModal from '@/components/MappingModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools.js'

  const ABORTED = 'aborted'

  Vue.use(VueScrollTo)

  function updateContentHolderHeight () {
      Tools.updateContentHolderHeight();
      var contentScrollInn = $('.content_scroll_inn').innerHeight();
      var header = $('.content_scroll_inn h3:eq(0)').innerHeight() + 50;
      var blockEpg = $('.block_epg_filter:eq(0)').innerHeight();
      var tableHeader = $('.table_channel_logo.table_header:eq(0)')
          .innerHeight();
      $('.block_epg_column .scrollbar-inner').css(
          'height',
          `${ contentScrollInn - header - tableHeader - blockEpg }px`
      );
  }

  export default {
      name: 'channels-logos',
      components: {
          Spinner,
          MappingModal,
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              firstLoading: false,
              loading: false,

              channels: [],
              favorites: [],
              logosPackages: [],
              logosPackage: {},

              favorite: {},

              channelsFiltred: false,
              visibleChannelsID: [],
              logos: [],

              selectedChannel: null,

              foundedChannels: [],
              autoMappingProgress: 0,
              foundedForChannel: null,
              searchStopped: false,
          }
      },
      watch: {
          favorite ({id}) {
              this.fetchChannelsByFavorite(id)
          },
          logosPackage ({id}) {
              this.fetchLogosPackage(id)
          },
      },
      computed: {
          filteredChannels () {
              if (!this.channelsFiltred) {
                  return this.channels
              }
              return this.channels.filter(channel => (this.visibleChannelsID.indexOf(channel.id) > -1))
          },
      },
      methods: {
          fetchData () {
              this.firstLoading = true
              Promise.all([
                  Settings.ChannelsLogos.getFavorites()
                          .then((favorites) => {
                              this.favorites = [{
                                  name: this.$t('common.all'),
                                  id: '',
                              },
                              ...favorites
                              ]
                              this.favorite = this.favorites[0]
                          }),

                  Settings.ChannelsLogos.getLogosPackages()
                          .then((packages) => {
                              this.logosPackages = packages.sort((a, b) => a.name.localeCompare(b.name))
                              this.logosPackage = this.logosPackages[0]
                          }),

                  Settings.ChannelsLogos.getChannels()
                          .then((channels) => {
                              this.channels = channels.sort((a, b) => a.name.localeCompare(b.name))
                              this.selectedChannel = this.channels[0]
                          }),
              ])
                     .then(() => {
                         this.firstLoading = false
                     })
          },

          fetchChannelsByFavorite (id) {
              if (id.length < 1) {
                  this.channelsFiltred = false
                  this.selectedChannel = this.channels[0]
                  return
              }
              this.loading = true
              Settings.ChannelsLogos.getChannelsByFavorite(id)
                      .then(channels => {
                          this.visibleChannelsID = channels
                          this.channelsFiltred = true
                          this.selectedChannel = this.filteredChannels[0]
                          this.loading = false
                      })
          },

          fetchLogosPackage (id) {
              this.loading = true
              Settings.ChannelsLogos.getLogosPackage(id)
                      .then(logos => {
                          this.logos = logos
                          this.loading = false
                      })
          },


          resetToDefault () {
              this.filteredChannels.map(this.removeLogo)
          },

          getLogo (logoID) {
              return this.logos.find(logo => logo.id === logoID)
          },

          autoMapping () {
              this.searchStopped = false
              this.autoMappingProgress = 0
              this.foundedChannels = []
              this.$modal.show('mapping-modal')

              this.filteredChannels
                  .filter(
                      channel => (!channel.logo.id)
                  ).reduce(
                      (prev, current, index, array) => prev.then(() => {
                          if (this.searchStopped) {
                              return Promise.reject(ABORTED)
                          }
                          return Settings.ChannelsLogos.searchLogo(this.logosPackage.id, current.id).then((result) => {
                              this.foundedForChannel = current
                              this.autoMappingProgress = Math.floor(index / array.length * 100)
                              if (result.partial_match) {
                                  this.foundedChannels = result.partial_match.map(logo => {
                                      const intLogo = this.getLogo(logo.id)
                                      return {
                                          id: logo.id,
                                          name: intLogo.name,
                                          url: intLogo.url,
                                      }
                                  })
                                  return this.$refs.mappingModal.choiceChannel().then((logo) => {
                                      this.foundedChannels = []
                                      if (logo) {
                                          current.logo.id = logo.id
                                          current.logo.url = logo.url
                                      }
                                  })
                              }
                              if (result.exact_match) {
                                  current.logo.id = result.exact_match.id
                                  current.logo.url = this.getLogo(result.exact_match.id).url
                              }

                          })
                      }),
                      Promise.resolve()
                  ).then(() => {
                      this.autoMappingProgress = 100
                      this.foundedChannels = []
                      setTimeout(() => this.$modal.hide('mapping-modal'), 1000)
                  }, (error) => {
                      this.$modal.hide('mapping-modal')
                      if (error != ABORTED) {
                          throw new Error(error)
                      }
                  })
          },

          resetSettings () {
              this.fetchData()
          },

          saveSettings () {
              let channels = this.channels
                  .filter(channel => (channel.logo.id))
                  .map(channel => ({
                      id: channel.id,
                      logo_id: channel.logo.id,
                  }))
              this.loading = true
              Settings.ChannelsLogos.setChannels(channels)
                      .then(() => this.loading = false)
          },

          mapping (logo) {
              this.selectedChannel.logo.url = logo.url
              this.selectedChannel.logo.id = logo.id
              this.selectNextChannel()
          },

          selectNextChannel () {
              let position = this.filteredChannels.indexOf(this.selectedChannel)
              if (position < 0 || position + 1 > this.filteredChannels.length - 1) {
                  return
              }
              this.selectedChannel = this.filteredChannels[++position]
              this.$scrollTo($('tr.active').get(0), 300, {
                  easing: 'ease-in',
                  offset: -60,
                  x: false,
                  y: true,
                  container: '#channel_scroller',
              })
          },

          removeLogo (channel) {
              channel.logo.url = ''
              channel.logo.id = ''
          },
      },
  }
</script>

<style>
  .table_channel_logo th{
      padding: 0 14px 12px 14px;
      font-weight: normal;
  }
  .table_channel_logo td{
      height: 52px;
      padding: 0 14px;
      background: #5f5f5f;
      border-bottom: 2px solid #3c3c3c;
      cursor: default;
  }
  .table_channel_logo div.title {
      margin: 0 0 3px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .table_channel_logo tr:hover td{
      background: #828282;
  }
  .table_channel_logo tr.active td{
      background: #314655;
  }
  .table_channel_logo tr.active:hover td{
      background: #264f6e;
  }
  .table_channel_logo .channel_logo{
      max-width: 60px;
      max-height: 40px;
      vertical-align: middle;
  }
  .table_channel_logo .overflow{
      height: 16px;
      position: relative;
  }
  .table_channel_logo .overflow span{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .table_channel_logo .holder_close{
      position: relative;
      padding: 0 30px 0 0;
  }
  .table_channel_logo .holder_close.hidden{
      display: block !important;
  }
  .table_channel_logo .holder_close .close{
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
  }
  .table_channel_logo .holder_close.hidden .close{
      display: none;
  }
  .table_channel_logo .ico_arrow{
      display: none;
      width: 32px;
      height: 16px;
      margin: 0 10px 0 0;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      color: #3c3c3c;
      line-height: 13px;
      border-radius: 8px;
      background: #dddddd;
      cursor: pointer;
  }
  .table_channel_logo .ico_arrow:hover{
      background: #ffffff;
  }
  .table_channel_logo .ico_arrow:active{
      color: #0072c6;
  }
  .table_channel_logo tr.active .ico_arrow{
      display: inline-block; vertical-align: baseline;
  }
  .table_channel_logo tr.active .ico_arrow + span{
      margin: 0 0 0 46px;
  }

  .table_channel_logo .ico_arrow:hover{
      background: #ffffff;
  }
  .table_channel_logo .ico_arrow:active{
      color: #0072c6;
  }
  .table_channel_logo tr:hover .ico_arrow{
      display: inline-block; vertical-align: baseline;
  }

  .table_channel_logo td {
      cursor: pointer;
  }
  .table_channel_logo ::-moz-selection {
      background: transparent;
  }
  .table_channel_logo ::-webkit-selection {
      background: transparent;
  }
  .table_channel_logo ::selection {
      background: transparent;
  }

  .table_epg .channel_logo{
      max-width: 60px;
      max-height: 40px;
      vertical-align: middle;
  }

  .table_channel_logo td.image, #auto_channels_list td.image {
      text-align: center;
  }

</style>
