<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">
        <button @click="monitoring" class="btn fl_right btn-primary monitoring">{{ $t('scan.monitoring') }}</button>
        <h3>{{ $t('scan.tuners') }}</h3>
        <div class="txt">{{ $t('scan.tunersDescription') }}</div>

        <div class="block_tuners">
          <div class="scrollbar-inner content_scroll scroll-content">
            <div class="loading" id="device-list">
              <div class="block_tuner"
                   v-for="device in devices" :key="device.id"
              >
                <div class="block_tuner_top">
                  <div class="title">{{ device.name }}</div>
                  &nbsp;
                  <div class="buttons">
                    <button @click="removeTuner(device)" v-if="device.can_be_deleted" class="remove btn btn-primary"><span class="ico_scan"></span> {{ $t('scan.tunerRemove') }}</button>
                    <button @click="settingsTuner(device)" v-if="device.has_settings" class="settings btn btn-primary"><span class="ico_scan"></span> {{ $t('scan.tunerSettings') }}</button>
                    <button @click="showScanParams(device)" class="scan btn btn-primary"><span class="ico_scan"></span> {{ $t('scan.tunerScan') }}</button>
                  </div>
                </div>
                <div class="providers block_tuner_bottom">
                  <div class="block_provider"
                       v-for="provider in device.providers" :key="provider.id"
                  >
                    <div class="block_provider_inn">
                    <div class="title" :title="provider.name">{{ provider.name }}</div>
                    <p :title="provider.description">{{ provider.description }}</p>
                    <span class="actions">
                      <span @click="rescan(device, provider)" class="rescan glyphicon glyphicon-repeat" data-toggle="tooltip" data-placement="top" :title="$t('scan.rescanProvider')"></span>
                      <span @click="removeProvider(device, provider)" class="remove glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" :title="$t('scan.removeProvider')"></span>
                    </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="empty_message" v-if="!devices.length">
              <div>
                <div class="title">{{ $t('scan.tunersEmpty') }}</div>
                <div class="description"></div>
              </div>
            </div>
          </div> <!-- .scrollbar-inner -->
        </div> <!-- .block_tuners -->

        <div class="block_tunner_add block_buttons">
          <button @click="addTunner" class="create-manual-device btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ $t('scan.tunerAdd') }}</button>
        </div>
      </div>
    </div>

    <spinner :showed="loading" />
    <v-dialog />

    <params-container-modal v-model="params" ref="paramsModal" @save="containerNextStep()" />
    <scan-params-modal v-model="params" ref="scanParamsModal" />
    <scan-modal v-model="scanStatus" @cancel="cancelScan" @save="applyScan" />

  </div>
</template>

<script>

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'
  import ParamsContainerModal from '@/components/ParamsContainerModal.vue'
  import ScanParamsModal from '@/components/ScanParamsModal.vue'
  import ScanModal from '@/components/ScanModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  function updateContentHolderHeight () {
      Tools.customUpdateContentHolderHeight(
          85, '.block_tuners > .scrollbar-inner', true
      );
  }

  const DVB_C = 'dvbc'

  export default {
      name: 'channels-scan',
      components: {
          Spinner,
          ParamsContainerModal,
          ScanParamsModal,
          ScanModal,
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              loading: false,

              devices: [],
              params: {},

              scanStopped: false,
              scanStatus: {},
          }
      },
      watch: {
          devices () {
              $('.scrollbar-inner').scrollbar()
          }
      },
      methods: {
          fetchData () {
              this.loading = true
              Settings.ChannelsScan.getDevices().then(devices => {
                  this.devices = devices
                  this.loading = false
              })
          },

          removeTuner (device) {
              this.$modal.show('dialog', {
                  text: this.$t('scan.removeTunerConfirm'),
                  buttons: [{
                      title: this.$t('common.no'),
                  }, {
                      title: this.$t('common.yes'),
                      default: true,
                      handler: () => {
                          this.loading = true
                          Settings.ChannelsScan.removeDevice(device.id).then(() => {
                              this.$modal.hide('dialog')
                              this.fetchData()
                          })
                      }
                  }]
              })
          },

          settingsTuner (device) {
              this.loading = true
              Settings.ChannelsScan.getSettingsDevice(device.id).then(params => {
                  this.params = {
                      ...params,
                      id: device.id,
                      next: this.saveSettingsTuner,
                  }
                  this.$modal.show('params-container-modal')
                  this.loading = false
              })
          },

          saveSettingsTuner () {
              const params = {
                  ...this.params.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                  ...this.params.selectable.reduce((r, i) => (r[i.id] = i.values[i.selected_idx].value, r), {}),
              }
              this.loading = true
              Settings.ChannelsScan.setSettingsDevice(this.params.id, params).then(() => {
                  this.$modal.hide('params-container-modal')
                  this.loading = false
              })
          },

          addTunner () {
              this.loading = true
              Settings.ChannelsScan.getTemplates().then(params => {
                  this.params = {
                      ...params,
                      title: this.$t('scan.scanManualCreate'),
                      description: this.$t('scan.scanManualCreateDescription'),
                      next: this.createTuner,
                  }

                  this.$modal.show('params-container-modal')
                  this.loading = false
              })
          },

          createTuner () {
              this.loading = true
              const params = {
                  ...this.params.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                  ...this.params.selectable.reduce((r, i) => (r[i.id] = i.values[i.selected_idx].value, r), {}),
              }
              Settings.ChannelsScan.createDevice(params).then(() => {
                  this.$modal.hide('params-container-modal')
                  this.fetchData()
              })
          },

          containerNextStep () {
              this.params.next()
          },



          getCountries (providers) {
              let countries = [... new Set(
                  providers
                      .map(provider => provider.country)
                      .sort((a, b) => a.toLocaleLowerCase().localeCompare(b.toLocaleLowerCase()))
              )]
              const withoutCountry = countries[0] === '';
              let result = countries.map(country => ({
                  name: Tools.Countries.getByCode(Settings.General.language(), country),
                  id: country,
              }))
              if (withoutCountry) {
                  result.shift();
                  result.push({
                      id: '',
                      name: this.$t('scan.scanNotInList'),
                  });
              }
              return result
          },



          standardChoice ({standards, isFirst}) {
              return new Promise(resolve => {
                  if (standards.length > 1) {
                      this.params = {
                          name: this.$t('scan.scanStandard'),
                          description: this.$t('scan.scanStandardDescription'),
                          isFirst,
                          list: standards.map(standard => ({
                              name: standard.name,
                              id: standard.standard,
                          })),
                      }
                      this.$refs.scanParamsModal.getParams()
                          .then(standard => {
                              let [selectedStandard] = standard ? standards.filter(std => std.standard === standard.id) : [null]
                              this.$modal.hide('scan-params-modal')
                              resolve([selectedStandard])
                          })
                  } else {
                      resolve([standards[0], {skipped: true}])
                  }
              })
          },

          standardParametersChoice ({standard, isFirst}) {
              const parameters = standard.parameters
              return new Promise(resolve => {
                  if (parameters && parameters.id && parameters.id.length > 1) {
                      this.params = {
                          ...parameters,
                          isSecond: !isFirst,
                          isNotLast: true,
                      }
                      this.$refs.paramsModal.getParams()
                          .then(params => {
                              this.$modal.hide('params-container-modal');
                              resolve([params])
                          })
                  } else {
                      resolve([{}, {skipped: true}])
                  }
              })
          },

          countryChoice ({standard, isFirst}) {
              const providers = standard.providers
              const countries = this.getCountries(providers)
              return new Promise(resolve => {
                  if (countries.length > 1) {
                      this.params = {
                          name: this.$t('scan.scanCountry'),
                          description: this.$t('scan.scanCountryDescription'),
                          list: countries,
                          isFirst,
                      }
                      this.$refs.scanParamsModal.getParams()
                          .then(country => {
                              this.$modal.hide('scan-params-modal')
                              resolve([country])
                          })
                  } else {
                      resolve([countries[0], {skipped: true}])
                  }
              })
          },

          providerChoice ({standard, country, isFirst}) {
              const providers = standard.providers
              let providersWithoutCountry = []
              if (country.id && standard.standard === DVB_C) {
                  providersWithoutCountry =
                      providers
                          .filter(provider => provider.country.length < 1)
                          .sort((a, b) => a.name.localeCompare(b.name))
              }
              const providersCountry = providersWithoutCountry.concat(
                  providers
                      .filter(provider => provider.country === country.id)
                      .sort((a, b) => a.name.localeCompare(b.name))
              )

              return new Promise(resolve => {
                  this.params = {
                      name: this.$t('scan.scanProviders'),
                      description: this.$t('scan.scanProvidersDescription'),
                      list: providersCountry,
                      isFirst,
                  }
                  this.$refs.scanParamsModal.getParams()
                      .then(provider => {
                          resolve([provider])
                          this.$modal.hide('scan-params-modal')
                      })
              })
          },

          providerParametersChoice ({provider, isFirst}) {
              const parameters = provider.parameters
              return new Promise(resolve => {
                  if (parameters && parameters.id && parameters.id.length > 1) {
                      this.params = {
                          ...parameters,
                          isNotLast: true,
                          isSecond: !isFirst,
                      }
                      this.$refs.paramsModal.getParams()
                          .then(params => {
                              this.$modal.hide('params-container-modal');
                              resolve([params])
                          })
                  } else {
                      resolve([{}, {skipped: true}])
                  }
              })
          },

          showScanParams (device) {
              this.loading = true
              Settings.ChannelsScan.getScanners(device.id).then(async (standards) => {
                  this.loading = false

                  let wizardData = {
                      standards: standards,
                      isFirst: true,
                  }
                  let wizardSteps = [{
                      func: this.standardChoice,
                      result: 'standard',
                  }, {
                      func: this.standardParametersChoice,
                      result: 'standardParameters',
                  }, {
                      func: this.countryChoice,
                      result: 'country',
                  }, {
                      func: this.providerChoice,
                      result: 'provider',
                  }, {
                      func: this.providerParametersChoice,
                      result: 'providerParameters',
                  }]

                  let i = 0
                  let direction = 'forward'
                  while (wizardSteps[i]) {
                      if (direction == 'backward' && wizardSteps[i].skipped) {
                          // If we return, skip the previously skipped pages
                          --i
                          continue
                      }
                      wizardData.isFirst = i === wizardSteps.findIndex(i => !i.skipped)
                      let { func, result } = wizardSteps[i]
                      let [res, options] = await func(wizardData)
                      if (options && options.skipped) {
                          wizardSteps[i].skipped = true
                      }
                      if (!res) {
                          // Going back to the previous page
                          direction = 'backward'
                          --i
                          continue
                      }
                      wizardData[result] = res
                      direction = 'forward'
                      ++i
                  }

                  const completed = i >= wizardSteps.length
                  if (!completed) {
                      return
                  }

                  let scanParams = {}
                  if (wizardData.provider.id) {
                      scanParams.provider = wizardData.provider.id
                  }
                  if (wizardData.standardParameters.id) {
                      scanParams = {
                          ...scanParams,
                          ...wizardData.standardParameters.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                          ...wizardData.standardParameters.selectable.reduce((r, i) => (r[i.id] = i.selected_idx, r), {})
                      }
                  }
                  if (wizardData.providerParameters.id) {
                      scanParams = {
                          ...scanParams,
                          ...wizardData.providerParameters.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                          ...wizardData.providerParameters.selectable.reduce((r, i) => (r[i.id] = i.selected_idx, r), {})
                      }
                  }

                  this.startScan(device.id, scanParams)
              })

          },

          delay (time) {
              return new Promise(resolve => setTimeout(resolve, time))
          },

          async cancelScan () {
              this.scanStopped = true
              this.loading = true
              await Settings.ChannelsScan.cancelScan(this.scanStatus.device)
              this.$modal.hide('scan-modal')
              this.loading = false
          },

          async scanLoop (deviceID, params, state) {
              if (state === 'joined') {
                  this.$modal.show('dialog', {
                      text: this.$t('scan.startScanJoined'),
                      buttons: [{
                          title: this.$t('common.ok'),
                          handler: () => {
                              this.$modal.hide('dialog')
                              this.fetchData()
                          },
                      }]
                  })
                  return
              }
              if (state === 'error') {
                  this.$modal.show('dialog', {
                      text: this.$t('scan.startScanError'),
                      buttons: [{
                          title: this.$t('common.ok'),
                      }]
                  })
                  return
              }
              this.$modal.show('scan-modal')
              while (!this.scanStopped) {
                  const status = await Settings.ChannelsScan.getDeviceStatus(deviceID)

                  if (status.state === 'networks_scanned') {
                      this.loading = true
                      const networks = await Settings.ChannelsScan.getNetworks(deviceID)
                      this.$modal.hide('scan-modal')
                      this.loading = false
                      const network = await this.networkChoice(networks)
                      if (network) {
                          delete params.provider
                          this.startScan(deviceID, {
                              ...params,
                              network: network.id,
                          })
                      }
                      break
                  }

                  this.scanStatus = status.scanning
                  this.scanStatus.device = deviceID

                  if (status.state === 'channel_scan_finished') {
                      this.scanStatus.progress = 100
                      this.scanStatus.isFinished = true
                      break
                  }

                  await Tools.delay(1000)
              }
          },

          async startScan (deviceID, params) {
              this.scanStatus = {}
              this.scanStopped = false
              this.loading = true
              params = Object.assign({}, ...Object.keys(params).map(key => ({[key]: params[key].toString()})))
              const {state} = await Settings.ChannelsScan.startScan(deviceID, params)
              this.loading = false

              this.scanLoop(deviceID, params, state)
          },

          networkChoice (networks) {
              return new Promise(resolve => {
                  this.params = {
                      name: this.$t('scan.scanNetworks'),
                      description: this.$t('scan.scanNetworksDescription'),
                      isFirst: true,
                      list: networks.map(network => ({
                          id: network.id,
                          name: network.id + (network.name.length ? (' (' + network.name + ')') : ''),
                      })),
                  }
                  this.$refs.scanParamsModal.getParams()
                      .then(network => {
                          this.$modal.hide('scan-params-modal')
                          resolve(network)
                      })
              })
          },


          async applyScan () {
              this.loading = true
              await Settings.ChannelsScan.applyScan(this.scanStatus.device)
              this.fetchData()
              this.$modal.hide('scan-modal')
          },


          rescanParametersChoice (parameters) {
              return new Promise(resolve => {
                  if (parameters && parameters.id && parameters.id.length > 1) {
                      this.params = {
                          ...parameters,
                          isNotLast: true,
                          isSecond: false,
                      }
                      this.$refs.paramsModal.getParams()
                          .then(params => {
                              this.$modal.hide('params-container-modal');
                              resolve(params)
                          })
                  } else {
                      resolve({})
                  }
              })
          },

          async rescan (device, provider) {
              this.scanStatus = {}
              this.scanStopped = false
              this.loading = true
              let params = await Settings.ChannelsScan.getRescanParams(device.id, provider.id)
              this.loading = false
              params = await this.rescanParametersChoice(params)
              if (params) {
                  params = {
                      provider: provider.id,
                      ...params.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                      ...params.selectable.reduce((r, i) => (r[i.id] = i.selected_idx, r), {})
                  }
                  params = Object.assign({}, ...Object.keys(params).map(key => ({[key]: params[key].toString()})))
                  this.loading = true
                  const {state} = await Settings.ChannelsScan.rescan(device.id, provider.id, params)
                  this.loading = false
                  this.scanStatus = {}
                  this.scanStopped = false
                  this.scanLoop(device.id, params, state)
              }
          },

          async removeProvider (device, provider) {
              this.$modal.show('dialog', {
                  text: this.$t('scan.removeProviderConfirm'),
                  buttons: [{
                      title: this.$t('common.no'),
                  }, {
                      title: this.$t('common.yes'),
                      default: true,
                      handler: () => {
                          this.loading = true
                          Settings.ChannelsScan.removeProvider(device.id, provider.id).then(() => {
                              this.$modal.hide('dialog')
                              this.fetchData()
                          })
                      }
                  }]
              })
          },

          async monitoring () {
              const url = await Settings.ChannelsScan.monitoring()
              Tools.openInNewTab(url)
          },
      },

  }
</script>


<style>
  /* channels.css */
  /* ----- channel_search ----- */
  .content_scroll_inn .txt{
      margin: -9px 0 12px 0;
  }
  .block_tuners{
      margin: 0 0 15px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_tuners > .scrollbar-inner{
      height: 300px;
  }
  .block_tuner_top{
      padding: 8px 12px;
      background: #5f5f5f;
      position: relative;
  }
  .block_tuner_top:hover{
      background: #828282;
  }
  .block_tuner_top .title{
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .block_tuner_top .btn{
      position: absolute;
      top: 10px;
      right: 15px;
      width: 135px;
  }
  .block_tuner_bottom{
      padding: 10px 14px 0 13px;
      font-size: 0;
      position: relative;
  }
  .block_tuner_bottom:before{
      position: absolute;
      top: 0;
      left: 12px;
      content: "";
      height: 35px;
      border-left: 1px solid #5a5a5a;
  }
  .block_tuner_bottom:after{
      position: absolute;
      top: 33px;
      left: 10px;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #5a5a5a;
  }
  .block_provider{
      display: inline-block; vertical-align: top;
      width: 25%;
      margin: 0 0 10px 0;
      padding: 0 0 0 10px;
      font-size: 13px;
  }
  .block_provider_inn{
      padding: 5px 45px 7px 12px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
      background: #1d1d1d;
      position: relative;
  }
  .block_provider_inn:before{
      position: absolute;
      top: 24px;
      left: -11px;
      content: "";
      width: 10px;
      border-bottom: 1px solid #5a5a5a;
  }
  .block_provider .title{
      margin: 0 0 2px 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .block_provider p{
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .block_provider .actions {
      position: absolute;
      top: 20px;
      right: 7px;
      font-size: 11px;
      cursor: pointer;
  }
  .block_provider .glyphicon-remove {
      margin-left: 3px;
  }
  .block_provider .glyphicon.glyphicon:hover{
      color: #e95d0f;
  }
  .block_provider .glyphicon.glyphicon:active{
      color: #3c3c3c;
  }
  .block_scan{
      padding: 70px 0 50px 0;
  }
  .progress{
      margin: 0 0 12px 0;
      border-radius: 10px;
      background: #5a5a5a;
      overflow: visible;
      position: relative;
  }
  .progress-bar{
      border-radius: 10px;
      background-color: #1488dd;
      background-image: linear-gradient(to bottom, #1488dd 0, #0173c7 100%);
      box-shadow: 0 0 13px rgba(0,168,255,.46);
  }
  .progress-bar.progress-bar-striped {
      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
  }
  .progress-bar_pc{
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-50%);
  }
  .block_scan .fl_left{
      padding: 5px 0 0 0;
  }
  .block_scan .btn-primary{
      width: 156px;
  }
  .block_country_selections{
      margin: 9px 0 4px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_country_selections > .scrollbar-inner{
      height: 212px;
  }
  .block_country_selections ul{
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .block_country_selections li{
      margin: 0 0 2px 0;
      padding: 8px 12px 7px 12px;
      background: #5f5f5f;
      cursor: pointer;
  }
  .block_country_selections li:last-child{
      margin: 0;
  }
  .block_country_selections li:hover{
      background: #828282;
  }
  .block_country_selections li.active{
      background: #314655;
  }
  .block_country_selections li.active:hover{
      background: #264f6e;
  }
  .block_country_selections .title{
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .table_edit_box td{
      padding: 0 0 15px 0;
  }
  .table_edit_box td:first-child{
      width: 220px;
  }
  .table_edit_box .dropdown, .table_edit_box .dropdown-toggle{
      width: 100%;
  }
  .block_tunner_add{
      margin: 0 0 15px 0;
      padding: 15px 14px;
      text-align: center;
      border-radius: 3px;
      background: #282828;
  }
  .block_tunner_add.block_buttons {
      position: inherit;
  }
  .block_tunner_add:last-child{
      margin: 0;
  }
  .block_tunner_add .btn-primary{
      width: 48%;
      margin: 0 3px;
  }






  /* ----- modal_scan_new ----- */
  .block_scan_new_info{
      margin: 0 0 12px 0;
  }
  .block_scan_new_scroll{
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_scan_new_scroll > .scrollbar-inner{
      height: 258px;
  }
  .block_scan_new_scroll_inn{
      margin: 0 0 2px 0;
      padding: 12px;
      background: #5a5a5a;
  }
  .block_scan_new_scroll_inn:last-child{
      margin: 0;
  }
  .block_scan_new_scroll_inn .title{
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .block_scan_new_scroll_inn .title .locked {
      font-size: 0.6em;
      font-weight: normal;
      background-color: #333;
      padding: 0 5px;
      border-radius: 3px;
      color: #aaa;
  }
  .block_scan_new_scroll_inn table{
      margin: 0 0 10px 0;
  }
  .block_scan_new_scroll_inn td{
      padding: 0 0 10px 14px;
  }
  .block_scan_new_scroll_inn td:first-child{
      padding: 0 0 10px 0;
  }
  .block_scan_new_scroll_inn td:nth-child(1), .block_scan_new_scroll_inn td:nth-child(3){
      width: 1px;
  }
  .block_scan_new_scroll_inn .progress{
      margin: 0;
      background: #3c3c3c;
  }
  .block_scan_new_scroll_inn .description{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  /* channels.css */

  .modal.fade:not(.in).left .modal-dialog {
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
  }
  .modal.fade:not(.in).right .modal-dialog {
      -webkit-transform: translate3d(25%, 0, 0);
      transform: translate3d(25%, 0, 0);
  }


  .block_tuners {
      position: relative;
      cursor: default;
  }

  .block_tuners .block_tuner_top .btn {
      position: initial;
  }

  .block_tuners .block_tuner_top .buttons {
      position: absolute;
      width: auto;
      top: 10px;
      right: 15px;
  }

  .progress-bar-striped{
      background-image: -webkit-linear-gradient(45deg,#ffffff26 25%,#0000 25%,#0000 50%,#ffffff26 50%,#ffffff26 75%,#0000 75%,#0000);
      background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-image: linear-gradient(45deg,#ffffff26 25%,#0000 25%,#0000 50%,#ffffff26 50%,#ffffff26 75%,#0000 75%,#0000);
  }

  .modal .btn-default {
      min-width: 100px;
  }



  body.wait {
      pointer-events: none;
  }
  .waiter {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: wait;
      z-index: 2001;
  }
  .waiter:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      border-radius: 100%;
      border: solid 10px rgba(0, 0, 0, 0);
      -webkit-animation: rotate-360 1000ms linear infinite;
      -moz-animation: rotate-360 1000ms linear infinite;
      -ms-animation: rotate-360 1000ms linear infinite;
      -o-animation: rotate-360 1000ms linear infinite;
      animation: rotate-360 1000ms linear infinite;
      border-top-color: rgba(250, 250, 250, 0.6);
      border-bottom-color: rgba(250, 250, 250, 0.6);
  }


  .block_current_server .servers-refresh .icon.inprogress {
      -webkit-animation: rotate-360 1000ms linear infinite;
      -moz-animation: rotate-360 1000ms linear infinite;
      -ms-animation: rotate-360 1000ms linear infinite;
      -o-animation: rotate-360 1000ms linear infinite;
      animation: rotate-360 1000ms linear infinite;
  }
  .block_current_server .server-list .server-item {
      cursor: pointer;
  }
  .block_current_server .server-list .server-item.current {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
  }

  .btn.monitoring {
      margin-right: 18px;
      width: 135px;
  }
</style>
