<template>
  <div id="channels-favorites">


    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn">

        <h3>{{ $t('favorites.favorites') }}</h3>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="block_channel_favorites">
              <div id="favorites_list" class="scrollbar-inner">
                <ul class="loading">

                  <li v-for="fav in favorites" :key="fav.id"
                      :class="{active: favorite.id == fav.id, manual: !fav.auto}"
                      :data-ref="'favorite-' + fav.id"
                      @click="favorite = fav">
                    <div class="title">{{ fav.name }}</div>
                    <span v-if="fav.channels.length">{{ fav.channels.length }} {{ $t('favorites.channels') }},</span>
                    <span v-else>{{ $t('favorites.empty') }},</span>
                    <span v-if="fav.auto"> {{ $t('favorites.auto') }}</span>
                    <span v-else> {{ $t('favorites.userDefined') }}</span>
                    <div class="block_edit_del">
                      <span @click="editFavorite(fav)" class="glyphicon glyphicon-pencil edit"></span>
                      <span @click="removeFavorite(fav)" class="glyphicon glyphicon-remove-sign delete"></span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
            <div class="block_channel_favorites_filter">
              <button class="btn btn-primary" @click="addFavorite">
                <span class="glyphicon glyphicon-plus"></span>
                {{ $t('favorites.add') }}
              </button>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="block_channel_visibility_filter clearfix">
              <span class="ctrl">
                <multiselect v-model="currentChannelsType" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="channelsType" placeholder="" :show-labels="false"></multiselect>

                <div class="block_search">
                  <div class="input-group">
                    <span class="form-group has-feedback">
                      <input v-model="searchString" type="text" class="form-control" :placeholder="$t('common.search')">
                      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    </span>
                  </div>
                </div>
              </span>
              <div class="fl_right">
                <button class="btn btn-primary btn_check"
                        @click="toggleFavotireChannels"
                        :disabled="editDisabled">
                  <span class="glyphicon"
                        :class="{'glyphicon-unchecked': favoriteContainsChannels, 'glyphicon-check': !favoriteContainsChannels}"
                  ></span>
                </button>
              </div>
            </div>
            <div class="block_channel_favorites">
              <div class="scrollbar-inner" ref="channelsList">
                <ul id="channels_list" class="loading">

                  <li v-for="channel in filteredChannels" :key="channel.id">
                    <div class="title">{{ channel.name }}
                      <span class="label label-default" v-if="channel.number">
                        {{ channel.number }}
                      </span>
                    </div>
                    {{ channel.type }}
                    <div class="block_checkbox">
                      <input class="niceCheck"
                             :class="{disabled: editDisabled}"
                             type="checkbox"
                             :id="'checkbox_' + channel.id"
                             :value="channel.id"
                             v-model="favorite.channels"
                             :disabled="editDisabled" />
                      <label :for="'checkbox_' + channel.id" />
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link">{{ $t('common.cancel') }}</button>
      <button @click="saveSettings" class="btn btn-default">{{ $t('common.save') }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
    <edit-favorite-modal ref="editModal" />

  </div>
</template>

<script>

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Vue from 'vue'

  import VueScrollTo from 'vue-scrollto'

  import Spinner from '@/components/Spinner.vue'
  import EditFavoriteModal from '@/components/EditFavoriteModal.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools.js'

  Vue.use(VueScrollTo)

  function updateContentHolderHeight () {
      Tools.updateContentHolderHeight();
      var contentScrollInn = $('.content_scroll_inn').innerHeight();
      var header = $('.content_scroll_inn > h3').innerHeight();
      var visibilityFilter = $('.block_channel_favorites_filter')
          .innerHeight() + 40;
      $('.block_channel_favorites > .scrollbar-inner').css(
          'height',
          `${ contentScrollInn - header - visibilityFilter }px`
      );
  }

  export default {
      name: 'channels-favorites',
      components: {
          Spinner,
          EditFavoriteModal,
      },
      data () {
          return {
              loading: false,
              channelsType: [{
                  id: '',
                  name: this.$t('common.all'),
              }, {
                  id: 'tv',
                  name: this.$t('common.tv'),
              }, {
                  id: 'radio',
                  name: this.$t('common.radio'),
              }],
              currentChannelsType: {},
              favorites: [],
              favorite: {},
              channels: [],
              searchString: '',
          }
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          updateContentHolderHeight()
          $(window).on('resize', updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', updateContentHolderHeight)
      },
      created () {
          this.fetchData()
          this.currentChannelsType = this.channelsType[0]
      },
      computed: {
          filteredChannels () {
              if (!this.searchString && !this.currentChannelsType.id) {
                  return this.channels
              }
              let channels = this.channels;
              if (this.currentChannelsType.id) {
                  channels = channels.filter(channel => channel.type.toLowerCase() === this.currentChannelsType.id)
              }
              if (this.searchString.length) {
                  channels = channels.filter(channel => (channel.name.toLocaleLowerCase().indexOf(this.searchString.toLocaleLowerCase()) > -1))
              }
              return channels
          },

          favoriteContainsChannels () {
              const isChannelsEmpty = !(this.favorite && this.favorite.channels && this.favorite.channels.length)
              if (isChannelsEmpty) {
                  return false
              }
              return this.filteredChannels.some(channel => this.favorite.channels.indexOf(channel.id) > -1)
          },

          editDisabled () {
              return (this.favorite && this.favorite.auto) || this.filteredChannels.length < 1 || !this.favorite.id
          },
      },
      methods: {
          sortFavoritesAlgo (a, b) {
              if (a.auto && !b.auto) {
                  return 1
              }
              if (b.auto && !a.auto) {
                  return -1
              }
              return a.name.localeCompare(b.name)
          },

          sortFavorites () {
              this.favorites = this.favorites.sort(this.sortFavoritesAlgo)
          },

          scrollToSelectedFavorite () {
              setTimeout(() => this.$scrollTo($('[data-ref="favorite-'+this.favorite.id+'"').get(0), 300, {
                  easing: 'ease-in',
                  offset: -60,
                  x: false,
                  y: true,
                  container: '#favorites_list',
              }))
          },

          scrollToFirstChannel () {
              this.$refs.channelsList.scrollTop = 0
          },

          fetchData () {
              this.loading = true
              Promise.all([
                  Settings.ChannelsFavorites.getFavorites()
                          .then(favorites => {
                              this.favorites = favorites
                              this.sortFavorites()
                              this.favorite = this.favorites[0]
                          }),
                  Settings.ChannelsFavorites.getChannels()
                          .then((channels) => {
                              this.channels = channels
                                  .sort((a, b) => a.name.localeCompare(b.name))
                          }),
              ])
                     .then(() => {
                         this.loading = false
                         this.scrollToSelectedFavorite()
                         this.scrollToFirstChannel()
                     })
          },

          toggleFavotireChannels () {
              if (this.favoriteContainsChannels) {
                  this.filteredChannels.forEach(channel => {
                      const index = this.favorite.channels.indexOf(channel.id)
                      if (index < 0) {
                          return
                      }
                      this.favorite.channels.splice(index, 1)
                  })
              } else {
                  this.filteredChannels.forEach(channel => this.favorite.channels.push(channel.id))
              }
          },

          addFavorite () {
              this.$refs.editModal.getName('')
                  .then(name => {
                      this.favorite = {
                          id: Tools.createGUID(),
                          name,
                          channels: [],
                          auto: false,
                      }
                      this.favorites.push(this.favorite)
                      this.sortFavorites()
                      this.scrollToSelectedFavorite()
                  })

          },

          editFavorite (favorite) {
              this.$refs.editModal.getName(favorite.name)
                  .then(name => {
                      this.favorite.name = name
                      this.sortFavorites()
                      this.scrollToSelectedFavorite()
                  })
          },

          removeFavorite (favorite) {
              this.$modal.show('dialog', {
                  text: this.$t('favorites.doYouWantToDeleteFavoriteFolder'),
                  buttons: [{
                      title: this.$t('common.no'),
                  }, {
                      title: this.$t('common.yes'),
                      default: true,
                      handler: () => {
                          const index = this.favorites.indexOf(favorite)
                          this.favorites.splice(index, 1)
                          this.favorite = this.favorites[Math.max(0, index-1)] || {}
                          this.$modal.hide('dialog')
                          this.scrollToSelectedFavorite()
                      }
                  }]
              })
          },

          resetSettings () {
              this.fetchData()
          },

          saveSettings () {
              this.loading = true
              Settings.ChannelsFavorites.setFavorites(this.favorites)
                      .then(() => this.loading = false)
          },
      },
  }
</script>

<style>
  /* ----- channel_favorites ----- */
  .block_channel_favorites_filter{
      margin: 0 0 15px 0;
      padding: 15px 14px;
      text-align: center;
      border-radius: 3px;
      background: #282828;
  }
  .block_channel_favorites_filter:last-child{
      margin: 0;
  }
  .block_channel_favorites_filter .btn-primary{
      width: 48%;
      margin: 0 3px;
  }
  .block_channel_favorites{
      margin: 0 0 15px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .block_channel_favorites:last-child{
      margin: 0;
  }
  .block_channel_favorites > .scrollbar-inner{
      height: 257px;
  }
  .block_channel_favorites ul{
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .block_channel_favorites li{
      margin: 0 0 2px 0;
      padding: 7px 12px;
      background: #5f5f5f;
      position: relative;
      cursor: default;
  }
  .block_channel_favorites li:hover{
      background: #828282;
  }
  .block_channel_favorites li:last-child{
      margin: 0;
  }
  .block_channel_favorites li.active{
      background: #314655;
  }
  .block_channel_favorites li.active:hover{
      background: #264f6e;
  }
  .block_channel_favorites .title{
      margin: 0 0 3px 0;
      font-size: 16px;
      font-weight: bold;
  }
  .block_channel_favorites .block_checkbox{
      position: absolute;
      top: 9px;
      right: 15px;
  }
  .block_channel_favorites .block_edit_del{
      display: none;
      position: absolute;
      top: 15px;
      right: 15px;
  }
  .block_channel_favorites  .active.manual .block_edit_del{
      display: block;
  }
  .block_channel_favorites .block_edit_del span{
      display: inline-block; vertical-align: top;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      cursor: pointer;
  }
  .block_channel_favorites .block_edit_del .glyphicon-pencil{
      font-size: 9px;
      color: #282828;
      background: #dddddd;
  }
  .block_channel_favorites .block_edit_del .glyphicon-remove-sign{
      margin: 0 0 0 10px;
      font-size: 18px;
      color: #dddddd;
      background: #282828;
      box-shadow: inset 0 0 0 1px #dddddd;
  }
  .block_channel_favorites .block_edit_del .glyphicon-pencil:hover{
      background: #ffffff;
  }
  .block_channel_favorites .block_edit_del .glyphicon-remove-sign:hover{
      color: #ffffff;
      box-shadow: inset 0 0 0 1px #ffffff;
  }
  .block_channel_favorites .block_edit_del .glyphicon-pencil:active{
      color: #ffffff;
      background: #1d1d1d;
  }
  .block_channel_favorites .block_edit_del .glyphicon-remove-sign:active{
      color: #1d1d1d;
      background: #ffffff;
      box-shadow: inset 0 0 0 1px #1d1d1d;
  }

  #channels-favorites .block_channel_visibility_filter .form-control-feedback {
      top: -1px;
  }

  #channels-favorites .block_channel_visibility_filter .ctrl {
      width: calc(100% - 47px);
      display: inline-block;
  }

  #channels-favorites .block_channel_visibility_filter .multiselect {
      width: 50%;
      max-width: 200px;
  }

  #channels-favorites .block_channel_visibility_filter .block_search {
      width: calc(50% - 10px);
      margin: 0 0 0 5px;
  }

</style>
