<template>
<div class="dbl-config">
  <main-header @hamburgerClick="$emit('hamburgerClick')" />

  <!-- content -->
  <main class="content clearfix">
    <div class="container-fluid">
      <main-menu />

      <ul class="nav nav-justified menu_tabs">
        <li>
          <router-link :to="{name: 'channels-scan'}">{{ $t("menu.channelsScan") }}</router-link>
        </li>
        <li>
          <router-link :to="{name: 'channels-visibility'}">{{ $t("menu.channelsVisibility") }}</router-link>
        </li>
        <li>
          <router-link :to="{name: 'channels-favorites'}">{{ $t("menu.channelsFavorites") }}</router-link>
        </li>
        <li>
          <router-link :to="{name: 'channels-properties'}">{{ $t("menu.channelsProperties") }}</router-link>
        </li>
        <li>
          <router-link :to="{name: 'channels-logos'}">{{ $t("menu.channelsLogos") }}</router-link>
        </li>
      </ul>

      <div class="channels">
        <router-view></router-view>
      </div>
    </div>
  </main>
  <!-- // content -->
</div>
</template>


<script>

import MainHeader from '@/components/MainHeader.vue'
import MainMenu from '@/components/MainMenu.vue'

export default {
    name: 'channels',
    components: {
        MainHeader,
        MainMenu
    }
}
</script>
