
/* dropdown subtlebox */

.subtlebox {
    margin: 0 2px;
}

.subtlebox * {
    font-size: 13px;
    font-weight: normal !important;
}

.subtlebox .dropdown-menu {
    border-radius: 2px !important;
    border: 1px solid #adadad;
    padding: 2px 0;
    width: 100%;
    z-index: 1031;
}

.subtlebox .menu-open-button {
    display: block;
    font-weight: normal;
    padding: 6px 35px 5px 20px;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    position: relative;
}

.subtlebox .dropdown-toggle {
    padding: 6px 2px 6px 20px;
    text-align: left;
    white-space: normal;
}

.subtlebox input {
    display: none;
}

.subtlebox .dropdown-menu .subtlebox-icon,
.subtlebox .dropdown-toggle .subtlebox-icon {
    display: inline-block;
    line-height: 1;
    padding: 7px;
    border-radius: 2px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    position: absolute;
    right: 2px;
    top: 1px;
}
.subtlebox .dropdown-toggle .subtlebox-icon {
    top: 2px;
}

.subtlebox a.dropdown-toggle .subtlebox-icon {
    top: 8px;
}

.subtlebox .dropdown-toggle .subtlebox-caption {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: text-top;
}

.subtlebox .dropdown-menu .menu-open-button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}
.subtlebox .dropdown-menu input:checked + .menu-open-button .subtlebox-icon {
    background-color: #888;
}



/* Indent to open menu like standard dropdown-menu. */
.nav .subtlebox.open .dropdown-menu {
    margin-top: -6px;
}

.subtlebox {
    display: inline-block;
}

.subtlebox .dropdown-toggle {
    position: relative;
}


/* Label */
.subtlebox .subtlebox-label {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: text-top;
    line-height: 27px;
}

.subtlebox .btn-block > span {
    position: static;
}
