
html, body {
    background: #3c3c3c;
}
body{
    overflow-y: hidden;
}
A {
    text-decoration: none;
    transition: all 0.25s ease 0s;
    outline: none !important;
}
A:hover{
    text-decoration: underline;
}
img, object, iframe{ border: 0; vertical-align: top; }
header, nav, menu, main, aside, address, section, article, footer, figure, figcaption{ display: block; }
form, figure, menu{ margin: 0; padding: 0; }
.dbl-config input[type="text"],
.dbl-config input[type="number"],
.dbl-config input[type="password"],
.dbl-config input[type="email"],
.dbl-config input[type="tel"],
.dbl-config select,
.dbl-config textarea {
    height: 30px;
    margin: 0;
    padding: 0 14px;
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
    background: #1d1d1d;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.25s ease 0s;
    outline: none;
}
.dbl-config input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select, textarea:focus{
    border: 1px solid #acacac;
    box-shadow: none !important;
}
.dbl-config select{
    padding: 0 8px;
}
.dbl-config textarea{
    height: 150px;
    padding: 10px 14px;
    resize: vertical;
}
.has-error{
    color: #8f2c2c !important;
    border: 1px solid #e35c00 !important;
}
::-webkit-input-placeholder{
    opacity: 1;
}
::-moz-placeholder{
    opacity: 1;
}
:-ms-input-placeholder{
    opacity: 1;
}
:-moz-placeholder{
    opacity: 1;
}
input[type="submit"], input[type="reset"], input[type="button"]{ border: 0; }
input[type="image"], input[type="button"], input[type="submit"], label{ cursor: pointer; }
table{ width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; }
.dbl-config input[type="checkbox"],
.dbl-config input[type="radio"] {
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    padding: 0;
    height: auto;
}
@media not all and (-webkit-min-device-pixel-ratio){ input[type="checkbox"], input[type="radio"] { top: 0; } }
.clear, .hr{ clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.clearfix:before, .clearfix:after{ content: "."; display: block; height: 0; visibility: hidden; }
.clearfix:after{ clear: both; }
.clearfix{ zoom: 1; }
.flexible{ overflow: hidden; zoom: 1; }
.text_center{ text-align: center !important; }
.text_left{ text-align: left !important; }
.text_right{ text-align: right !important; }
.fl_left{ float: left; }
.fl_right{ float: right; }
.niceCheck, .niceRadio{
    display: none;
}
.dbl-config label{
    vertical-align: top;
    margin: 0;
    font-weight: normal !important;
    position: relative;
}
.dbl-config label:before{
    position: absolute;
    content: "";
}
.niceCheck + label{
    height: 30px;
    padding: 0 0 0 27px;
}
.niceCheck + label:before{
    top: 2px;
    left: 0;
    width: 27px;
    height: 27px;
    background: url("./images/checkbox.png") left top no-repeat;
    background-size: cover !important;
}
.niceCheck:checked + label:before{
    background-position: left bottom !important;
}
.niceCheck.disabled + label{
    opacity: 0.5;
    cursor: default;
}

/* ----- all ----- */
.all{
    height: 100%;
    min-width: 800px;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}

/*----- header ----- */
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 9px 0 15px 0;
    background: #282828;
    z-index: 3;
}
.header:before{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    height: 5px;
    background: -moz-linear-gradient(left, #bcca00 1%, #bcca00 20%, #3fcaca 20%, #3fcaca 31%, #2bb0df 31%, #2bb0df 46%, #6c5097 46%, #6c5097 56%, #b15395 56%, #b15395 65%, #e1003d 65%, #e1003d 76%, #e1003d 76%, #e95d0f 76%, #e95d0f 81%, #e95d0f 81%, #ff8a15 81%, #ff8a15 81%, #ff8a15 100%);
    background: -ms-linear-gradient(left, #bcca00 1%, #bcca00 20%, #3fcaca 20%, #3fcaca 31%, #2bb0df 31%, #2bb0df 46%, #6c5097 46%, #6c5097 56%, #b15395 56%, #b15395 65%, #e1003d 65%, #e1003d 76%, #e1003d 76%, #e95d0f 76%, #e95d0f 81%, #e95d0f 81%, #ff8a15 81%, #ff8a15 81%, #ff8a15 100%);
    background: -o-linear-gradient(left, #bcca00 1%, #bcca00 20%, #3fcaca 20%, #3fcaca 31%, #2bb0df 31%, #2bb0df 46%, #6c5097 46%, #6c5097 56%, #b15395 56%, #b15395 65%, #e1003d 65%, #e1003d 76%, #e1003d 76%, #e95d0f 76%, #e95d0f 81%, #e95d0f 81%, #ff8a15 81%, #ff8a15 81%, #ff8a15 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #bcca00), color-stop(20%, #bcca00), color-stop(20%, #3fcaca), color-stop(31%, #3fcaca), color-stop(31%, #2bb0df), color-stop(46%, #2bb0df), color-stop(46%, #6c5097), color-stop(56%, #6c5097), color-stop(56%, #b15395), color-stop(65%, #b15395), color-stop(65%, #e1003d), color-stop(76%, #e1003d), color-stop(76%, #e1003d), color-stop(76%, #e95d0f), color-stop(81%, #e95d0f), color-stop(81%, #e95d0f), color-stop(81%, #ff8a15), color-stop(81%, #ff8a15), color-stop(100%, #ff8a15));
    background: -webkit-linear-gradient(left, #bcca00 1%, #bcca00 20%, #3fcaca 20%, #3fcaca 31%, #2bb0df 31%, #2bb0df 46%, #6c5097 46%, #6c5097 56%, #b15395 56%, #b15395 65%, #e1003d 65%, #e1003d 76%, #e1003d 76%, #e95d0f 76%, #e95d0f 81%, #e95d0f 81%, #ff8a15 81%, #ff8a15 81%, #ff8a15 100%);
    background: linear-gradient(to right, #bcca00 1%, #bcca00 20%, #3fcaca 20%, #3fcaca 31%, #2bb0df 31%, #2bb0df 46%, #6c5097 46%, #6c5097 56%, #b15395 56%, #b15395 65%, #e1003d 65%, #e1003d 76%, #e1003d 76%, #e95d0f 76%, #e95d0f 81%, #e95d0f 81%, #ff8a15 81%, #ff8a15 81%, #ff8a15 100%);
    z-index: 1;
}
.button_menu{
    float: left;
    width: 20px;
    height: 16px;
    margin: 8px 20px 0 0;
    background: url("./images/ico_menu.svg") left top no-repeat;
    background-size: cover !important;
    cursor: pointer;
}
.button_menu:hover{
    background: url("./images/ico_menu_hover.svg") left top no-repeat;
}
.logo_tv_mosaic{
    float: left;
    width: 142px;
    height: 28px;
    margin: 3px 0 0 0;
    background: url("./images/logo_tv_mosaic.png") left top no-repeat;
}
.header_right{
    float: right;
}
.header_right .dropdown-toggle{
    width: 130px;
}
.dropdown{
    display: inline-block; vertical-align: top;
}
.block_current_server{
    position: absolute;
    top: 9px;
    left: 20px;
    right: 20px;
    height: 0;
    text-align: center;
}
.block_current_server .dropdown-toggle{
    padding: 0 30px 0 14px;
    border: 0 !important;
    background: none !important;
}
.block_current_server .dropdown-toggle:focus{
    border: 0 !important;
}
.block_current_server .dropdown-toggle i{
    display: inline-block; vertical-align: top;
    max-width: 200px;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.block_current_server .dropdown-menu{
    left: -80px;
    right: -80px;
    padding: 15px 15px 0 15px;
    background: #3c3c3c !important;
}
.block_current_server .dropdown-menu .text_right a{
    font-size: 18px;
    color: #ffffff;
}
.block_current_server .dropdown-menu .text_right a:hover{
    color: #ababab;
}
.block_current_server .dropdown-menu .text_right a:active{
    color: #1d1d1d;
}
.block_current_server .dropdown-menu td{
    padding: 12px 0;
    border-bottom: 1px solid #5a5a5a;
}
.block_current_server .dropdown-menu td:last-child{
    text-align: right;
    color: #ababab;
}
.block_current_server .dropdown-menu tr:last-child td{
    border-bottom: 0;
}
.block_current_server .dropdown-menu .button_manual{
    display: block;
    height: 50px;
    margin: 6px -15px 0 -15px;
    text-decoration: underline !important;
    text-align: center;
    font-size: 13px;
    color: #ababab;
    line-height: 50px;
    border-radius: 0 0 3px 3px;
    background: #282828;
}
.block_current_server .dropdown-menu .button_manual:hover{
    color: #ffffff;
}
.block_current_server .info {
    padding: 15px 0 15px 0;
}

/* ----- modal ----- */
.dbl-config .modal-dialog {
    margin: 50px auto;
}
.dbl-config .modal-header{
    margin: 0 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}
.dbl-config .modal-title{
    font-size: 16px;
    font-weight: bold;
}
.dbl-config button.close{
    width: 18px;
    height: 18px;
    margin-top: 2px;
    text-align: center;
    font-size: 18px;
    color: #282828;
    line-height: 18px;
    text-shadow: none;
    border-radius: 50%;
    background: #dddddd !important;
    opacity: 1;
    filter: alpha(opacity=100);
    outline: none !important;
}
.dbl-config button.close:hover{
    background: #ffffff !important;
}
.dbl-config button.close:active{
    color: #ffffff;
    background: #1d1d1d !important;
}
.dbl-config .modal-footer{
    padding: 10px 15px;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: #1d1d1d;
}
.dbl-config .modal-footer a{
    width: 135px;
}
.dbl-config .modal-footer > a{
    width: auto;
    margin: 0 0 0 14px;
}
.dbl-config .modal-body .form-group label + input{
    margin: 7px 0 0 0;
}
.modal_manual_settings td:first-child{
    padding: 0 5px 0 0;
}
.modal_manual_settings td:last-child{
    padding: 0 0 0 5px;
}
.modal_server_not_available{
    width: 400px;
}
.modal_server_not_available .modal-body{
    padding: 30px 15px;
}
.modal_server_not_available .modal-body img{
    margin: 0 0 12px 0;
}
.modal_server_not_available .modal-body p{
    margin: 0;
    font-size: 14px;
}
.modal_server_not_available .modal-footer{
    text-align: center;
}
.modal_server_not_available .modal-footer .btn{
    width: 135px;
}

/* ----- menu ----- */
.block_menu{
    position: fixed;
    top: 0;
    left: -300px;
    width: 240px;
    min-height: 100%;
    background: #282828;
    box-shadow: 0 4px 14px rgba(0,0,0,.4);
    transition: all 0.25s ease 0s;
    z-index: 10;
}
.block_menu.open{
    left: 0;
}
.button_menu_close{
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 0 40px 0;
    background: url("./images/ico_close_menu.svg") left top no-repeat;
    background-size: cover !important;
    cursor: pointer;
}
.button_menu_close:hover{
    background: url("./images/ico_close_menu_hover.svg") left top no-repeat;
}
.block_menu > nav{
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px 20px 0 20px;
    overflow-y: auto;
}
.block_menu .navbar-nav{
    float: none;
    margin: 0 -20px;
}
.block_menu .navbar-nav li{
    float: none;
}
.block_menu .navbar-nav a{
    height: 50px;
    padding: 0 20px 0 65px;
    line-height: 50px;
    color: #ffffff !important;
    background-position: 20px center;
    background-repeat: no-repeat;
}
.block_menu .navbar-nav .active a, .block_menu .navbar-nav .active a:focus, .block_menu .navbar-nav a:hover{
    background-color: #222222;
}
.block_menu .navbar-nav a:focus{
    background-color: #222222;
}
.ico_navbar_1{
    background-image: url("./images/ico_navbar_1.svg");
    background-size: 22px 18px !important;
}
.ico_navbar_2{
    background-image: url("./images/ico_navbar_2.svg");
    background-size: 26px 22px !important;
}
.ico_navbar_3{
    background-image: url("./images/ico_navbar_3.svg");
    background-size: 26px 22px !important;
}
.ico_navbar_4{
    background-image: url("./images/ico_navbar_4.svg");
    background-size: 24px 18px !important;
}
.ico_navbar_5{
    background-image: url("./images/ico_navbar_5.svg");
    background-size: 24px 18px !important;
}
.block_menu .navbar-nav .active .ico_navbar_1, .block_menu .navbar-nav .ico_navbar_1:focus, .block_menu .navbar-nav .ico_navbar_1:hover{
    background-image: url("./images/ico_navbar_1_hover.svg");
}
.block_menu .navbar-nav .active .ico_navbar_2, .block_menu .navbar-nav .ico_navbar_2:focus, .block_menu .navbar-nav .ico_navbar_2:hover{
    background-image: url("./images/ico_navbar_2_hover.svg");
}
.block_menu .navbar-nav .active .ico_navbar_3, .block_menu .navbar-nav .ico_navbar_3:focus, .block_menu .navbar-nav .ico_navbar_3:hover{
    background-image: url("./images/ico_navbar_3_hover.svg");
}
.block_menu .navbar-nav .active .ico_navbar_4, .block_menu .navbar-nav .ico_navbar_4:focus, .block_menu .navbar-nav .ico_navbar_4:hover{
    background-image: url("./images/ico_navbar_4_hover.svg");
}
.block_menu .navbar-nav .active .ico_navbar_5, .block_menu .navbar-nav .ico_navbar_5:focus, .block_menu .navbar-nav .ico_navbar_5:hover{
    background-image: url("./images/ico_navbar_5_hover.svg");
}

/* ----- content ----- */
.content{
    height: inherit;
    padding: 10px 0 0 0;
    position: relative;
    z-index: 1;
}
.menu{
    margin: 0 0 26px 0;
}
.menu li{
    display: table-cell;
    width: 1%;
}
.menu a{
    margin: 0 !important;
    padding: 11px 10px 12px 10px !important;
    color: #ffffff !important;
    background: #282828;
}
.menu .active a, .menu .active a:focus, .menu a:hover,
.menu a.router-link-active
{
    background: #0072c6 !important;
}
.menu a.router-link-active {
    pointer-events: none;
}
.menu a:focus{
    background-color: #0072c6 !important;
}
.menu_tabs{
    margin: 0 0 15px 0;
}
.menu_tabs li{
    display: table-cell;
    width: 1%;
}
.menu_tabs a{
    margin: 0 !important;
    padding: 0 10px !important;
    color: #c1c1c1;
    background: transparent !important;
}
.menu_tabs a span{
    display: inline-block; vertical-align: top;
    width: 100%;
    max-width: 126px;
    padding: 0 0 12px 0;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
}
.menu_tabs .active a, .menu_tabs a:hover{
    color: #ffffff;
}
.menu_tabs .active a span, .menu_tabs a:hover span{
    border-bottom: 2px solid #0072c6;
}
.content_scroll_inn{
    padding: 0 10px;
    overflow: hidden;
}
.height_auto{
    height: auto !important;
}
.block_border{
    margin: 0 0 30px 0;
    padding: 15px;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}
.table_params td{
    padding: 0 0 15px 0;
    height: 30px;
    box-sizing: content-box;
}
.table_params td:last-child{
    width: 1px;
    white-space: nowrap;
    text-align: right;
}
.table_params tr:last-child td{
    padding: 0;
}
.table_params td:last-child label:last-child{
    margin: 0 0 0 5px;
}
.table_params td:last-child input[type="text"], .table_params td:last-child input[type="password"]{
    width: 230px;
}
.table_params td:last-child .dropdown-toggle{
    width: 230px;
}
.w195{
    width: 195px !important;
}
.content h3{
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
}
.block_grey{
    margin: 0 0 30px 0;
    padding: 45px 15px;
    background: #282828;
    border-radius: 3px;
}
.btn-primary{
    border: 1px solid #5a5a5a !important;
    background: #1d1d1d !important;
    box-shadow: none !important;
}
.btn-primary:hover{
    border: 1px solid #acacac !important;
}
.btn-primary span:first-child{
    margin: 0 6px 0 0;
}
.btn-primary span.ico{
    display: inline-block; vertical-align: middle;
    background-size: cover !important;
}
.btn-primary span.ico_backup{
    width: 14px;
    height: 13px;
    margin-top: -2px;
    background: url("./images/ico_backup.svg") left top no-repeat;
}
.btn-primary span.ico_scan{
    width: 18px;
    height: 14px;
    margin-top: -2px;
    background: url("./images/ico_scan.svg") left top no-repeat;
}
.btn-primary span.ico_reset{
    width: 13px;
    height: 13px;
    margin-top: -2px;
    background: url("./images/ico_reset.svg") left top no-repeat;
}
.btn-primary span.ico_auto{
    width: 13px;
    height: 13px;
    margin-top: -2px;
    background: url("./images/ico_auto.svg") left top no-repeat;
}
.btn-primary.btn_check{
    width: auto !important;
}
.btn-primary.btn_check span{
    margin: 0;
}
.block_grey .btn-primary{
    width: 265px;
    margin: 0 3px;
}
.block_buttons{
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    padding: 15px 0;
    border-top: 1px solid #5a5a5a;
}
.block_buttons a{
    margin: 0 0 0 14px;
}
.dbl-config .btn{
    padding: 5px 12px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.block_buttons .btn-link, .block_buttons .btn-link:active, .block_buttons .btn-link:focus{
    text-decoration: none !important;
    color: #ffffff !important;
}
.block_buttons .btn-link:hover{
    color: #ababab !important;
}
.block_buttons .btn-default{
    color: #ffffff !important;
    text-shadow: none !important;
    border: 0 !important;
    background: #0072c6 !important;
    box-shadow: none !important;
}
.block_buttons .btn-default:hover{
    background: #008aed !important;
}
.block_buttons .btn-default:active{
    background: #0065ad !important;
}
.block_buttons .btn-default{
    padding: 6px 25px !important;
}
.block_borders_holder{
    position: relative;
}
.block_border_left, .block_border_right{
    position: absolute;
    top: 0;
    bottom: 30px;
    width: 50%;
    z-index: -1;
}
.block_border_left{
    left: 0;
}
.block_border_right{
    right: 0;
}
.block_border_left:before, .block_border_right:before{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    content: "";
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}
.block_border_left:before{
    top: 0;
}
.block_border_right:before{
    top: 33px;
}
.block_borders_holder .block_border{
    border: transparent;
}
.table_filename_pattern td{
    padding: 0 0 15px 0;
}
.table_filename_pattern td:first-child{
    width: 12%;
    vertical-align: top;
    padding-top: 7px;
}
.table_filename_pattern tr:last-child td{
    padding: 0;
}
.table_filename_pattern td:last-child label:last-child{
    margin: 0 0 0 5px;
}
.table_filename_pattern td:last-child input[type="text"]{
    width: 230px;
}
.table_filename_pattern td:last-child .dropdown-toggle{
    width: 230px;
}
.block_append{
    margin-right: -3px;
    margin-left: -3px;
}
.block_append .col-lg-3, .block_append .col-sm-3, .block_append .col-xs-3{
    padding-right: 3px;
    padding-left: 3px;
}
.block_append .btn{
    display: block;
    margin: 0 0 5px 0;
}
.block_append .btn:last-child{
    margin: 0;
}
.block_append .btn.disabled{
    opacity: 0.35;
    cursor: default;
}
.block_result_holder{
    padding: 15px 23px 15px 15px;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
    position: relative;
}
.block_result_holder .close{
    position: absolute;
    top: 50%;
    right: 15px;
    margin: 0;
    transform: translateY(-50%);
}
.block_result_holder ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.block_result_holder li{
    float: left;
    width: 16.66%;
    padding: 0 20px 0 0;
}
.block_result{
    height: 50px;
    padding: 0 30px 0 15px;
    border-radius: 3px;
    background: #5a5a5a;
    position: relative;
}
.block_result_inn{
    line-height: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.block_result span{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}
.block_result span:hover{
    color: #e95d0f;
}
.block_result span:active{
    color: #3c3c3c;
}
.block_result u{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
.ico_flip{
    transform: scaleX(-1);
}






.path-selector-wrapper{
    position: relative;
    width: 388px;
}
.path-selector-wrapper > .glyphicon{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background: #1d1d1d;
    cursor: pointer;
    z-index: 2;
}
.path-selector{
    position: absolute;
    top: 100%;
    right: 0;
    width: 388px;
    text-align: left;
    border: 1px solid #5a5a5a !important;
    border-radius: 4px;
    background: #3c3c3c;
    box-shadow: 0 4px 14px rgba(0,0,0,.4);
    box-sizing: border-box;
    z-index: 100;
}
.dl-tree-breadcrumb{
    margin: 0 0 15px 0;
    padding: 15px;
    direction: rtl;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background: #282828;
}
.dl-tree-breadcrumb a{
    text-decoration: underline !important;
    color: #ffffff !important;
}
.dl-rtl-stopper{
    opacity: 0;
}
.path-selector .scrollbar-outer{
    height: 160px;
}
.path-selector .scrollbar-outer .scroll_inn{
    padding: 0 10px 0 5px;
}
.path-selector .scrollbar-outer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.path-selector .scrollbar-outer a{
    display: block;
    padding: 5px 30px 5px 15px;
    text-decoration: none !important;
    color: #ffffff !important;
    position: relative;
}
.path-selector .scrollbar-outer a:hover{
    background: #282828;
}
.path-selector .scrollbar-outer a span.glyphicon {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 10px;
    transform: translateY(-50%);
}
.path-selector .dl-tree-footer{
    margin: 15px 0 0 0;
    padding: 13px 20px;
    border-radius: 0 0 4px 4px;
    background: #282828;
}
.path-selector .dl-tree-footer a{
    font-size: 13px !important;
}
.path-selector .dl-tree-footer a:hover,
.path-selector .dl-tree-footer a:focus{
    color: #ababab;
    text-decoration: none;
}
.path-selector .dl-tree-footer .dl-disable-back,
.path-selector .dl-tree-footer .dl-disabled{
    color: #888 !important;
    cursor: default;
}
.path-selector .dl-tree-footer a .glyphicon{
    padding-right: 5px;
}
.path-selector .dl-tree-footer .dl-make-directory,
.path-selector .dl-tree-footer .dl-select{
    float: right;
}
.popup_recording_path_bottom .fl_left input[type="text"]{
    width: 190px !important;
}
.popup_recording_path_bottom .fl_right span{
    margin: 0 5px 0 0;
}

.path-selector .dl-tree-container {
    padding-top: 15px;
}

[data-toggle="path-selector"] + .edit {
    position: absolute;
    top: 17px;
    right: 32px;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background: #1d1d1d;
    cursor: pointer;
    z-index: 2;
}

.path-selector-wrapper + .edit {
    display: none;
}




.popup_recording_path .scrollbar-outer{
    height: 160px;
}
.popup_recording_path .scrollbar-outer .scroll_inn{
    padding: 0 10px 0 5px;
}
.popup_recording_path .scrollbar-outer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.popup_recording_path .scrollbar-outer a{
    display: block;
    padding: 5px 30px 5px 15px;
    text-decoration: none !important;
    color: #ffffff !important;
    position: relative;
}
.popup_recording_path .scrollbar-outer a:hover{
    background: #282828;
}
.popup_recording_path .scrollbar-outer a span{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 10px;
    transform: translateY(-50%);
}
.popup_recording_path_bottom{
    margin: 15px 0 0 0;
    padding: 5px;
    border-radius: 0 0 4px 4px;
    background: #282828;
}
.popup_recording_path_bottom .fl_left input[type="text"]{
    width: 190px !important;
}
.popup_recording_path_bottom .fl_right span{
    margin: 0 5px 0 0;
}


.table_send_to tfoot:before {
    line-height: 1.5em;
    content: ".";
    color: transparent;
    display: block;
}
.table_send_to th{
    padding: 10px 15px;
    font-weight: normal;
    background: #1d1d1d;
}
.table_send_to th:first-child{
    border-left: 1px solid #1d1d1d;
    border-radius: 3px 0 0 0;
}
.table_send_to th:last-child{
    border-right: 1px solid #1d1d1d;
    border-radius: 0 3px 0 0;
}
.table_send_to td{
    min-height: 30px;
    padding: 15px 15px;
    border-top: 2px solid #3c3c3c;
    background: #5f5f5f;
}
.table_send_to tr:hover td, .table_send_to tr.active td{
    background: #828282;
}
.table_send_to td:first-child{
    border-left: 1px solid #5a5a5a;
    box-shadow: inset 2px 0 0 0 #3c3c3c;
}
.table_send_to td:last-child{
    text-align: right;
    border-right: 1px solid #5a5a5a;
    box-shadow: inset -2px 0 0 0 #3c3c3c;
}
.table_send_to tr.new td{
    border-top: 0;
    background: #282828 !important;
}
.table_send_to tr.new:hover td, .table_send_to tr.new.active td{
    background: #282828;
}
.table_send_to tr.new td:first-child{
    border-left: 1px solid #282828;
    box-shadow: inset 2px 0 0 0 #282828;
}
.table_send_to tr.new td:last-child{
    border-right: 1px solid #282828;
    box-shadow: inset -2px 0 0 0 #282828;
}
.table_send_to span.ico, .table_params span.ico, .table_send_to i.ico{
    display: inline-block; vertical-align: middle;
    background-size: cover !important;
}
.table_send_to .block_edit_del{
    visibility: hidden;
}
.table_send_to tr.tbl-active .block_edit_del{
    visibility: visible;
}
.table_send_to .block_edit_del span{
    display: inline-block; vertical-align: top;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.table_send_to .block_edit_del .glyphicon-pencil{
    font-size: 9px;
    color: #282828;
    background: #dddddd;
}
.table_send_to .block_edit_del .glyphicon-remove-sign{
    margin: 0 0 0 10px;
    font-size: 18px;
    color: #dddddd;
    background: #282828;
    box-shadow: inset 0 0 0 1px #dddddd;
}
.table_send_to .block_edit_del .glyphicon-pencil:hover{
    background: #ffffff;
}
.table_send_to .block_edit_del .glyphicon-remove-sign:hover{
    color: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;

}
.table_send_to .block_edit_del .glyphicon-pencil:active{
    color: #ffffff;
    background: #1d1d1d;
}
.table_send_to .block_edit_del .glyphicon-remove-sign:active{
    color: #1d1d1d;
    background: #ffffff;
    box-shadow: inset 0 0 0 1px #1d1d1d;
}
.table_send_to tbody td {
    position: relative;
}

/* ----- errors ----- */
.dbl-config .form-group{
    margin: 0 !important;
}
.has-error input, .has-error textarea, .has-error button{
    color: #8f2c2c !important;
    border: 1px solid #8f2c2c !important;
}
.block_error{
    width: 100%;
    height: 0;
    position: relative;
    z-index: 2000;
}
.block_error .glyphicon{
    position: absolute;
    top: -25px;
    right: 8px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #8f2c2c !important;
    line-height: 20px;
    cursor: pointer;
    pointer-events: auto;
}
.bubble_error{
    display: none;
    position: absolute;
    top: -5px;
    right: 3px;
    max-width: 300px;
    padding: 2px 10px;
    font-size: 12px;
    color: #ffffff;
    line-height: normal;
    border-radius: 5px;
    background: #8f2c2c;
}
.block_error:hover .bubble_error{
    display: block;
}
.bubble_error:before{
    position: absolute;
    top: -4px;
    right: 12px;
    content: "";
    width: 8px;
    height: 4px;
}

/* ----- search_dropdown ----- */
.block_search_dropdown{
    padding: 0 5px 10px 5px;
}
.block_search_dropdown .form-control{
    padding-right: 30px;
    position: relative;
    z-index: 1;
}
.block_search_dropdown .form-control:focus{
    position: relative;
    z-index: 2;
}
.block_search_dropdown .input-group-btn{
    z-index: 1;
}
.block_search_dropdown .btn{
    height: 30px;
    padding: 0 12px;
    color: #ffffff !important;
    border: 1px solid #5a5a5a;
    background: #1d1d1d !important;
    outline: none !important;
    transition: all 0.25s ease 0s;
}
.block_search_dropdown .btn:hover{
    border: 1px solid #acacac !important;
}
.block_search_dropdown .btn span{
    transition: all 0.25s ease 0s;
    opacity: 0.75;
}
.block_search_dropdown .btn:hover span{
    opacity: 1;
}
.block_search_dropdown .input-group > .glyphicon-remove{
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 10px;
    transform: translateY(-50%);
    opacity: 0.75;
    cursor: pointer;
    z-index: 3;
}
.block_search_dropdown .input-group > .glyphicon-remove:hover{
    opacity: 1;
}
.block_search_dropdown_info{
    padding: 5px 10px 10px 10px;
}

/* ----- preload ----- */
.preload{
    position: absolute;
    top: -1000em;
    left: -1000em;
    background-image: url("./images/ico_menu_hover.svg"), url("./images/ico_close_menu.svg"), url("./images/ico_close_menu_hover.svg"), url("./images/ico_navbar_1.svg"), url("./images/ico_navbar_2.svg"), url("./images/ico_navbar_3.svg"), url("./images/ico_navbar_4.svg"), url("./images/ico_navbar_1_hover.svg"), url("./images/ico_navbar_2_hover.svg"), url("./images/ico_navbar_3_hover.svg"), url("./images/ico_navbar_4_hover.svg");
}

@media screen and (max-width: 1040px){
    .block_result{
        padding: 0 25px 0 10px;
    }
    .block_result_inn{
        font-size: 11px;
    }
    .block_result span{
        right: 10px;
        font-size: 11px;
    }
    .table_send_to th{
        padding: 10px 8px;
    }
    .table_send_to th:first-child{
        padding-left: 15px;
    }
    .table_send_to th:last-child{
        padding-right: 15px;
    }
    .table_send_to td{
        padding: 15px 8px;
    }
    .table_send_to td:first-child{
        padding-left: 15px;
    }
    .table_send_to td:last-child{
        padding-right: 15px;
    }
    .table_send_to input[type="text"], .table_send_to .dropdown-toggle{
        width: 130px;
    }
}
@media screen and (max-width: 900px){
    .block_result_inn{
        font-size: 10px;
    }
}



.cfg-targets .cfg-target-id,
.cfg-targets .cfg-target-formatter-params,
.cfg-targets .cfg-target-destination-params,
.cfg-targets .cfg-target-activate {
    display: none;
}
.cfg-targets .cfg-target-controls {
    text-align: right;
}
.block_send_to .table_params .cfg-no-options {
    text-align: center;
}
.block_send_to .table_params input[disabled],
.block_send_to .table_params select[disabled],
.block_send_to .table_params input[disabled] + label {
    cursor: default;
    opacity: 0.5;
}
.block_send_to select {
    border: 1px solid #5a5a5a;
}
.block_send_to .table_send_to tr.tbl-active td {
    background: #314655;
}
.block_send_to .table_send_to tr.tbl-active:hover td {
    background: #264f6e;
}
.block_send_to .table_send_to .block_send_to_add {
    margin-top: 13px;
}
.block_send_to .table_send_to.tbl-editing .block_edit_del {
    visibility: hidden !important;
}
.block_send_to .table_send_to.tbl-editing td {
    background: #5a5a5a;
}
.block_send_to .cfg-workunits-params {
    margin-top: 15px;
}
.block_send_to .table_params .path-selector {
    top: initial;
    bottom: 100%;
}


header.header {
    -webkit-app-region: drag;
}
header.header .button_menu,
header.header .block_current_server .dropdown {
    -webkit-app-region: no-drag;
}

.empty_message {
    display: table;
    height: 100%;
    width: 100%;
}
.empty_message > * {
    vertical-align: middle;
    display: table-cell;
}
.empty_message * {
    text-align: center;
    font-size: 13px !important;
    font-weight: normal !important;
}
.empty_message .description a {
    text-decoration: underline;
}
.empty_message .description a:hover,
.empty_message .description a:active,
.empty_message .description a:focus {
    color: #aaa;
}

.disabled,
input[disabled] {
    opacity: 0.5 !important;
}

.btn_middle{
    width: 265px;
}


input.invalid, input.invalid:focus {
    background-color: #4f0000;
    border-color: #9f0000;
}
















body .scrollbar-outer > .scroll-element.scroll-x {
    background: #3c3c3c;
}
body .scrollbar-outer > .scroll-element.scroll-y {
    background: #3c3c3c;
}
body .scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
    left: 0;
    width: 5px;
}
body .scrollbar-outer > .scroll-element .scroll-element_track {
    background-color: #333333;
}
body .scrollbar-outer > .scroll-element .scroll-bar {
    background-color: #242424;
}
body .scrollbar-outer > .scroll-element .scroll-bar:hover {
    background-color: #242424;
}
body .scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
    background-color: #242424;
}











.active ::-moz-selection {
   background: transparent;
}
.active ::-webkit-selection {
    background: transparent;
}
.active ::selection {
   background: transparent;
}
