
body {
    color: #fefefe;
    background-color: #fefefe;
}


/* Button */
.btn {
    border-radius: 3px;
}
.btn .dbl-icon {
    font-size: 20pt;
}
.btn-default {
    color: #fefefe;
    background-color: #1d1d1d;
    border-color: #5a5a5a;
}
.btn-default > * {
    position: relative;
}
.btn-default > .sr-only {
    position: absolute;
}
.btn-default.active,
.btn-default:active {
    position: relative;
    border-color: #5a5a5a;
    background-color: #0072c6 !important;
    box-shadow: inset 5px 0px 0px 0px #1d1d1d, inset 0px 5px 0px 0px #1d1d1d, inset -5px 0px 0px 0px #1d1d1d, inset 0px -5px 0px 0px #1d1d1d
}
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default.focus,
.btn-default:active,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #fefefe;
    background-color: #1d1d1d;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    border-color: #adadad;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #282828;
    border-color: #5a5a5a;
}


/* Label */
.label-danger {
    background-color: #c01c17;
}


/* Modal */
.dbl-program-dlg .modal-content {
    background-color: #3c3c3c;
}
.modal-body {
    color: #000;
}
.dbl-program-dlg .modal-body {
    background-color: #3c3c3c;
}
.modal-footer,
.modal-header {
    background-color: #282828;
}
.dbl-program-dlg .modal-footer {
    border-top: rgba(0, 0, 0, 0);
}


/* Navigation menu */
.navbar-default {
    background-color: #282828;
    border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: #a5a5a5;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-default .navbar-nav > li{
    color: #fafafa;
}
.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
    color: #fafafa;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}
.navbar-default .navbar-nav > li > a {
    color: #e1e1e1;
}


/* Dropdown menu */
.dropdown-menu {
    background-color: #282828;
    color: #fafafa;
}
.dropdown-menu > li > a.active,
.dropdown-menu > li > a.active:hover {
    background-color: #0072c6;
    cursor: default;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #3c3c3c;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fafafa;
}


/* Navbar Form */
.navbar-form .input-group > .form-control {
    color: #fefefe;
    background-color: #1d1d1d;
    border-color: #5a5a5a;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Top */
/* Highlighting active elements */
.dbl-header .open > a,
.dbl-header .open > a:focus,
.dbl-header .open > a:hover,
.dbl-header .active > a,
.dbl-header .active > a:focus,
.dbl-header .active > a:hover {
    background-color: #1d1d1d !important;
    color: #fafafa !important;
}
/* Menu Expand Button */
.dbl-header .navbar-toggle {
    border-color: #5a5a5a !important;
    border-radius: 2px;
}
.dbl-header .navbar-toggle:focus,
.dbl-header .navbar-toggle:hover {
    background-color: #1d1d1d;
}
.dbl-header .navbar-toggle .icon-bar {
    background-color: #fafafa !important;
}
/* Horizontal dividers */
.dbl-header .dbl-navigation {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1);
}


/* Subtlebox */
.subtlebox .dropdown-menu {
    background-color: #1d1d1d;
    border-color: #5a5a5a;
}
.subtlebox.open > .dropdown-toggle.btn-default {
    color: #fefefe;
    background-color: #1d1d1d;
    border-color: #5a5a5a;
}
.subtlebox .dropdown-toggle.active:before,
.subtlebox .dropdown-toggle:active:before {
    background-color: rgba(0, 0, 0, 0);
}
.subtlebox .dropdown-menu li > label:hover {
    background-color: #5a5a5a !important;
}
.subtlebox .dropdown-menu .icon {
    background-color: #5a5a5a;
}
.subtlebox .dropdown-toggle .icon,
.subtlebox .dropdown-menu input:checked + .menu-open-button .icon {
    background-color: #0072c6;
    border-color: #2e6da4;
}


/* Program list */
.dbl-program {
    background-color: #282828;
}
.dbl-program.dbl-error {
    background-color: #3A0200;
}
.dbl-program-delimiter {
    color: #282828;
    border-color: #282828;
}

/* Program details */
.dbl-program-dlg .dbl-program-main {
    background-color: #282828;
    color: #fefefe;
}
.dbl-program-dlg .dbl-program-description {
    background-color: #e6e9ec;
    color: #292929;
}
.dbl-program-dlg .dbl-rating .icon {
    color: #5a5a5a;
}
.dbl-program-dlg .dbl-rating .icon.dbl-active {
    color: #fafafa;
}

.dbl-program-list-pager li > a {
    background-color: #282828;
    color: #fafafa;
    border: 1px solid #5a5a5a;
}
.pager li > a:hover,
.pager li > a:focus {
    background-color: #282828;
}
.dbl-program-list-pager .active > a {
    background-color: #0072c6 !important;
    cursor: default;
}
.dbl-program-list-pager .disabled > a,
.dbl-program-list-pager .disabled > a:hover,
.dbl-program-list-pager .disabled > a:focus,
.dbl-program-list-pager .disabled > span {
    background-color: #282828;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
    cursor: default;
}


/* Free space indicator */
.dbl-free-space {
    background-color: #fefefe;
}
.dbl-free-space .dbl-label {
    color: #0072c6;
}
.dbl-free-space .progress-bar {
    background-color: #0072c6;
}
.dbl-free-space .progress-bar-danger {
    background-color: #c01c17;
}


/* Group selector */
.dbl-group-selection {
    border: 1px solid #5a5a5a;
    background-color: #282828;
    border-top: none;
}



/* Spinner */
.dbl-waiter:after {
    border-top-color: rgba(250, 250, 250, 0.6);
    border-bottom-color: rgba(250, 250, 250, 0.6);
}



/* TVGuide */
.dbl-timeline .dbl-date:before {
    border-left-color: #fefefe;
}

.dbl-tvguide-content .programs-line li:hover {
    background-color: #b3bbc2;
}

.dbl-tvguide-content .programs-line li {
    color: #292929;
}
.dbl-tvguide-content .programs-line li {
    color: #292929;
    background-color: #dfe5e8;
}

.dbl-tvguide-content .lt:before,
.dbl-tvguide-content .gt:after {
    background-color: #5a5a5a;
}

.program-selectors-active .programs-line > li.dbl-program-item .selected {
    background-color: #dfe5e8;
    color: #000;
}

.program-selectors-active .programs-line > li:hover .selected {
    background-color: #b3bbc2;
}


.dbl-no-programs, .dbl-no-schedules {
    color: #000;
}
