
.dbl-program.dbl-schedule {
    cursor: default;
}

.dbl-schedule .dbl-name {
    padding-bottom: 10px;
}

.dbl-schedule .dbl-extend-records {
    display: none;
    cursor: pointer;
}

.dbl-schedule.dbl-extendable .dbl-extend-records {
    display: block;
    position: absolute;
    height: 100%;
}

.dbl-schedule.dbl-extendable .dbl-extend-records .icon {
    top: calc(50% - 7px);
}

.dbl-schedule.dbl-extendable .dbl-parameters {
    display: block;
    margin-left: 22px;
    padding-left: 5px;
    border-left: 1px solid #5A5A5A;
    margin-right: 145px;
}
.dbl-schedule .dbl-parameters .dbl-schedule-param {
    margin: 2px;
    margin-bottom: 3px;
    vertical-align: -moz-middle-with-baseline;
}
.dbl-schedule.dbl-extendable .dbl-controls.dbl-record-serie {
    position: absolute;
    bottom: 0;
    right: 0;
}
.dbl-schedule .dbl-controls {
    position: relative;
    margin: 0 -2px 3px;
}




.dbl-schedule.dbl-extendable .dbl-extend-records .dbl-collapse {
    display: none;
}
.dbl-schedule.dbl-extendable .dbl-extend-records .dbl-extend {
    display: inline-block;
}
.dbl-schedule.dbl-extendable.dbl-open .dbl-extend-records .dbl-collapse {
    display: inline-block;
}
.dbl-schedule.dbl-extendable.dbl-open .dbl-extend-records .dbl-extend {
    display: none;
}


.dbl-schedule.dbl-extendable .dbl-records {
    display: none;
}
.dbl-schedule.dbl-extendable.dbl-open .dbl-records {
    display: block;
    margin-top: 15px;
}

.dbl-schedule .dbl-name-extend {
    margin-bottom: 10px;
}


.dbl-schedule .dbl-records .dbl-info {
    cursor: pointer;
    line-height: 30px;
}

.dbl-schedule .dbl-controls {
    padding-right: 0;
}

.dbl-schedule.dbl-extendable .dbl-info .dbl-edit-schedule {
    display: none;
}
body[data-mode-timers="true"] .dbl-controls .dbl-edit-schedule {
    display: none;
}

.edit-schedule-modal #edit-schedule-name {
    border: none;
    box-shadow: none;
}
.edit-schedule-modal input[type="checkbox"] {
    margin-top: 10px;
}
.edit-schedule-modal input[type="checkbox"][name="weekdays"] {
    margin-top: 4px;
}

.edit-schedule-modal #edit-schedule-sendto-targets option {
    padding: 2px 10px;
    margin: 0px -10px;
}

.edit-schedule-modal .dbl-days {
    padding-right: 5px;
}

.edit-schedule-modal .ms-container {
    width: auto;
}
.edit-schedule-modal .ms-list {
    height: auto;
    max-height: 78px;
    min-height: 34px;
}
.edit-schedule-modal .ms-container .ms-list.ms-focus{
    border-color: #66afe9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dbl-program.dbl-schedule .dbl-description {
    display: block;
    font-style: italic;
    padding-bottom: 10px;
    padding-right: 3px;
}

.dbl-program.dbl-schedule.dbl-inactive .dbl-description {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .subtlebox {
        display: block !important;
        margin-bottom: 10px;
    }

    .dbl-schedule.dbl-extendable .dbl-extend-records {
        border-right: none;
        padding-bottom: 0;
        margin-left: 50%;
        font-size: 200%;
    }

    .dbl-schedule.dbl-extendable .dbl-extend-records > .icon {
        margin-left: -10px;
        bottom: 0;
        top: auto;
        position: absolute;
    }

    .dbl-schedule.dbl-extendable .dbl-parameters {
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        border-left: none;
    }

    .dbl-schedule.dbl-extendable .dbl-controls.dbl-record-serie {
        position: static;
        display: block;
        padding: 3px 2px 0px;
        text-align: right;
    }
}



.dbl-free-space.navbar-right {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    cursor: default;
    margin-right: 5px;
}
.dbl-free-space .dbl-label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    line-height: 20px;
}
.dbl-free-space .progress {
    position: relative;
    margin-bottom: 0;
    background-color: transparent;
}
.dbl-free-space .progress-bar {
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    padding-left: 10px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .dbl-free-space {
        margin-right: 5px;
    }
}
@media (min-width: 0) {
    .dbl-free-space {
        min-width: 50px;
        width: 50px;
    }
    .dbl-free-space .dbl-label {
        display: none;
    }
    .dbl-free-space .progress-bar {
        color: transparent;
    }
}
@media (min-width: 880px) {
    .dbl-free-space {
        min-width: 90px;
        width: 90px;
    }
    .dbl-free-space .dbl-label {
        display: none;
    }
    .dbl-free-space .progress-bar {
        color: transparent;
    }
}
@media (min-width: 1000px) {
    .dbl-free-space {
        min-width: 180px;
    }
    .dbl-free-space .dbl-label {
        display: inline-block;
    }
    .dbl-free-space .progress-bar {
        color: #fff;
    }
}



.dbl-schedule .dbl-info {
    position: relative;
}
.dbl-schedule .dbl-info .dbl-program-genres {
    position: absolute;
    left: -27px;
    top: -8px;
    bottom: -5px;
    width: 7px;
    border-right: none;
    padding-right: 0;
    margin-left: 0;
}
@media (max-width: 767px) {
    .dbl-schedule .dbl-info .dbl-program-genres {
        left: -8px;
        width: 5px;
    }
}


/* Controlling sorting types depending on the display mode. */
.dbl-sort .dbl-sort-type, .dbl-sort .dbl-sort-date {
    display: none;
}
.dbl-sort[data-mode=schedules] .dbl-sort-type {
    display: block;
}
.dbl-sort[data-mode=timers] .dbl-sort-date {
    display: block;
}


/* Adaptation of the macro program () for the shedule. */
.dbl-schedule .dbl-records .dbl-name {
    display: none;
}
.dbl-schedule .dbl-records .dbl-info .dbl-info {
    display: inline;
}
.dbl-schedule .dbl-records .dbl-info .dbl-name-extend {
    display: inline;
    border-bottom: none;
}
.dbl-schedule .dbl-records .dbl-info .dbl-name-extend > *:last-child {
    margin-right: 5px;
}
.dbl-schedule .dbl-records .dbl-info .dbl-name-extend.dbl-item-delimiters > * {
    border-right: 1px solid;
}
.dbl-schedule .dbl-records .dbl-program {
    padding: 0;
    margin-bottom: 0;
}
.dbl-schedule .dbl-records .dbl-subname {
    font-size: 13px;
}


/* Badges (HD, Premiere, Repeat) */
.dbl-app-schedules .dbl-records .dbl-badges {
    right: 75px;
    bottom: -13px;
}


.dbl-schedule .dbl-sendto-schedule .icon {
    font-size: 13pt !important;
    vertical-align: baseline;
}
.dbl-schedule .dbl-cancel-schedule {
    float: right;
    margin-top: 1px;
}


.dbl-schedule.dbl-program .dbl-edit-schedule {
    margin: 1px;
    float: right;
}
.dbl-schedule.dbl-program .dbl-edit-schedule .icon {
    font-size: 12pt !important;
    vertical-align: unset;
}
.dbl-program.dbl-info .dbl-edit-schedule {
    float: none;
}
