<template>
  <div class="dbl-app-schedules">
    <main-header @hamburgerClick="$emit('hamburgerClick')">
      <ul class="dbl-library-nav nav navbar-nav">
        <nav-bar-multilevel class="dbl-show-params" :title="$t('connect.filter')" :icon="['icon-filter']">
          <subtlebox class="dbl-view-mode" v-model="viewMode" :label="$t('schedules.viewMode')"
                     :items="viewModes"
          />

          <subtlebox class="dbl-view-mode" v-model="sortMode" :label="$t('schedules.sortBy')"
                     :items="sortModes"
          />

        </nav-bar-multilevel>

        <li>
          <button type="button" :title="$t('schedules.addRecordingPageTitle')" class="dbl-add-recording btn btn-link navbar-btn"
                  @click="addRecording"
          >
            <span class="icon icon-add" aria-hidden="true"></span>
          </button>
        </li>

        <li v-if="1 || sendToSupported">
          <button @click="openSendToModal" type="button" :title="$t('connect.sendtoOptions')" class="dbl-sendto-link btn btn-link navbar-btn">
            <span class="icon icon-sendto" aria-hidden="true"></span>
          </button>
        </li>
      </ul>

      <free-space-indicator />
    </main-header>

    <main class="main">
      <main class="container">
        <div v-if="viewMode.id === 'timers'">
          <div v-if="!loading && !timers.length" class="dbl-no-schedules">{{ $t('schedules.recordingsNotScheduledMsg') }}</div>
          <section v-for="timer in timers" :key="timer.id" class="dbl-program" @click="openProgramDetails(timer)">
            <program :program="timer.program" >
              <div class="dbl-controls dbl-wo-delimiter pull-right">
                <button @click.stop="cancelRecording(timer)" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-recording btn btn-default dbl-btn-sm active">
                  <span class="icon icon-recordonce" aria-hidden="true"></span>
                </button>
              </div>
            </program>
          </section>
        </div>
        <div v-else-if="viewMode.id === 'schedules'">
          <div v-if="!loading && !sortedSchedules.length" class="dbl-no-schedules">{{ $t('schedules.recordingsNotScheduledMsg') }}</div>
          <section v-for="schedule in sortedSchedules" :key="schedule.id">
            <section class="dbl-schedule dbl-program"
                     :class="{'dbl-inactive': !schedule.active, 'dbl-extendable':  schedule.recordings.length > 0, 'dbl-open': ~openedSchedules.indexOf(schedule.id)}"
            >
              <h2 class="dbl-name"><span v-if="schedule.type === 'pattern'">Search pattern schedule:</span> {{ schedule.name }}</h2>
              <div class="dbl-controls">
                <span class="dbl-extend-records" @click="toggleRecords(schedule)">
                  <span class="dbl-extend icon icon-extend"></span>
                  <span class="dbl-collapse icon icon-collapse"></span>
                </span>
                <span class="dbl-parameters">
                  <span class="dbl-description">
                    <schedule-description :schedule="schedule" :sendto="sendtoTargets" />
                    {{ schedule.description }}
                  </span>
                </span>
                <span>
                  <span v-if="isRepeatSchedule(schedule)" class="dbl-controls dbl-record-serie dbl-wo-delimiter">
                    <button @click="cancelSeries(schedule)" :title="$t('connect.cancelSeriesRecordingMenuItem')" tabindex="-1" class="dbl-cancel-schedule btn btn-default dbl-btn-sm active">
                      <span class="icon icon-recordserie" aria-hidden="true"></span>
                    </button>
                    <button @click="editSeries(schedule)" :title="$t('schedules.edit')" tabindex="-1" class="dbl-edit-schedule btn btn-default dbl-btn-sm">
                      <span class="icon icon-edit" aria-hidden="true"></span>
                    </button>
                  </span>
                  <span v-else class="dbl-controls dbl-record-once dbl-wo-delimiter">
                    <button @click="cancelSeries(schedule)" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-schedule btn btn-default dbl-btn-sm active">
                      <span class="icon icon-recordonce" aria-hidden="true"></span>
                    </button>
                    <button @click="editSeries(schedule)" :title="$t('schedules.edit')" tabindex="-1" class="dbl-edit-schedule btn btn-default dbl-btn-sm">
                      <span class="icon icon-edit" aria-hidden="true"></span>
                    </button>
                  </span>
                  <div class="clearfix"></div>
                </span>
              </div>
              <div class="dbl-records">
                <div v-for="record in schedule.recordings" :key="record.id">
                  <div
                      class="dbl-program dbl-info"
                      @click="openProgramDetails(record)"
                  >
                    <program :program="record.program">
                      <div class="dbl-controls dbl-wo-delimiter pull-right">
                        <button @click="editSeries(schedule)" :title="$t('schedules.edit')" tabindex="-1" class="dbl-edit-schedule btn btn-default dbl-btn-sm">
                          <span class="icon icon-edit" aria-hidden="true"></span>
                        </button>

                        <button @click.stop="cancelRecording(record)" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-recording btn btn-default dbl-btn-sm active">
                          <span class="icon icon-recordonce" aria-hidden="true"></span>
                        </button>

                      </div>
                    </program>
                  </div>
                  <div class="dbl-name-extend"></div>
                </div>
              </div>
            </section>

          </section>
        </div>

      </main>
    </main>

    <spinner :showed="loading" />

    <program-details-modal :program="currentRecord.program">
      <button @click="cancelRecording(currentRecord)" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-recording btn btn-default dbl-btn-xxl active">
        <span class="icon icon-recordonce" aria-hidden="true"></span>
      </button>
    </program-details-modal>

    <add-recording-modal @add="addSchedule" :channels="channels" />
    <!-- <edit-schedule-modal :schedule="currentEditSchedule" /> -->
    <edit-schedule-modal v-model="currentEditSchedule" @save="editScheduleSave" />
    <send-to-modal />
  </div>
</template>


<script>
  import moment from 'moment'
  window.moment = moment

  import MainHeader from '@/components/MainHeader.vue'
  import Subtlebox from '@/components/Subtlebox.vue'
  import Spinner from '@/components/Spinner.vue'
  import ScheduleDescription from '@/components/ScheduleDescription'
  import Program from '@/components/Program.vue'
  import ProgramDetailsModal from '@/components/ProgramDetailsModal.vue'
  import NavBarMultilevel from '@/components/NavBarMultilevel.vue'
  import AddRecordingModal from '@/components/AddRecordingModal.vue'
  import EditScheduleModal from '@/components/EditScheduleModal.vue'
  import SendToModal from '@/components/SendToModal.vue'
  import FreeSpaceIndicator from '@/components/FreeSpaceIndicator.vue'

  import Connect from '@/api/connect'


  require('./schedules.css')

  export default {
      name: 'Schedules',
      components: {
          MainHeader,
          Spinner,
          ScheduleDescription,
          Program,
          ProgramDetailsModal,
          NavBarMultilevel,
          Subtlebox,
          AddRecordingModal,
          EditScheduleModal,
          SendToModal,
          FreeSpaceIndicator,
      },

      data () {
          return {
              loading: false,

              schedules: [],
              currentRecord: {
                  program: {},
              },

              channels: [],
              channelsMap: {},

              currentEditSchedule: {},

              sendToSupported: false,

              openedSchedules: [],

              viewModes: [{
                  id: 'schedules',
                  name: this.$t('schedules.viewModeSchedules'),
              }, {
                  id: 'timers',
                  name: this.$t('schedules.viewModeTimers'),
              }],
              viewMode: {},

              sortMode: {},

              sendtoTargets: [],
          }
      },

      created () {
          this.viewMode = this.viewModes[0]
          this.fetchData()
      },

      computed: {
          timers () {
              const timers = this.schedules.reduce(
                  (acc, schedule) => acc.concat(schedule.recordings), []
              )
              return timers.sort(
                  (a, b) => this.sortMode.id === 'name' ?
                          a.program.name.toLocaleLowerCase().localeCompare(b.program.name.toLocaleLowerCase()) :
                          moment(a.start).diff(moment(b.start))
              )
          },
          sortModes () {
              return [{
                  id: 'name',
                  name: this.$t('schedules.sortByName'),
              },
                  ...(this.viewMode.id === 'schedules' ? [{
                      id: 'type',
                      name: this.$t('schedules.sortByType'),
                  }] : [{
                      id: 'date',
                      name: this.$t('schedules.sortByDate'),
                  }])
              ]
          },
          sortedSchedules () {
              return [...this.schedules].sort((a, b) => {
                  return (
                      this.sortMode.id === 'type' ? a.type.localeCompare(b.type) : 0
                  ) || a.name.toLocaleLowerCase().localeCompare(b.name.toLocaleLowerCase())
              })
          },
      },

      watch: {
          viewMode () {
              this.sortMode = this.sortModes[0]
          },
          channels (newValue) {
              this.channelsMap = newValue.reduce(function (a, c) { a[c.id] = c.name; return a;}, {})
          },
      },

      methods: {
          async fetchData () {
              this.loading = true
              this.sendtoTargets = await Connect.SendTo.getTargets()
              this.channels = (await Connect.Schedules.getChannels()).sort((a, b) =>
                  a.name.toLocaleLowerCase().localeCompare(b.name.toLocaleLowerCase())
              )
              this.loading = false
              await this.fetchSchedules()
          },

          async fetchSchedules () {
              this.loading = true
              const schedules = await Connect.Schedules.get()
              this.schedules = schedules
              this.schedules.forEach(schedule => {
                  schedule.recordings.forEach(record => {
                      record.program.channel_name = this.channelsMap[record.channel]
                  })
              })
              this.loading = false
          },

          toggleRecords (schedule) {
              if (~this.openedSchedules.indexOf(schedule.id)) {
                  this.openedSchedules = this.openedSchedules.filter(value => value !== schedule.id)
              } else {
                  this.openedSchedules.push(schedule.id)
              }
          },

          openProgramDetails (record) {
              this.currentRecord = record
              this.$modal.show('program-details-modal')
          },

          addRecording () {
              this.$modal.show('add-recording-modal')
          },

          async addSchedule (params) {
              this.loading = true
              try {
                  await Connect.Schedules.appendManual(params)
                  await this.fetchSchedules()
              } catch (err) {
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
              this.$modal.hide('add-recording-modal')
          },

          async cancelRecording (recording) {
              this.loading = true
              try {
                  await Connect.Schedules.removeRecording(recording.recording)
                  this.$modal.hide('program-details-modal')
                  await this.fetchSchedules()
              } catch (err) {
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },
          async cancelSeries (schedule) {
              this.loading = true
              try {
                  await Connect.Schedules.removeSchedule(schedule.id)
                  await this.fetchSchedules()
              } catch (err) {
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

          async editSeries (schedule) {
              this.currentEditSchedule = schedule
              this.$modal.show('edit-schedule-modal')
          },

          async editScheduleSave (schedule) {
              this.loading = true
              try {
                  await Connect.Schedules.editSchedule(schedule)
                  this.$modal.hide('edit-schedule-modal')
                  await this.fetchSchedules()
              } catch (err) {
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

          isRepeatSchedule (schedule) {
              return schedule.type === 'epg' ? schedule.repeat :
                     schedule.type === 'manual' ? schedule.days.length > 0 :
                     schedule.type === 'pattern'
          },

          openSendToModal () {
              this.$modal.show('send-to-modal')
          },
      },

  }
</script>

<style lang="scss">
  .dbl-app-schedules {
      height: 100%;
      margin-top: 20px;

      .dbl-free-space {
          font-size: 12px;
      }

      .add-recording-modal {
          input[type="date"].form-control,
          input[type="time"].form-control {
              line-height: 1;
          }
      }

      .progress-bar {
          box-shadow: none;
      }
  }
</style>
