
body[data-page=tvguide] {
    padding: 60px 0 0;
}

.dbl-tvguide-content .dbl-grid {
    position: relative;
}

.dbl-tvguide-content .dbl-channel-list > ul,
.dbl-tvguide-content .programs-list > ul {
    left: 0;
    position: relative;
    top: 0;
}

.dbl-tvguide-content .dbl-channel-list {
    position: absolute;
    width: 165px;
}
body.with-logo .dbl-tvguide-content .dbl-channel-list {
    width: 215px;
}

.dbl-tvguide-content .dbl-channel-list .current a {
    color: #fff;
}
.dbl-tvguide-content .dbl-channel-list li {
    height: 40px;
}
.dbl-tvguide-content .dbl-channel-list .nav > li > a {
    height: 100%;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    font-weight: bold;
    color: #ccc;
    position: relative;
    color: #ddd;
    background-color: #282828;
    font-size: 16px;
    outline: none !important;
}
.dbl-tvguide-content .dbl-channel-list li a.with-logo {
    padding-left: 50px;
}

.dbl-tvguide-content .dbl-channel-list li a:after {
    font-family: "fontcustom";
    content: "\f114";
    bottom: 0;
    right: 5px;
    position: absolute;
    font-size: 15px;
}
.dbl-tvguide-content .dbl-channel-list li.dbl-locked a {
    color: #ffc0cb;
}
.dbl-tvguide-content .dbl-channel-list li a .number {
    display: block;
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 75%;
}
.dbl-tvguide-content .dbl-channel-list > ul > li {
    margin-top: 2px;
}


.dbl-tvguide-content .dbl-channel-list .logo {
    height: 40px;
    width: 40px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
    margin: 1em 0;
    position: absolute;
    top: -16px;
    left: 3px;
}
.dbl-tvguide-content .dbl-channel-list .align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.dbl-tvguide-content .dbl-channel-list .logo-img {
    vertical-align: middle;
    max-height: 38px;
    max-width: 40px;
}



.dbl-tvguide-content .programs-list {
    margin-top: 0;
    margin-left: 167px;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
body.with-logo .dbl-tvguide-content .programs-list {
    margin-left: 217px;
}
.dbl-tvguide-content .programs-list > ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.dbl-tvguide-content .programs-list .current {
    background-color: #0072c6;
    color: #fefefe;
}

.dbl-tvguide-content-mock-table,
.dbl-tvguide-content-mock-item {
    position: fixed;
    top: 10000px;
    left: 10000px;
    visibility: hidden;
    z-index: 0;
}
.dbl-tvguide-content .programs-line {
    margin: 0;
    padding: 0;
    position: relative;
    width: 10000px;
    height: 40px;
}
.dbl-tvguide-content .programs-line li {
    float: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 2px;
    overflow: hidden;
    height: 100%;
    background-color: #888;
    margin-right: 2px;
    cursor: pointer;
}

.dbl-tvguide-content .programs-line li .dbl-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dbl-tvguide-content .programs-line li .dbl-time {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 0.95;
}



.dbl-tvguide-content .programs-line li a,
.dbl-tvguide-content-mock-item-content {
    background-color: #dfe5e8;
    color: #000;
    border: none;
    height: 40px;
    line-height: 15px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 3px 15px;
    padding-left: 5px;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
}
.dbl-tvguide-content .programs-line li:hover {
    background-color: #3c3c3c;
}
.dbl-tvguide-content.focused .programs-line .current {
    color: #fff !important;
    background: #2970aa !important;
}
@media (max-width: 767px) {
    .dbl-tvguide-content .dbl-channel-list,
    body.with-logo .dbl-tvguide-content .dbl-channel-list {
        width: 100px;
    }
    .dbl-tvguide-content .programs-list,
    body.with-logo .dbl-tvguide-content .programs-list {
        margin-left: 102px;
    }
    body.with-logo .dbl-tvguide-content .dbl-channel-list a.with-logo .name {
        display: none;
    }
    .dbl-tvguide-content .dbl-channel-list .logo {
        width: 90px;
    }
    .dbl-tvguide-content .dbl-channel-list .logo-img {
        max-width: 90px;
    }
}




/* Extreme transmission */
.dbl-tvguide-content .lt,
.dbl-tvguide-content .gt {
    position: relative;
}
.dbl-tvguide-content .lt:before,
.dbl-tvguide-content .gt:after {
    background: #ddd;
    bottom: 0;
    content: "";
    padding: 0 1px;
    position: absolute;
    top: 0;
}
.dbl-tvguide-content .lt:before {
    left: 0;
}
.dbl-tvguide-content .gt:after {
    right: 0;
}


.dbl-tvguide-content .dbl-states-second {
    float: right;
    white-space: nowrap;
}



/* Grid indicators */
.dbl-tvguide-content .dbl-states {
    pointer-events: none;
    line-height: 4px;
}
.dbl-tvguide-content .dbl-states {
    float: right;
    margin-right: 2px;
    display: block;
    white-space: nowrap;
}
.dbl-tvguide-content .dbl-state.dbl-record {
    position: relative;
}
.dbl-tvguide-content .dbl-state.dbl-record:before {
    background: #fff;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: -1px;
}
.dbl-tvguide-content .dbl-state.dbl-record:after {
    color: #c01c17;
    font-size: 25px;
    content: "\f118";
    position: relative;
    bottom: -5px;
    margin-right: -2px;
}



/* Time on the grid */
.dbl-tvguide-content .programs-line .time {
    position: absolute;
    bottom: 3px;
    left: 5px;
    right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}



/* Grid genres */
.programs-line .dbl-genres {
    border-bottom: 4px solid;
    border-bottom-color: transparent;
}
.programs-line .dbl-genres.dbl-genre-kids { border-bottom-color: #006400 !important; }
.programs-line .dbl-genres.dbl-genre-movie { border-bottom-color: #d481b2 !important; }
.programs-line .dbl-genres.dbl-genre-news { border-bottom-color: #97c693 !important; }
.programs-line .dbl-genres.dbl-genre-special { border-bottom-color: #e9d887 !important; }
.programs-line .dbl-genres.dbl-genre-sports { border-bottom-color: #f7b580 !important; }
.programs-line .genre-line {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
}



/* Timeline */
.dbl-timeline {
    margin: 0;
    color: #fefefe;
    max-height: 60px;
    height: 38px;
    overflow: hidden;
    position: relative;
    background: #3c3c3c;
}
body.with-logo .dbl-timeline .dbl-date {
    width: 165px;
}
.dbl-timeline:after {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background: #282828;
    bottom: 3px;
    left: 0;
    position: absolute;
}
.dbl-timeline .dbl-date {
    width: 115px;
    margin-left: 50px;
    background: #282828;
    text-align: right;
    padding: 5px;
    display: inline-block;
    position: relative;
    height: 30px;
    overflow: hidden;
}
.dbl-timeline .dbl-time {
    display: inline;
    margin: 0;
}
.dbl-timeline .dbl-timestamp {
    padding: 0px;
    padding: 5px;
    width: 148px;
    background: #282828;
    margin-left: 2px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}
.dbl-timeline .dbl-date:before {
    left: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dbl-timeline .dbl-date:before {
    border-left-color: #fff;
    border-width: 15px;
    margin-top: -15px;
}
@media (max-width: 767px) {
    body.with-logo .dbl-timeline .dbl-date,
    .dbl-timeline .dbl-date {
        width: 100px;
        margin-left: 0;
    }
}
/* / Timeline */


/* SearchPanel */
.dbl-app-tvguide .dbl-search {
    min-width: 400px;
}
.dbl-search #search-query {
    height: 32px;
}
.dbl-search .open > .dropdown-menu {
    display: block;
    padding: 15px;
    width: 250px;
}
@media (min-width: 768px) {
    .dbl-search .open > .dropdown-menu {
        width: 500px;
    }
}
.dbl-search-genres {
    margin-bottom: 15px;
}
#search-channel {
    width: 100%;
    border-radius: 4px;
}
.dbl-search .input-group-addon {
    background-color: #282828;
    border: none;
    color: #fefefe;
}
/* / SearchPanel */


/* Favorites panel */
.nav > .dbl-favorite-controls {
    display: none;
}



/* Unknown Transfer Dialogue. */
.dbl-unknown .dbl-program-main > div > *,
.dbl-unknown .modal-footer {
    display: none;
}
.dbl-unknown .dbl-program-main,
.dbl-unknown .modal-body {
    margin-bottom: 0;
}
.dbl-unknown .dbl-program-main .dbl-name {
    display: block;
}



/* GoToTime */
.dbl-goto {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-right: 50px;
    width: 43px;
    height: 30px;
    background: #282828;
}
.dbl-goto:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #282828;
    border-width: 15px;
    margin-top: -15px;
}
@media (max-width: 767px) {
    .dbl-goto {
        margin-right: auto;
        width: auto;
        height: auto;
    }
    .dbl-goto:before {
        display: none;
    }
}
.dbl-goto .dbl-goto-btn {
    background-color: #282828;
    border-color: #282828;
    padding: 2px 12px;
    margin: 2px;
}
@media (min-width: 768px) {
    .dbl-goto-modal .modal-dialog {
        outline: none;
        margin: 0;
        top: 90px;
        left: 14px;
        width: 500px;
    }
}
.dbl-goto-modal .modal.in .modal-dialog {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.dbl-goto-modal .modal-body {
    background: #282828;
    color: #fefefe;
}
.dbl-goto-modal .timepicker-picker a {
    color: #fefefe;
}
.dbl-goto-modal .datetimepicker {
    padding-top: 10px;
    text-transform: capitalize;
}
.dbl-goto-modal .datetimepicker .disabled {
    cursor: default !important;
}
.dbl-goto-modal .bootstrap-datetimepicker-widget table td.day:hover,
.dbl-goto-modal .bootstrap-datetimepicker-widget table td.hour:hover,
.dbl-goto-modal .bootstrap-datetimepicker-widget table td.minute:hover,
.dbl-goto-modal .bootstrap-datetimepicker-widget table td.second:hover,
.dbl-goto-modal .bootstrap-datetimepicker-widget table td span:hover,
.dbl-goto-modal .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #5a5a5a;
}
/* / GoToTime */



/* Grid navigation buttons. */
.dbl-tvguide-control {
    background: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    position: absolute;
    text-align: center;
    z-index: 1031;
}
.dbl-tvguide-control:hover {
    background: rgba(0, 0, 0, 0.8) !important;
}
.dbl-tvguide-control.dbl-horizontal {
    top: 50%;
    width: 30px;
    height: 90px;
    margin-top: -65px;
    line-height: 50px;
}
.dbl-tvguide-control.dbl-vertical {
    display: none;
    left: 50%;
    width: 90px;
    height: 30px;
    margin-left: -42px;
}
.dbl-tvguide-control.dbl-left {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    padding-left: 13px;
    left: 0;
}
.dbl-tvguide-control.dbl-right {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    padding-left: 8px;
    right: 0;
}
.dbl-tvguide-control.dbl-top {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    top: 0;
}
.dbl-tvguide-control.dbl-bottom {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    bottom: 0;
}
@media (max-width: 767px) {
    .dbl-tvguide-control.dbl-right, .dbl-tvguide-control.dbl-left {
        margin-top: -23px;
    }
}


/* ScrollBar */
.dbl-tvguide-content .scrollbar {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    margin: 5px;
    opacity: 1;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 35px;
    border-radius: 5px;
    width: 5px;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
.dbl-tvguide-content .scrollbar .bit {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    -moz-transition: top 0.5s ease-out;
    -o-transition: top 0.5s ease-out;
    -webkit-transition: top 0.5s ease-out;
    -ms-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
}
.dbl-tvguide-content .scrollbar.hidden {
    display: block !important;
    visibility: visible !important;
    opacity: 0;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.dbl-tvguide-content .scrollbar.hidden.slow {
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}
/* / ScrollBar */


/* Selecting programs in TVGrid */
.programs-line .program-selector {
    display: none;
}
.program-selectors-active .programs-line .program-selector {
    z-index: 99;
    float: right;
}
.program-selectors-active .programs-line .program-selector:hover {
    opacity: 1;
}
.program-selectors-active .programs-line > li.dbl-program-item .selected {
    color: #f5f5f5;
    line-height: 18px;
    width: 10px;
    font-size: 75%;
    font-family: fontcustom;
    font-weight: normal;
    font-style: normal;
    height: 10px;
    z-index: 2;
    float: right;
    margin-right: 2px;
    margin-left: 1px;
}
.program-selectors-active .programs-line > li.dbl-program-item:hover .selected {
    display: none;
}
.program-selectors-active .programs-line > li.dbl-program-item.current .selected {
    color: #fff;
}
.program-selectors-active .programs-line > li.dbl-program-item .selected:after {
    bottom: 0;
    content: "\f113";
    position: absolute;
    top: 0;
}
body[data-page=tvguide] .dbl-program-dlg .dbl-selector {
    display: none;
}
