<template>
  <div class="dbl-app-tvguide">

    <main-header @hamburgerClick="$emit('hamburgerClick')">

      <ul class="nav navbar-nav">
        <nav-bar-multilevel class="dbl-show-params" :title="$t('connect.filter')" :icon="['icon-filter']">

          <subtlebox  v-model="currentSortModes" :label="$t('connect.sortBy')"
                      :items="sortModes"
                      :style="{marginRight: currentFavorite.id ? '50px' : '0'}"
          />

          <subtlebox  v-model="currentFavorite" :label="$t('connect.favorites')"
                      :items="favorites"
          />

          <li v-if="currentFavorite.id" class="dbl-favorite-controls">
            <button @click="currentFavorite = {}" class="dbl-hide hide-btn btn btn-default navbar-btn" :title="$t('connect.hide')" type="button">
              <span class="icon icon-cancel" aria-hidden="true"></span>
            </button>
          </li>

        </nav-bar-multilevel>

        <li class="dropdown multilevel" :title="$t('connect.searchProgramsPageTitle')">
          <button @click="searchQueryFocus" class="btn btn-link navbar-btn dropdown-toggle dbl-open-search-panel navbar-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="true">
            <span class="icon icon-search" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dbl-search">
            <div class="input-group">
              <span data-toggle="tooltip" data-placement="bottom" data-html="true" :title="$t('connect.searchHelp')" id="search-help" class="input-group-addon">
                <span class="icon icon-info" aria-hidden="true"></span>
              </span>
              <input @keydown.stop="searchKeydown" ref="searchQuery" type="text" id="search-query" class="form-control" :placeholder="$t('connect.searchProgramsMenuItem')" maxlength="30" v-model="searchParams.query">
              <span class="input-group-btn" :class="{open: searchExtendOpened}">
                <button @click.stop="searchExtendOpened = !searchExtendOpened" class="dbl-search-options-btn btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <form class="form" role="search" method="post" action="/search/">
                    <input type="hidden" name="query" value=""/>
                    <li class="dbl-search-genres">
                      <div class="row">
                        <div class="form-group">
                          <div :key="genre.id" v-for="genre in genres" class="col-sm-3 col-xs-6">
                            <label class="checkbox-inline">
                              <input v-model="searchParams.genres" :value="genre.id" type="checkbox">{{ genre.name }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-12">
                          <select v-model="searchParams.channel" name="channel" class="form-control" id="search-channel">
                            <option value="" selected="selected">{{ $t('connect.searchAllChannels') }}</option>
                            <option :key="channel.id" v-for="channel in channels" :value="channel.id" selected="selected">{{ channel.name }}</option>
                          </select>
                        </div>
                      </div>
                    </li>
                  </form>
                </ul>
                <button @click.stop="search" :disabled="searchDisabled" class="dbl-search-btn btn btn-default" :aria-label="$t('connect.searchMenuItem')">
                  <span class="icon icon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </div>
        </li>

        <li>
          <button @click="openSettings" type="button" :title="$t('connect.settingsPageTitle')" class="dbl-settings-link btn btn-link navbar-btn">
            <span class="icon icon-settings" aria-hidden="true"></span>
          </button>
        </li>

      </ul>
    </main-header>

    <player @close="playing.on = false" v-if="playing.on" type="live" :url="playing.url" :format="playing.format" :program="playing.meta" />

    <main class="main">
      <main class="container-fluid">
        <section class="dbl-tvguide"></section>
      </main>

    </main>

    <script type="text/html" id="tvguide-table-tmpl">
      <div class="dbl-channel-list">
        <ul class="nav nav-list">
        </ul>
      </div>
      <div class="programs-list">
        <ul class="nav nav-list nav-stacked">
        </ul>
      </div>
    </script>

    <script type="text/html" id="goto-tmpl">
      <button type="button" class="dbl-goto-btn btn btn-default">
        <span class="icon icon-callendar" aria-hidden="true"></span>
      </button>
    </script>

    <script type="text/html" id="no-channels-tmpl">
      <div class="dbl-no-channels-message">No channels</div>
    </script>

    <spinner :showed="loading" />
    <v-dialog />

    <program-details-modal :program="currentProgram">
      <template slot-scope="slotProps">
        <span class="dbl-play-holder">
          <div v-if="transcodingAlertShowing" class="tooltip left" role="tooltip">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">{{ $t('connect.transcodingNotSupportedWarn') }}</div>
          </div>

          <button @click="play(currentProgram.channel_dvblink_id, false, currentProgram)" v-if="slotProps.isNow" tabindex="2" :title="$t('connect.playChannelButton')" type="button" class="dbl-play btn btn-default dbl-btn-xxl">
            <span class="icon icon-play" aria-hidden="true"></span>
          </button>
        </span>

        <button v-if="currentProgram.is_record" @click="cancelRecording(currentProgram, false)" tabindex="3" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-recording btn btn-default dbl-btn-xxl active">
          <span class="icon icon-recordonce" aria-hidden="true"></span>
        </button>
        <button v-else @click="addRecording(currentProgram, false)" tabindex="3" :title="$t('connect.addRecordingMenuItem')" type="button" class="dbl-add-recording btn btn-default dbl-btn-xxl">
          <span class="icon icon-recordonce" aria-hidden="true"></span>
        </button>

        <button v-if="currentProgram.is_repeat_record" @click="cancelRecording(currentProgram, true)" tabindex="4" :title="$t('connect.cancelSeriesRecordingMenuItem')" class="dbl-cancel-series btn btn-default dbl-btn-xxl active">
          <span class="icon icon-recordserie" aria-hidden="true"></span>
        </button>
        <button v-else @click="addRecording(currentProgram, true)" tabindex="4" :title="$t('connect.addSeriesRecordingMenuItem')" class="dbl-add-series btn btn-default dbl-btn-xxl">
          <span class="icon icon-recordserie" aria-hidden="true"></span>
        </button>

      </template>
    </program-details-modal>

    <connect-settings-modal @change="newSettigns" />
    <goto-modal @goto="gotoTime" />

  </div>
</template>

<script>
  import Spinner from '@/components/Spinner.vue'
  import MainHeader from '@/components/MainHeader.vue'
  import Subtlebox from '@/components/Subtlebox.vue'
  import NavBarMultilevel from '@/components/NavBarMultilevel.vue'
  import ProgramDetailsModal from '@/components/ProgramDetailsModal.vue'
  import Player from '@/components/Player.vue'
  import ConnectSettingsModal from '@/components/ConnectSettingsModal.vue'
  import GotoModal from '@/components/GotoModal.vue'

  import ConnectAPI from '@/api/connect'

  import 'lodash'
  import './tvguide.css'

  var App = window.App || (window.App = {});

  import TVGuideWrapper from './tvguide.js'

  export default {
      name: 'TVGuide',
      components: {
          Spinner,
          MainHeader,
          Subtlebox,
          NavBarMultilevel,
          ProgramDetailsModal,
          Player,
          ConnectSettingsModal,
          GotoModal,
      },

      data () {
          return {
              loading: false,

              sendToSupported: false,

              currentProgram: {},

              sortModes: [{
                  id: 'number',
                  name: this.$t('connect.sortByNumber'),
              }, {
                  id: 'name',
                  name: this.$t('connect.sortByName'),
              }],
              currentSortModes: {},

              favorites: [],
              currentFavorite: {},

              genres: [],

              searchExtendOpened: false,

              channels: [],

              searchChannel: '',
              searchGenres: [],

              searchParams: {
                  channel: '',
                  genres: [],
                  query: '',
              },

              playing: {
                  on: false,
                  url: '',
                  format: '',
                  meta: null,
              },

              transcoding: {
                  enabled: false,
              },

              schedules: [],

              transcodingAlertShowing: false,
          }
      },

      created () {
          this.fetchData()
      },

      computed: {
          searchDisabled () {
              return this.searchParams.query.length < 3 && this.searchParams.genres.length < 1
          },
      },

      watch: {
          currentSortModes (newValue) {
              this.tvGuide.tvguide.sortChannels(newValue.id)
          },

          currentFavorite (newValue) {
              const favorites = this.favorites.filter(
                  favorite => favorite.id === newValue.id
              )
              let channels = favorites.length ? favorites[0].channels.map(
                  channel => ConnectAPI.Common.encodeChannel(String(channel.id))
              ) : null
              this.tvGuide.tvguide.tvgrid.table.setVisibleChannels(channels)
              setTimeout(() => this.setLastFavorite(newValue ? newValue.id : null))
          },

          favorites () {
              const lastFavorite = this.getLastFavorite()
              if (!lastFavorite) {
                  return
              }
              const favorite = this.favorites.filter(
                  favorite => favorite.id === lastFavorite
              )[0]
              if (!favorite) {
                  return
              }
              this.currentFavorite = favorite
          },
      },

      mounted () {
          App.Connect || (App.Connect = {});

          require('./bb/tvgrid/models/intervals.js')
          require('./bb/tvgrid/models/channels.js')
          require('./bb/tvgrid/models/programs.js')

          require('./bb/models/programs.js')

          require('./bb/views/program-dialog.js')

          require('./bb/tvgrid/views/common.js')
          require('./bb/tvgrid/views/programs-line.js')
          require('./bb/tvgrid/views/guide-table.js')
          require('./bb/tvgrid/views/tvgrid.js')
          require('./bb/tvgrid/views/tvguide.js')


          this.tvGuide = new TVGuideWrapper($('.dbl-tvguide'))
          this.tvGuide
              .on('ready', () => {
                  this.currentSortModes = this.sortModes[0]
                  this.channels = this.tvGuide.tvguide.channels.toJSON()

                  setTimeout(() => {
                      this.applySchedules(this.schedules)
                  }, 1000)
              })
              .on('open-program-dialog', (currentProgram) => {
                  this.tvguideCurrentProgram = currentProgram
                  this.openProgramDetails()
              })
              .on('change-program', program => {
                  this.currentProgram = program
              })
              .on('channel-click', channel => {
                  const channelModel = this.tvGuide.tvguide.channels.get(channel)
                  const programs = channelModel.get('programs')
                  const currentProgram = programs.getByTime(moment().unix())
                  currentProgram.set('channel_name', channelModel.get('name'))
                  this.play(channel, true, currentProgram.toJSON())
              })
              .on('show-goto-modal', () => {
                  this.$modal.show('goto-modal')
              })
      },

      methods: {
          async fetchData () {
              this.loading = true
              this.schedules = await ConnectAPI.Schedules.get()
              this.transcoding = await ConnectAPI.Settings.Transcoding.get()
              this.favorites = await ConnectAPI.TVGuide.getFavorites()
              this.genres = await ConnectAPI.TVGuide.getGenres()

              this.loading = false
          },

          applySchedules (schedules) {
              const schedulesWithRecords = schedules.filter(
                  schedule => schedule.recordings.length > 0
              )

              const CLEAN_RECORD_PARAMS = {
                  is_record: false,
                  is_repeat: false,
                  is_repeat_record: false,
                  is_record_conflict: false,
                  active: false,
                  recording_id: '',
                  schedule_id: ''
              }
              this.currentProgram = {
                  ...this.currentProgram,
                  ...CLEAN_RECORD_PARAMS,
              }

              this.tvGuide.tvguide.channels.each(channel => {
                  let programs = channel.get('programs')
                  var recordedPrograms = programs.where({is_record: true});
                  if (recordedPrograms && recordedPrograms.length) {
                      recordedPrograms.forEach(program => {
                          // Resetting the grid model.
                          program.set(CLEAN_RECORD_PARAMS)
                      })
                  }

                  const localChannelId = atob(channel.id)
                  const remoteSchedules = schedulesWithRecords.filter(
                      schedule => schedule.channel === localChannelId
                  )
                  if (remoteSchedules.length < 1) {
                      return
                  }

                  programs.each(program => {
                      remoteSchedules.forEach(remoteSchedule => {
                          remoteSchedule.recordings.forEach(recording => {
                              if (program.id != recording.program.id) {
                                  return
                              }

                              program.set('is_record', recording.program.isRecord)
                              program.set('is_repeat', remoteSchedule.repeat)
                              program.set('is_repeat_record', remoteSchedule.repeat)
                              program.set('is_record_conflict', recording.conflicting)
                              program.set('recording_id', recording.recording)
                              program.set('schedule_id', remoteSchedule.id)
                              program.set('active', recording.active)

                              if (this.currentProgram.id === program.id) {
                                  this.currentProgram.is_record = recording.program.isRecord
                                  this.currentProgram.is_repeat = remoteSchedule.repeat
                                  this.currentProgram.is_repeat_record = remoteSchedule.repeat
                                  this.currentProgram.is_record_conflict = recording.conflicting
                                  this.currentProgram.recording_id = recording.recording
                                  this.currentProgram.schedule_id = remoteSchedule.id
                                  this.currentProgram.active = recording.active
                              }
                          })
                      })
                  })
              })
          },

          openProgramDetails () {
              this.$modal.show('program-details-modal')
          },

          searchQueryFocus () {
              setTimeout(() => this.$refs.searchQuery.focus(), 200)
          },

          searchKeydown (event) {
              var keyCode = event.keyCode;
              if (keyCode === App.Connect.defaults.Keys.enter && !this.searchDisabled) {
                  this.search()
              }
          },

          search () {
              this.$router.push({ name: 'connect-search', query: {...this.searchParams} })
          },

          openSettings () {
              this.$modal.show('connect-settings-modal')
          },

          async play (channel, alertModal, program) {
              if (!this.transcoding.enabled) {
                  if (alertModal) {
                      this.$modal.show('dialog', {
                          text: this.$t('connect.transcodingNotSupportedWarn'),
                          buttons: [{
                              title: this.$t('common.ok'),
                              default: true,
                          }],
                      })
                  } else {
                      this.showTransodingAlert()
                  }
                  return
              }
              const FORMAT = 'mp4'
              const url = await ConnectAPI.Stream.getUrl({
                  channel: channel,
                  format: FORMAT,
              }, this.transcoding)
              this.playing.url = url
              this.playing.format = FORMAT
              this.playing.on = true
              this.playing.meta = program
          },

          showTransodingAlert () {
              this.transcodingAlertShowing = true
              setTimeout(() => this.transcodingAlertShowing = false, 3000)
          },

          async addRecording (program, repeat) {
              let params = {
                  channel: program.channel_dvblink_id,
                  program: program.id,
                  ...(repeat ? {repeat: true} : {}),
              }

              this.loading = true
              try {
                  await ConnectAPI.Schedules.appendEPG(params)
                  this.schedules = await ConnectAPI.Schedules.get()
                  this.applySchedules(this.schedules)
                  this.loading = false
              } catch (err) {
                  alert(this.$t('common.serverError'))
                  // eslint-disable-next-line
                  console.error(err)
              }
              this.loading = false
          },

          async cancelRecording (program, repeat) {
              this.loading = true
              try {
                  if (repeat) {
                      await ConnectAPI.Schedules.removeSchedule(program.schedule_id)
                  } else {
                      await ConnectAPI.Schedules.removeRecording(program.recording_id)
                  }
                  this.schedules = await ConnectAPI.Schedules.get()
                  this.applySchedules(this.schedules)
              } catch (err) {
                  alert(this.$t('common.serverError'))
                  // eslint-disable-next-line
                  console.error(err)
              }
              this.loading = false
          },

          async newSettigns () {
              this.transcoding = await ConnectAPI.Settings.Transcoding.get()
          },

          getLastFavorite () {
              return localStorage.getItem('tvguide.favorite')
          },

          setLastFavorite (favorite) {
              return localStorage.setItem('tvguide.favorite', favorite)
          },

          gotoTime (datetime) {
              const dt = moment.max(moment(), datetime)
              this.tvGuide.tvguide.tvgrid.table.gotoTime(dt)
          },
      },
  }
</script>

<style lang="scss">
  .dbl-app-tvguide {

      .container-fluid {
          padding: 0 3px;
      }

      height: 100%;

      .dbl-favorite-controls {
          float: right;
      }

      .dbl-no-channels-message {
          margin: 20px;
          text-align: center;
      }
  }

</style>
