<template>
  <div class="dbl-app">
    <router-view @hamburgerClick="sideMenuOpened = true" />

    <nav @click.stop class="dbl-side-menu" :class="{'dbl-showed': sideMenuOpened}" role="navigation">
      <button @click="sideMenuOpened = false" class="btn btn-link dbl-close">
        <span class="icon icon-cancel"></span>
      </button>
      <ul class="nav">
        <li class="dbl-tvguide-link">
          <router-link to="/tvguide">
            <span class="dbl-icon icon icon-tvguide" aria-hidden="true"></span> <span title="TV Guide" class="dbl-label">{{ $t("menu.tvguide") }}</span>
          </router-link>
        </li>
        <li class="dbl-records-link">
          <router-link to="/tvrecordings">
            <span class="dbl-icon icon icon-recordedtv" aria-hidden="true"></span> <span title="TV Recordings" class="dbl-label">{{ $t("menu.tvrecordings") }}</span>
          </router-link>
        </li>
        <li class="dbl-library-link">
          <router-link to="/library">
            <span class="dbl-icon icon icon-library" aria-hidden="true"></span> <span title="Media library" class="dbl-label">{{ $t("menu.library") }}</span>
          </router-link>
        </li>
        <li class="dbl-schedules-link">
          <router-link to="/schedules">
            <span class="dbl-icon icon icon-schedule" aria-hidden="true"></span> <span title="Schedules" class="dbl-label">{{ $t("menu.schedules") }}</span>
          </router-link>
        </li>
        <li class="dbl-configurator-link">
          <router-link to="/">
            <span class="dbl-icon icon icon-settings" aria-hidden="true"></span> <span title="Setup" class="dbl-label">{{ $t("menu.settings") }}</span>
          </router-link>
        </li>
      </ul>
    </nav>

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css'

  import Vue from 'vue'

  import VModal from 'vue-js-modal'

  import Spinner from './components/Spinner.vue'
  import Settings from './api/settings'
  import Tools from './tools'

  Vue.use(VModal, { dialog: true })

  export default {
      name: 'Application',
      components: {
          Spinner
      },
      data: function () {
          return {
              loading: false,
              showSpinnerCount: 0,
              sideMenuOpened: false,
          }
      },

      created: function () {
          var App = window.App || (window.App = {});
          App.Models || (App.Models = {});
          App.Views || (App.Views = {});
          App.Settings || (App.Settings = {});
          App.Tools = Tools;

          App.Views.Spinner = {
              show: () => {
                  ++this.showSpinnerCount;
                  this.loading = true;
              },
              hide: () => {
                  if (--this.showSpinnerCount < 1) {
                      this.loading = false;
                      this.showSpinnerCount = 0;
                  }
              }
          };

          App.Views.Modal = {
              show: (options) => {
                  this.$modal.show('dialog', options)
              }
          };

          App.Settings.API_ROOT_URL = Settings.API_ROOT_URL;
      },

      watch: {
          sideMenuOpened (newValue) {
              (newValue ? document.addEventListener : document.removeEventListener)
                  .call(document, 'click', this.outspaceClick)
          },
          $route () {
              this.sideMenuOpened = false
          },
      },

      methods: {
          outspaceClick () {
              this.sideMenuOpened = false
          },
      }
  }

  import jQuery from 'jquery'
  window.jQuery = window.$ = jQuery;
  require('bootstrap')

  import './assets/styles.css'

  import '@/assets/connect/styles/themes/dark.css'
</script>

<style>
  .dbl-app {
      height: 100%;
  }
</style>
