<template>
  <div class="dbl-app-search">
    <main-header @hamburgerClick="$emit('hamburgerClick')">
      <router-link class="navbar-brand" to="/tvguide" :title="$t('search.listChannels')">
        <span class="icon icon-back" aria-hidden="true"></span>
      </router-link>

      <p :title="humanSearch" class="navbar-text dbl-search-query">{{ $t('search.searchDescription', {desc: humanSearch}) }}</p>

      <ul class="nav navbar-nav">
        <nav-bar-multilevel class="dbl-show-params" :title="$t('connect.filter')" :icon="['icon-filter']">
          <subtlebox  v-model="currentPeriod" :label="$t('search.period')"
                      :items="periods"
          />
        </nav-bar-multilevel>

        <li>
          <button @click="addSchedule" type="button" :title="$t('search.addPatternSchedule')" class="dbl-add-template-record btn btn-link navbar-btn">
            <span class="icon icon-add" aria-hidden="true"></span>
          </button>
        </li>

      </ul>
    </main-header>

    <player @close="playing.on = false" v-if="playing.on" type="live" :url="playing.url" :format="playing.format" />

    <main class="main">

      <main class="container">

        <paginate v-if="pages.total > 1"
                  v-model="pages.current"
                  :page-count="pages.total"
                  :containerClass="'pagination'"
                  :page-class="'page-item'"
                  prev-text="←"
                  next-text="→" />

        <section class="dbl-program-list">
          <div v-if="!loading && !programs.length" class="dbl-no-programs">{{ $t('connect.programNotFoundMsg') }}</div>
          <section v-for="program in programs" :key="program.id"
                   class="dbl-program dbl-selectable"
                   @click="openProgramDetails(program)"
          >
            <program :program="program" />
          </section>
        </section>

        <paginate v-if="pages.total > 1"
                  v-model="pages.current"
                  :page-count="pages.total"
                  :containerClass="'pagination'"
                  :page-class="'page-item'"
                  prev-text="←"
                  next-text="→" />

      </main>
    </main>

    <spinner :showed="loading" />

    <program-details-modal :program="currentProgram">
      <template slot-scope="slotProps">
        <button :disabled="!transcoding.enabled" @click="play(currentProgram.channel_id)" v-if="slotProps.isNow" tabindex="2" :title="$t('connect.playChannelButton')" type="button" class="dbl-play btn btn-default dbl-btn-xxl">
          <span class="icon icon-play" aria-hidden="true"></span>
        </button>

        <button v-if="currentProgram.is_record" @click="cancelRecording(currentProgram, false)" tabindex="3" :title="$t('connect.cancelRecordingMenuItem')" type="button" class="dbl-cancel-recording btn btn-default dbl-btn-xxl active">
          <span class="icon icon-recordonce" aria-hidden="true"></span>
        </button>
        <button v-else @click="addRecording(currentProgram, false)" tabindex="3" :title="$t('connect.addRecordingMenuItem')" type="button" class="dbl-add-recording btn btn-default dbl-btn-xxl">
          <span class="icon icon-recordonce" aria-hidden="true"></span>
        </button>

        <button v-if="currentProgram.is_repeat_record" @click="cancelRecording(currentProgram, true)" tabindex="4" title="$t('connect.cancelSeriesRecordingMenuItem')" class="dbl-cancel-series btn btn-default dbl-btn-xxl active">
          <span class="icon icon-recordserie" aria-hidden="true"></span>
        </button>
        <button v-else @click="addRecording(currentProgram, true)" tabindex="4" :title="$t('connect.addSeriesRecordingMenuItem')" class="dbl-add-series btn btn-default dbl-btn-xxl">
          <span class="icon icon-recordserie" aria-hidden="true"></span>
        </button>
      </template>
    </program-details-modal>

  </div>
</template>


<script>
  import Paginate from 'vuejs-paginate'
  import MainHeader from '@/components/MainHeader.vue'
  import Program from '@/components/Program.vue'
  import Subtlebox from '@/components/Subtlebox.vue'
  import Spinner from '@/components/Spinner.vue'
  import NavBarMultilevel from '@/components/NavBarMultilevel.vue'
  import ProgramDetailsModal from '@/components/ProgramDetailsModal.vue'
  import Player from '@/components/Player.vue'

  import Connect from '@/api/connect'

  import moment from 'moment'


  const PROGRAMS_PER_PAGE = 50

  export default {
      name: 'Search',
      components: {
          MainHeader,
          NavBarMultilevel,
          Paginate,
          Player,
          Program,
          ProgramDetailsModal,
          Spinner,
          Subtlebox,
      },

      props: {
          query: {
              type: String,
              default: '',
          },
          channel: {
              type: String,
              default: '',
          },
          genres: {
              type: [Array, String],
              default: '',
          },
      },

      data () {
          return {
              loading: true,
              groupedPrograms: [],
              currentProgram: {},
              availableGenres: {},
              channels: {},
              pages: {
                  current: 1,
                  total: 1,
              },
              playing: {
                  on: false,
                  url: '',
                  format: '',
              },

              schedules: [],

              periods: [{
                  id: 1,
                  name: this.$t('search.searchPeriod1Day'),
              }, {
                  id: 2,
                  name: this.$t('search.searchPeriod2Days'),
              }, {
                  id: 4,
                  name: this.$t('search.searchPeriod4Days'),
              }, {
                  id: 7,
                  name: this.$t('search.searchPeriodWeek'),
              }, {
                  id: 0,
                  name: this.$t('search.searchPeriodAll'),
              }],
              currentPeriod: {
                  id: 1,
                  name: this.$t('search.searchPeriod1Day'),
              },

              transcoding: {
                  enabled: false,
              },
          }
      },

      created () {
          this.fetchData()
      },

      computed: {
          programs () {
              return this.groupedPrograms.slice(
                  (this.pages.current-1) * PROGRAMS_PER_PAGE, this.pages.current* PROGRAMS_PER_PAGE
              )
          },
          humanGenres () {
              const genres = Array.isArray(this.genres) ? this.genres : [this.genres]
              return genres && (genres.map(
                  genre => genre in this.availableGenres ? this.availableGenres[genre] : ''
              ).join(', ')) || ''
          },
          humanQuery () {
              return this.query ? ('"' + this.query + '"') : ''
          },
          humanSearch () {
              return this.humanQuery + ' ' + this.humanGenres
          },
      },

      watch: {
          channel () {
              this.search()
          },
          query () {
              this.search()
          },
          genres () {
              this.search()
          },
          groupedPrograms (newValue) {
              this.pages = {
                  total: Math.ceil(newValue.length / PROGRAMS_PER_PAGE - 1),
                  current: 1,
              }
          },
          currentPeriod () {
              this.search()
          },
      },

      methods: {
          async fetchData () {
              this.transcoding = await Connect.Settings.Transcoding.get()
              this.schedules = await Connect.Schedules.get()
              this.getAvailableGenres()
              this.getChannels()
              this.search()
          },

          async search () {
              this.loading = true
              const SECONDS_ON_DAY = 86400
              const period = this.currentPeriod.id ? {
                  start: moment().unix(),
                  end: moment().add({
                      seconds: this.currentPeriod.id * SECONDS_ON_DAY
                  }).unix()
              } : {}
              try {
                  const searchResult = await Connect.TVGuide.search({
                      ...(this.query ? {query: this.query} : {}),
                      ...(this.channel ? { channels: [Connect.Common.decodeChannel(this.channel)] } : {}),
                      ...(this.genres ? {genres: this.genres} : {}),
                      ...period,
                  })
                  const programs = searchResult.channels.map(channel => ({
                      ...channel,
                      programs: channel.programs.map(program => ({
                          ...program,
                          channel_name: this.channels[channel.cid],
                          channel_id: channel.cid,
                      })),
                  }))
                  this.groupedPrograms = programs
                      .reduce((p, c) => p.concat(c.programs), [])
                      .sort((a, b) => a.start.diff(b.start))
                  this.applySchedules(this.schedules)
              } catch (err) {
                  // eslint-disable-next-line
                  console.error(err)
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

          async getAvailableGenres () {
              const genres = await Connect.TVGuide.getGenres() || []
              this.availableGenres = genres.reduce((p, c) => ({
                  ...p,
                  [c.id]: c.name
              }), {})
          },

          async getChannels () {
              const channels = await Connect.TVGuide.getChannels()
              this.channels = channels.reduce((p, c) => ({
                  ...p,
                  [c.id]: c.name
              }), {})
          },

          openProgramDetails (program) {
              this.currentProgram = program
              this.$modal.show('program-details-modal')
          },

          async addSchedule () {
              this.loading = true
              await Connect.Schedules.appendPattern({
                  ...(this.genres ? {genres: this.genres} : {}),
                  ...(this.channel ? {channel: this.channel} : {}),
                  ...(this.query ? {query: this.query} : {}),
              })
              this.loading = false
          },

          async play (channel) {
              const FORMAT = 'mp4'
              const url = await Connect.Stream.getUrl({
                  channel: channel,
                  format: FORMAT,
              }, this.transcoding)
              this.playing.url = url
              this.playing.format = FORMAT
              this.playing.on = true
          },

          applySchedules (schedules) {
              const schedulesWithRecords = schedules.filter(
                  schedule => schedule.recordings.length > 0
              )
              const CLEAN_RECORD_PARAMS = {
                  is_record: false,
                  is_repeat: false,
                  is_repeat_record: false,
                  is_record_conflict: false,
                  active: false,
                  recording_id: '',
                  schedule_id: ''
              }
              this.currentProgram = {
                  ...this.currentProgram,
                  ...CLEAN_RECORD_PARAMS,
              }

              this.groupedPrograms = this.groupedPrograms.map(program => ({
                  ...program,
                  ...CLEAN_RECORD_PARAMS,
              }))

              this.groupedPrograms.forEach(program => {
                  const localChannel = Connect.Common.decodeChannel(program.channel_id)
                  const remoteSchedules = schedulesWithRecords.filter(
                      schedule => schedule.channel === localChannel
                  )
                  remoteSchedules.forEach(remoteSchedule => {
                      remoteSchedule.recordings.forEach(recording => {
                          if (program.id != recording.program.id) {
                              return
                          }

                          program.is_record = recording.program.isRecord
                          program.is_repeat = remoteSchedule.repeat
                          program.is_repeat_record = remoteSchedule.repeat
                          program.is_record_conflict = recording.conflicting
                          program.recording_id = recording.recording
                          program.schedule_id = remoteSchedule.id
                          program.active = recording.active

                          if (this.currentProgram.id === program.id) {
                              this.currentProgram.is_record = recording.program.isRecord
                              this.currentProgram.is_repeat = remoteSchedule.repeat
                              this.currentProgram.is_repeat_record = remoteSchedule.repeat
                              this.currentProgram.is_record_conflict = recording.conflicting
                              this.currentProgram.recording_id = recording.recording
                              this.currentProgram.schedule_id = remoteSchedule.id
                              this.currentProgram.active = recording.active
                          }
                      })
                  })
              })
          },

          async addRecording (program, repeat) {
              this.loading = true
              try {
                  await Connect.Schedules.appendEPG({
                      channel: program.channel_id,
                      program: program.id,
                      ...(repeat ? {repeat: true} : {}),
                  })
                  this.schedules = await Connect.Schedules.get()
                  this.applySchedules(this.schedules)
                  this.loading = false
              } catch (err) {
                  // eslint-disable-next-line
                  console.error(err)
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

          async cancelRecording (program, repeat) {
              this.loading = true
              try {
                  if (repeat) {
                      await Connect.Schedules.removeSchedule(program.schedule_id)
                  } else {
                      await Connect.Schedules.removeRecording(program.recording_id)
                  }
                  this.schedules = await Connect.Schedules.get()
                  this.applySchedules(this.schedules)
              } catch (err) {
                  // eslint-disable-next-line
                  console.error(err)
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

      },
  }
</script>

<style lang="scss">
  .dbl-app-search {
      height: 100%;
      padding-top: 10px;
      margin-top: 20px;

      .dbl-search-query {
          max-width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }

      .pagination {
          display: inline-block;
          width: 100%;
          text-align: center;
      }
      .pagination > li > a,
      .pagination > li > a:hover,
      .pagination > li > a:active,
      .pagination > li > a:focus {
          background-color: #282828;
          color: #fafafa;
          border: 1px solid #5a5a5a;
          float: none;
          margin: 0 1px;
      }
      .pagination > li.active > a {
          background-color: #0072c6 !important;
          cursor: default;
      }
  }
</style>
