
.dbl-program-dlg .modal-body {
    padding: 0;
}

.dbl-program-dlg .dbl-program-main {
    padding: 15px 20px;
    margin-bottom: 10px;
}

.dbl-program-dlg .dbl-categories {
    padding-top: 10px;
}

.dbl-program-dlg .dbl-rating {
    padding-top: 10px;
}

.dbl-program-dlg .dbl-rating .icon {
    color: #ccc;
}
.dbl-program-dlg .dbl-rating .icon.dbl-active {
    color: #888;
}

.dbl-program-dlg .dbl-program-description {
    padding: 20px;
    margin-top: 10px;
    overflow: hidden;
}
.dbl-program-dlg .dbl-program-image {
    width: 170px;
    float: left;
    margin-right: 20px;
    margin-bottom: 18px;
}


.dbl-play.dbl-locked {
    background-color: red;
}


/* Genres */
.dbl-program-main {
    position: relative;
}
.dbl-program-details .dbl-program-genres {
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: auto;
    height: 5px;
    position: absolute;
}


.dbl-program-details .dbl-selector {
    position: absolute;
    top: 13px;
    right: 7px;
}


/* Badges (HD, Premiere, Repeat) */
.dbl-program-details .dbl-badges {
    top: 13px;
    right: 20px;
}
.dbl-program.dbl-selectable .dbl-badges {
    right: 30px;
}
.dbl-program-details.dbl-selectable .dbl-badges {
    right: 24px;
}
@media (max-width: 767px) {
    .dbl-program.dbl-selectable .dbl-badges {
        right: 25px;
    }
}



/* Labels */
.dbl-program-details .dbl-label {
    font-weight: bold;
}
