
.dbl-program-delimiter {
    border-bottom: 2px solid;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 8px;
    padding: 0 30px;
}

.dbl-program {
    position: relative;
    padding: 10px 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #e7e7e7;
}
.dbl-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dbl-name-extend {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.dbl-subname {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.dbl-episodes {
    margin-left: 5px;
}

.dbl-channel-name {
    font-weight: bold;
}

.dbl-item-delimiters > * {
    border-right: 1px solid;
    padding-right: 7px;
    margin-left: 7px;
}
.dbl-item-delimiters > .dbl-wo-delimiter {
    border-right: none;
}
.dbl-item-delimiters > *:first-child {
    margin-left: 0;
}
.dbl-item-delimiters > .dbl-item-delimiter:not(last-child):last-of-type {
    border-right: none;
}


@media (max-width: 767px) {
    .dbl-program {
        padding: 10px;
    }
    .dbl-program-delimiter {
        padding: 0 10px;
    }
}

.dbl-program .dbl-selector {
    display: none;
    position: absolute;
    top: 8px;
    left: 12px;
}
.dbl-program.dbl-selectable .dbl-selector {
    display: block;
}
@media (max-width: 767px) {
    .dbl-program .dbl-selector {
        left: auto;
        right: 8px;
    }
}


/* Genres */
.dbl-program-genres {
    position: absolute;
    left: 3px;
    top: 0;
    bottom: 0;
    width: 7px;
}
@media (max-width: 767px) {
    .dbl-program-genres {
        left: 2px;
        width: 5px;
    }
}


/* Indicators */
.dbl-state {
    pointer-events: none;
    font-family: "fontcustom";
    font-size: 14px;
    margin-left: 3px;
    display: inline-block;
}
.dbl-state.dbl-conflict {
    position: relative;
}
.dbl-state.dbl-conflict:before {
    background: #fff;
    content: '';
    position: absolute;
    left: 5px;
    right: 5px;
    top: -2px;
    bottom: -1px;
}

.dbl-program .dbl-state.dbl-conflict:before,
.dbl-program-details .dbl-badges .dbl-state.dbl-conflict:before {
    top: 4px;
    bottom: 2px;
}
.dbl-program .dbl-state.dbl-conflict,
.dbl-program-details .dbl-badges .dbl-state.dbl-conflict {
    display: inline;
}

.dbl-state.dbl-conflict:after {
    color: #c01c17;
    content: "\f126";
    position: relative;
}


.dbl-state.dbl-hdtv:after {
    content: "\f10f";
    position: relative;
    font-size: 23px;
    top: 4px;
}


/* Indicators on the program */
.dbl-program .dbl-state.dbl-conflict,
.dbl-program-main .dbl-state.dbl-conflict {
    bottom: 7px;
    line-height: 37px;
}
.dbl-program .dbl-badges > *,
.dbl-program-main .dbl-badges > * {
    display: inline-block;
}
