<template>
  <div class="dbl-app-library">
    <main-header @hamburgerClick="$emit('hamburgerClick')">

      <ul class="dbl-library-nav nav navbar-nav">
        <nav-bar-multilevel class="dbl-show-params" :title="$t('connect.filter')" :icon="['icon-filter']">
          <subtlebox  v-model="currentSource" :label="$t('library.librarySources')"
                      :items="sources"
          />
          <div class="dbl-filters">
            <subtlebox v-for="filter in filters" :key="filter.id"
                       :items="filter.items"
                       v-model="currentFilterItem"
                       :label="filter === currentFilter ? currentFilterItem.name : filter.name"
                       :class="{'dbl-active': filter === currentFilter }"
                       @input="selectFilter(filter)"
            >
              <template slot-scope="slotProps">
                <input type="radio" :id="'item-' + slotProps.item.id"
                       :checked="slotProps.item.id === slotProps.value.id"
                       @change="slotProps.select(slotProps.item)"
                />
                <label class="menu-open-button" :for="'item-' + slotProps.item.id">
                  <span v-if="slotProps.item.length > -1" class="badge">{{ slotProps.item.length }}</span>{{ slotProps.item.name }}<span class="subtlebox-icon icon icon-ok" aria-hidden="true"></span>
                </label>
              </template>
            </subtlebox>
          </div>
        </nav-bar-multilevel>

        <nav-bar-multilevel class="dbl-search-params" :title="$t('library.librarySearchTitle')" :icon="['icon-search']">
          <form @submit.prevent="search">
            <div class="input-group dbl-search">
              <input :disabled="isSearchResult" v-model="searchQuery" type="text" id="search-query" class="form-control" :placeholder="$t('library.librarySearchTitle')" maxlength="30">
              <span class="input-group-btn">
                <button :class="{hidden: isSearchResult}" :disabled="isSearchResult || searchQuery.length < 3" class="dbl-search-btn btn btn-default" :title="$t('connect.searchMenuItem')">
                  <span class="icon icon-search" aria-hidden="true"></span>
                </button>
                <button @click.prevent="clearSearch" class="dbl-search-clear-btn btn btn-default" :class="{hidden: !isSearchResult}">
                  <span class="icon icon-delete" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </nav-bar-multilevel>
      </ul>

    </main-header>

    <player @close="playing.on = false" v-if="playing.on" :url="playing.url" :format="playing.format" :program="playing.meta" />

    <main class="main">

      <main class="container">
        <paginate v-if="pages.total > 1"
                  v-model="pages.current"
                  :page-count="pages.total"
                  :containerClass="'pagination'"
                  :page-class="'page-item'"
                  prev-text="←"
                  next-text="→"
        />

        <section class="dbl-program-list">
          <section v-for="program in programs" :key="program.id"
                   @click="openProgramDetails(program)"
                   class="dbl-program">
            <program :program="program"  />
          </section>
        </section>

        <div v-if="!loading && this.sources.length && !programs.length" class="dbl-no-items">{{ $t('library.libraryItemsNotFound') }}</div>
        <div v-if="!loading && !sources.length" class="dbl-no-sources">{{ $t('library.librarySourcesNotFound') }}</div>

        <paginate v-if="pages.total > 1"
                  v-model="pages.current"
                  :page-count="pages.total"
                  :containerClass="'pagination'"
                  :page-class="'page-item'"
                  prev-text="←"
                  next-text="→"
        />
      </main>
    </main>

    <spinner :showed="loading" />
    <program-details-modal :loading="programDetailsLoading" :program="currentProgram">
      <button @click="play(currentProgram)" :title="$t('tvrecordings.playTvRec')" type="button" class="dbl-play btn btn-default dbl-btn-xxl">
        <span class="icon icon-play" aria-hidden="true"></span>
      </button>
    </program-details-modal>

  </div>
</template>


<script>
  import Paginate from 'vuejs-paginate'

  import MainHeader from '@/components/MainHeader.vue'
  import Program from '@/components/Program.vue'
  import Subtlebox from '@/components/Subtlebox.vue'
  import Spinner from '@/components/Spinner.vue'
  import NavBarMultilevel from '@/components/NavBarMultilevel.vue'
  import ProgramDetailsModal from '@/components/ProgramDetailsModal.vue'
  import Player from '@/components/Player.vue'

  import Connect from '@/api/connect'

  import '@/assets/connect/styles/libs/fontcustom/fontcustom.css'
  import '@/assets/connect/styles/common.css'

  export default {
      name: 'Library',
      components: {
          Paginate,

          MainHeader,
          Program,
          Spinner,
          Subtlebox,
          NavBarMultilevel,
          ProgramDetailsModal,
          Player,
      },

      data () {
          return {
              loading: true,
              programs: [],
              sources: [],
              currentSource: {},
              filters: [],
              currentFilter: {},
              currentFilterItem: {},
              currentProgram: {
              },
              searchQuery: '',
              isSearchResult: false,
              pages: {
                  total: 1,
                  current: 1,
              },
              programDetailsLoading: false,

              playing: {
                  on: false,
                  url: '',
                  format: '',
                  meta: null,
              },
          }
      },

      created () {
          this.fetchData()
      },

      watch: {
          currentSource (newValue) {
              this.resetCurrentPage()
              this.selectSource(newValue)
          },
          currentFilterItem (newValue) {
              this.resetCurrentPage()
              this.selectFilterItem(newValue)
          },
          'pages.current' (newValue) {
              this.getPrograms(this.currentFilterItem, {
                  page: newValue,
              })
          },
      },

      methods: {
          pageChange (page) {
              this.pages.current = page
          },
          clearSearch () {
              this.searchQuery = ''
              this.isSearchResult = false
              this.resetCurrentPage()
              this.getPrograms(this.currentFilterItem)
          },
          search () {
              this.isSearchResult = true
              this.resetCurrentPage()
              this.getPrograms(this.currentFilterItem, {
                  search: this.searchQuery,
              })
          },
          loadSelectedSource () {
              if (!this.sources.length) {
                  return
              }
              const oldSourceID = window.localStorage.getItem('library.source')
              if (oldSourceID) {
                  const newSource = this.sources.filter(source => source.id === oldSourceID)[0]
                  if (newSource) {
                      this.currentSource = newSource
                      return
                  }
              }
              this.currentSource = this.sources[0]
          },
          saveSelectedSource (source) {
              window.localStorage.setItem('library.source', source.id)
          },
          loadSelectedFilter (sourceID) {
              if (!this.filters.length) {
                  return
              }
              const filters = JSON.parse(
                  window.localStorage.getItem('library.filters')
              ) || {};
              if (!Object.prototype.hasOwnProperty.call(filters, sourceID)) {
                  this.currentFilter = this.filters[0]
                  if (this.filters[0].items.length) {
                      this.currentFilterItem = this.filters[0].items[0]
                  }
                  return
              }

              const filterID = filters[sourceID]
              for (const filter of this.filters) {
                  for (const item of filter.items) {
                      if (item.id === filterID) {
                          this.currentFilter = filter
                          this.currentFilterItem = item
                          return
                      }
                  }
              }
          },
          saveSelectedFilter (sourceID, filterID) {
              let oldFilters = JSON.parse(
                  window.localStorage.getItem('library.filters')
              ) || {}
              oldFilters[sourceID] = filterID
              window.localStorage.setItem(
                  'library.filters', JSON.stringify(oldFilters)
              )
          },

          async fetchData () {
              this.loading = true
              const sources = await Connect.Library.getSources()
              this.sources = sources
              this.resetCurrentPage()
              this.loadSelectedSource()
              this.loading = false
          },

          async openProgramDetails (program) {
              this.currentProgram = program
              this.$modal.show('program-details-modal')
              let localPorgram = this.programs.filter(prg => prg.id === program.id)[0]
              if (!localPorgram || localPorgram.detailsLoaded) {
                  return
              }
              this.programDetailsLoading = true
              let programDetails = await Connect.Library.programDetails(program.id)
              Object.keys(programDetails).forEach(key => {
                  localPorgram[key] = programDetails[key]
              })
              localPorgram.detailsLoaded = true
              this.programDetailsLoading = false
          },

          async selectSource (source) {
              this.loading = true
              this.programs = []
              this.filters = []
              try {
                  const filters = await Connect.Library.getFilters(source.id)
                  this.filters = filters
                  this.saveSelectedSource(source)
                  this.loadSelectedFilter(source.id)
              } catch (err) {
                  alert(this.$t('common.serverError'))
              }
              this.loading = false
          },

          async selectFilterItem (filter) {
              this.programs = []
              await this.getPrograms(filter)
              this.saveSelectedFilter(this.currentSource.id, filter.id)
          },

          async getPrograms (filter, options={}) {
              this.loading = true
              const { meta, programs } = await Connect.Library.get(
                  filter.id, options.page || 1, options.search
              )
              this.pages.total = Math.ceil(meta.total_entries / meta.per_page)
              this.programs = programs
              this.loading = false
          },

          selectFilter (filter) {
              this.currentFilter = filter
          },

          resetCurrentPage () {
              this.pages.total = 1
              this.pages.current = 1
          },

          async play (currentProgram) {
              const FORMAT = 'mp4'
              const url = currentProgram.url
              this.playing.url = url
              this.playing.format = FORMAT
              this.playing.meta = currentProgram
              this.playing.on = true
              this.$modal.hide('program-details-modal')
          },
      },
  }
</script>

<style lang="scss">
  .dbl-app-library {
      height: 100%;
      margin-top: 20px;

      .dbl-program .dbl-info,
      .dbl-program-details .dbl-info > * {
          display: none;
      }
      .dbl-program-details .dbl-info > .dbl-duration {
          display: inline-block;
          margin-left: 0;
      }
      .dbl-filters .badge {
          float: right;
          position: relative;
      }
      #search-query[disabled] {
          opacity: 0.5;
      }
      .dbl-filters .subtlebox .dropdown-toggle .subtlebox-icon {
          background-color: #5a5a5a;
      }
      .dbl-filters .dbl-active .dropdown-toggle .subtlebox-icon {
          background-color: #0072c6;
      }

      .dbl-filters .subtlebox .dropdown-toggle .subtlebox-icon {
          background-color: #5a5a5a;
      }
      .dbl-filters .dbl-active .dropdown-toggle .subtlebox-icon {
          background-color: #0072c6;
      }

      .dbl-search {
          min-width: 400px;
      }
      .dbl-search #search-query {
          height: 32px;
      }

      .pagination {
          display: inline-block;
          width: 100%;
          text-align: center;
      }
      .pagination > li > a,
      .pagination > li > a:hover,
      .pagination > li > a:active,
      .pagination > li > a:focus {
          background-color: #282828;
          color: #fafafa;
          border: 1px solid #5a5a5a;
          float: none;
          margin: 0 1px;
      }
      .pagination > li.active > a {
          background-color: #0072c6 !important;
          cursor: default;
      }

      .dropdown.multilevel .dropdown-menu {
          max-height: 80vh;
          overflow-y: auto;
          min-height: 150px;

          .dropdown-menu {
              min-height: auto;
          }
      }


  }
</style>
