<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">
        <div class="block_border">
          <table class="table_params">
            <tr>
              <td>{{ $t("general.language") }}</td>
              <td>
                <multiselect v-model="currentLanguage" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="availableLangs" placeholder="" :show-labels="false"></multiselect>
              </td>
            </tr>
            <tr>
              <td>{{ $t("general.logLevel") }}</td>
              <td>
                <multiselect v-model="currentLogLevel" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="availableLogLevels" placeholder="" :show-labels="false"></multiselect>
              </td>
            </tr>
            <tr>
              <td>{{ $t("general.codePage") }}</td>
              <td>
                <multiselect v-model="currentCodePage" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="availableCodePages" placeholder="" :show-labels="false"></multiselect>
              </td>
            </tr>
          </table>
        </div>
        <h3>{{ $t("general.checkNewSoftware") }}</h3>
        <div class="block_grey text_center">
          <button :title="$t('general.check')" @click="checkNewSoftware" id="check" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> {{ $t("general.check") }}</button>
        </div>
        <h3>{{ $t("general.logFileLabel") }}</h3>
        <div class="block_grey text_center">
          <a :title="$t('general.logFileDownload')" @click="downloadLogFile" class="btn btn-primary download"><span class="glyphicon glyphicon-download-alt"></span> {{ $t("general.logFileDownload") }}</a>
        </div>
      </div>
    </div>

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t("common.cancel") }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t("common.save") }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import Vue from 'vue'

  import Multiselect from 'vue-multiselect'
  import 'vue-multiselect/dist/vue-multiselect.min.css'
  import VModal from 'vue-js-modal'

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  Vue.use(VModal, { dialog: true })
  Vue.component('multiselect', Multiselect)

  export default {
      name: 'settings-general',
      components: {
          Multiselect,
          Spinner
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight())
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              loading: false,
              availableLangs: [],
              availableLogLevels: [],
              availableCodePages: [],
              currentLanguage: null,
              currentLogLevel: null,
              currentCodePage: null
          }
      },
      methods: {
          fetchData: function () {
              this.loading = true
              Settings.General.get((generalSettings) => {
                  this.availableLangs = generalSettings.languages
                  this.availableLogLevels = generalSettings.logLevels
                  this.availableCodePages = generalSettings.codePages
                  this.currentLanguage = generalSettings.languages.find(
                      (i) => i.id === generalSettings.language
                  )
                  this.currentLogLevel = generalSettings.logLevels.find(
                      (i) => i.id === generalSettings.logLevel
                  )
                  this.currentCodePage = generalSettings.codePages.find(
                      (i) => i.id === generalSettings.codePage
                  )
                  this.loading = false
              });
          },

          saveSettings: function () {
              this.$i18n.locale = this.currentLanguage.id
              this.loading = true;
              Settings.General.save({
                  language: this.currentLanguage.id,
                  codePage: this.currentCodePage.id,
                  logLevel: this.currentLogLevel.id
              }, () => {
                  this.loading = false
              })
          },

          resetSettings: function () {
              this.fetchData();
          },

          downloadLogFile: function () {
              Settings.General.downloadLogFile((url) => Tools.openInNewTab(url));
          },

          checkNewSoftware: function () {
              this.loading = true
              Settings.General.checkNewSoftware((updates) => {
                  this.loading = false
                  if (updates.available) {
                      this.$modal.show('dialog', {
                          text: this.$i18n.t('general.notUpToDate') + '<br />' + this.$i18n.t('general.wouldYouLike'),
                          buttons: [{
                              title: this.$i18n.t('common.no'),
                          }, {
                              title: this.$i18n.t('common.yes'),
                              default: true,
                              handler: () => {
                                  Tools.openInNewTab('https://gitlab.com/tvmosaic');
                                  this.$modal.hide('dialog')
                              }
                          }]
                      })
                      return
                  }
                  this.$modal.show('dialog', {
                      text: this.$i18n.t('general.upToDate'),
                      buttons: [{
                          title: this.$i18n.t('common.ok')
                      }]
                  })
              });
          }
      }
  }
</script>

<style>
  .multiselect {
      font-size: inherit;
      min-height: auto;
      color: #fff;
      min-width: 230px;
      cursor: pointer;
  }
  .multiselect__tags {
      padding: 4px 40px 0px 8px;
      min-height: 30px;
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__content-wrapper {
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__select {
      height: 30px;
  }
  .multiselect__input, .multiselect__single {
      margin-bottom: 4px;
      font-size: inherit;
      background: #1d1d1d;
  }
  .multiselect__option--selected,
  .multiselect__option--highlight,
  .multiselect__option--selected.multiselect__option--highlight {
      background: #2c2c2c;
      color: #fff;
  }
</style>

<style>
  body .vue-dialog.v--modal {
      border: 1px solid #5a5a5a;
      background: #3c3c3c;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
  }
  body .vue-dialog .vue-dialog-buttons {
      background-color: #1d1d1d;
      border-top: 1px solid #5a5a5a;
      font-size: inherit;
  }
  body .vue-dialog-button:not(:first-of-type) {
      border-left: 1px solid #5a5a5a;
  }
</style>
