<template>
  <div class="settings-backup">
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">

        <h3>{{ $t("backup.description") }}</h3>
        <div class="block_grey text_center">
          <button :title="$t('backup.backup')" @click="backup" class="btn btn-primary download"><span class="ico ico_backup"></span> {{ $t("backup.backup") }}</button>
          <form @submit="restoreSubmit" method="post" enctype="multipart/form-data">
            <input class="btn btn-primary restore" role="button" type="file" name="file" accept=".zip">
          </form>
        </div>

      </div> <!-- content_scroll_inn -->
    </div> <!-- content_scroll  -->

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import Vue from 'vue'

  import Multiselect from 'vue-multiselect'
  import 'vue-multiselect/dist/vue-multiselect.min.css'

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  Vue.component('multiselect', Multiselect)

  export default {
      name: 'settings-backup',
      components: {
          Spinner
      },
      data: () => {
          return {
              loading: false
          }
      },
      mounted: function () {
          require('@/assets/jquery.filepicker.min')

          let vue = this
          let filepickerUI = null;

          $('input[type="file"].restore').filepicker({
              renderUI: function(element, button) {
                  if (!filepickerUI) {
                      filepickerUI = document.createElement('span');
                      filepickerUI.appendChild(button);
                      element.parentNode.insertBefore(filepickerUI, element);
                  }
                  $(button)
                      .addClass('btn btn-primary')
                      .attr('title', vue.$i18n.t('backup.restore'))
                      .append('<span class="glyphicon glyphicon-repeat"></span> ' + vue.$i18n.t('backup.restore'))
                      .button();

                  return false;
              },
              change: function () {
                  $('form')
                      .off()
                      .on('submit', function (event) {
                          vue.restoreSubmit(this)
                          event.preventDefault()
                      })
                      .submit()
              }
          });

          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      methods: {
          backup: function () {
              Settings.Backup.backup((url) => Tools.openInNewTab(url));
          },
          async restoreSubmit (formData) {
              this.loading = true;
              try {
                  await Settings.Backup.restore(new FormData(formData))
                  await Tools.delay(5000)
              } catch (e) {
                  this.$modal.show('dialog', {
                      text: this.$i18n.t('error'),
                      buttons: [{
                          title: this.$i18n.t('common.ok')
                      }]
                  })
              }
              this.loading = false
          }
      }
  }
</script>

<style>
  .settings-backup form {
      display: inline-block;
  }

  .settings-backup .block_grey .btn-primary {
      margin: 5px;
  }
</style>
