<template>
  <div class="settings-recorder">
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">


        <div class="row">
          <div class="block_borders_holder">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <div class="block_border">
                <table class="table_params">
                  <tr>
                    <td>{{ $t("recorder.path") }}</td>
                    <!-- <td><input autocomplete="off" type="text" id="record-path" name="path" v-model="path" maxlength="1024" data-manual-edit="#manual-edit-tmpl" data-delimiter="/" data-toggle="path-selector" data-labels="label" data-url="/s/getpath/" /></td> -->
                    <td><directory-picker v-model="path" /></td>
                  </tr>
                  <tr>
                    <td>{{ $t("recorder.beforeMargin") }}</td>
                    <td>
                      <multiselect v-model="beforeMargin" track-by="value" label="name" :searchable="false" :allow-empty="false" :options="beforeMargins" placeholder="" :show-labels="false"></multiselect>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t("recorder.afterMargin") }}</td>
                    <td>
                      <multiselect v-model="afterMargin" track-by="value" label="name" :searchable="false" :allow-empty="false" :options="afterMargins" placeholder="" :show-labels="false"></multiselect>
                    </td>
                  </tr>
                  <tr>
                    <td><label for="check-deleted-rec">{{ $t("recorder.bgCheckDeletedRecs") }}</label></td>
                    <td>
                      <input v-model="checkDeletedRec" class="niceCheck" autocomplete="off" type="checkbox" id="check-deleted-rec" name="check_deleted_rec">
                      <label for="check-deleted-rec"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t("recorder.newOnlyAlgoTypeLabel") }}</td>
                    <td>
                      <multiselect v-model="newOnlyAlgoType" track-by="value" label="name" :searchable="false" :allow-empty="false" :options="newOnlyAlgoTypes" placeholder="" :show-labels="false"></multiselect>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t("recorder.newOnlyDefaultValueLabel") }}</td>
                    <td>
                      <multiselect v-model="newOnlyDefaultValue" track-by="value" label="name" :searchable="false" :allow-empty="false" :options="newOnlyDefaultValues" placeholder="" :show-labels="false"></multiselect>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <h3>{{ $t("recorder.autoDeleteThresholdHeader") }}</h3>
              <div class="block_border">
                <table class="table_params">
                  <tr>
                    <td><label for="auto-disk-space-mode">{{ $t("recorder.autoDeleteThresholdAuto") }}</label></td>
                    <td>
                      <input v-model="autoDiskSpaceMode" class="niceCheck" type="checkbox" autocomplete="off" id="auto-disk-space-mode" name="auto_disk_space_mode" />
                      <label for="auto-disk-space-mode"></label>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t("recorder.autoDeleteThresholdSize") }}</td>
                    <td>
                      <input :disabled="autoDiskSpaceMode" v-model="manDiskSpaceMb" autocomplete="off" type="text" id="man-disk-space" name="man_disk_space" max="1048576" min="1" maxlength="7">
                    </td>
                  </tr>
                  <tr>
                    <td><label for="autodelete-algo">{{ $t("recorder.autoDelete") }}</label></td>
                    <td>
                      <input v-model="autoDeleteAlgo" class="niceCheck" type="checkbox" autocomplete="off" id="autodelete-algo" name="autodelete_algo" />
                      <label for="autodelete-algo"></label>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="block_border_left"></div>
            <div class="block_border_right"></div>
            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <h3>{{ $t("recorder.recorderFilenamePattern") }}</h3>
        <div class="block_border">
          <table class="table_filename_pattern">
            <tr>
              <td>{{ $t("recorder.recorderPatternSeparator") }}</td>
              <td>
                <multiselect v-model="pattern.separator" :searchable="false" :allow-empty="false" :options="pattern.separators" placeholder="" :show-labels="false"></multiselect>
              </td>
            </tr>
            <tr>
              <td>{{ $t("recorder.recorderPatternAppend") }}</td>
              <td>
                <div class="row block_append">
                  <div class="col-lg-3 col-sm-3 col-xs-3" v-for="group in patternsGroups" :key="group[0].value">
                    <button :title="item.name" :disabled="pattern.current.length > 5" @click="pattern.current.push(item.value)" v-for="item in group" :key="item.value" class="btn btn-primary data_template" :data-value="item.value">{{ item.name }}</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>{{ $t("recorder.recorderPatternResult") }}</td>
              <td>
                <div class="block_result_holder">
                  <ul class="clearfix pattern_list">
                    <li v-for="(item, index) in currentPattern" :key="item.value" class="filename_pattern">
                      <div class="block_result">
                        <u>{{ pattern.separator }}</u>
                        <div class="block_result_inn">{{ item.name }}</div>
                        <span @click="pattern.current.splice(index, 1)" class="glyphicon glyphicon-remove"></span>
                      </div>
                    </li>
                  </ul>
                  <button @click="pattern.current = []" type="button" class="close">&times;</button>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="row text_center">
          <button :title="$t('recorder.repairRecording')" @click="repairDB" class="btn btn-primary"><span class="glyphicon glyphicon-wrench ico_flip"></span> {{ $t("recorder.repairRecording") }}</button>
        </div>

      </div> <!-- content_scroll_inn -->
    </div> <!-- content_scroll  -->

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t("common.cancel") }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t("common.save") }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import Vue from 'vue'

  import Multiselect from 'vue-multiselect'
  import 'vue-multiselect/dist/vue-multiselect.min.css'
  import VModal from 'vue-js-modal'

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'
  import DirectoryPicker from '@/components/DirectoryPicker.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  Vue.use(VModal, { dialog: true })
  Vue.component('multiselect', Multiselect)

  export default {
      name: 'settings-recorder',
      components: {
          Multiselect,
          Spinner,
          DirectoryPicker,
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              loading: false,
              beforeMargin: null,
              beforeMargins: [],
              afterMargin: null,
              afterMargins: [],
              checkDeletedRec: false,
              newOnlyAlgoType: null,
              newOnlyAlgoTypes: [],
              autoDiskSpaceMode: false,
              manDiskSpaceMb: '',
              autoDeleteAlgo: false,
              newOnlyDefaultValue: null,
              newOnlyDefaultValues: [],
              path: '',
              pattern: {
                  separators: [],
                  separator: '',
                  available: [],
                  current: []
              },
          }
      },
      computed: {
          patternsGroups () {
              return _.chunk(this.pattern.available, 2)
          },
          currentPattern () {
              return this.pattern.current.map((index) => {
                  return this.pattern.available[index]
              });
          }
      },
      methods: {
          fetchData: function () {
              this.loading = true
              Settings.Recorder.get((settings) => {
                  this.path = settings.path

                  this.beforeMargins = settings.before_margins
                  this.beforeMargin = settings.before_margins.find(
                      (i) => i.value === settings.before_margin
                  )
                  this.afterMargins = settings.after_margins
                  this.afterMargin = settings.after_margins.find(
                      (i) => i.value === settings.after_margin
                  )

                  this.newOnlyAlgoTypes = settings.new_only_algo_types
                  this.newOnlyAlgoType = settings.new_only_algo_types.find(
                      (i) => i.value === settings.new_only_algo_type
                  )

                  this.newOnlyDefaultValues = settings.new_only_default_values
                  this.newOnlyDefaultValue = settings.new_only_default_values.find(
                      (i) => i.value === settings.new_only_default_value
                  )

                  this.manDiskSpaceMb = settings.man_disk_space_mb

                  this.autoDiskSpaceMode = settings.auto_disk_space_mode === true || settings.auto_disk_space_mode == 1
                  this.autoDeleteAlgo = settings.autodelete_algo === true || settings.autodelete_algo == 1
                  this.checkDeletedRec = settings.check_deleted_rec === true || settings.check_deleted_rec == 1

                  this.pattern = {...settings.filename_pattern}

                  this.loading = false
              });
          },

          saveSettings: function () {
              this.loading = true;
              let newParams = {
                  path: this.path,
                  before_margin: this.beforeMargin.value,
                  after_margin: this.afterMargin.value,
                  check_deleted_rec: this.checkDeletedRec,
                  new_only_algo_type: this.newOnlyAlgoType.value,
                  new_only_default_value: this.newOnlyDefaultValue.value,
                  auto_disk_space_mode: this.autoDiskSpaceMode,
                  autodelete_algo: this.autoDeleteAlgo,
                  man_disk_space_mb: parseInt(this.manDiskSpaceMb),
                  filename_pattern: {
                      current: [...this.pattern.current],
                      separator: this.pattern.separator
                  }
              }
              Settings.Recorder.save(newParams, () => {
                  this.fetchData()
              })
          },

          resetSettings: function () {
              this.fetchData();
          },

          repairDB: function () {
              this.loading = true;
              Settings.Recorder.repairDB(() => {
                  this.loading = false;
                  this.$modal.show('dialog', {
                      text: this.$i18n.t('recorder.repairRecordingSuccess'),
                      buttons: [{
                          title: this.$i18n.t('common.ok'),
                      }]
                  })
              });
          }

      }
  }
</script>

<style>
  .multiselect {
      font-size: inherit;
      min-height: auto;
      color: #fff;
      min-width: 230px;
      cursor: pointer;
  }
  .multiselect__tags {
      padding: 4px 40px 0px 8px;
      min-height: 30px;
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__content-wrapper {
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__select {
      height: 30px;
  }
  .multiselect__input, .multiselect__single {
      margin-bottom: 4px;
      font-size: inherit;
      background: #1d1d1d;
  }
  .multiselect__option--selected,
  .multiselect__option--highlight,
  .multiselect__option--selected.multiselect__option--highlight {
      background: #2c2c2c;
      color: #fff;
  }
</style>

<style>
  .settings-recorder .multiselect,
  .settings-recorder .table_params td:last-child input[type=text] {
      width: 316px;
  }
  .table_filename_pattern .block_append .btn {
      width: 100%;
  }

  .table_filename_pattern .block_result u {
      display: none;
      left: auto;
      right: 100%;
  }
  .table_filename_pattern .block_result_inn {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .table_filename_pattern .filename_pattern + .filename_pattern u {
      display: block;
  }
  .table_filename_pattern .block_result_holder {
      min-height: 82px;
  }
</style>
