<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">

        <h3 class="description"></h3>
        <table class="transcoder-settings table_edit_box"></table>

      </div> <!-- content_scroll_inn -->
    </div> <!-- content_scroll  -->

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t("common.cancel") }}</button>
      <button @click="saveSettings" class="btn btn-default" role="button">{{ $t("common.save") }}</button>
    </div>

    <script type="text/html" id="container-editable-tmpl">
      <tr>
        <td><label for="<%- id %>"><%- name %></label></td>
        <td class="input"><input data-id="id" type="<%- format %>" class="form-control" value="<%- value %>" id="<%- id %>"/></td>
      </tr>
    </script>

    <script type="text/html" id="container-selectable-tmpl">
      <tr>
        <td><label for="<%- id %>"><%- name %></label></td>
        <td class="input">
          <select data-id="id" class="form-control" id="<%- id %>">
            <% _.each(values, function (item, index) { %>
            <option value="<%- item.value %>" <%= index === selected_idx ? 'selected="selected"' : '' %>><%- item.name %></option>
            <% }); %>
          </select>
        </td>
      </tr>
    </script>

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'
  import Settings from '@/api/settings'
  import Tools from '@/tools'

  export default {
      name: 'settings-transcoding',
      components: {
          Spinner
      },
      mounted: function () {
          this.elementContainer = new window.App.Tools.ElementContainer();
          this.fetchData()
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      data () {
          return {
              loading: false,
          }
      },
      methods: {
          fetchData: function () {
              this.loading = true
              Settings.Transcoding.get((settings) => {
                  $('.description').text(settings.description)
                  let $elements = this.elementContainer.toElements(settings)
                  this.$paramsElements = $('.transcoder-settings').html(
                      $elements
                  )
                  this.loading = false
              });
          },

          saveSettings: function () {
              this.loading = true;
              let params = this.elementContainer.toValues(this.$paramsElements);
              Settings.Transcoding.save(params, () => {
                  this.loading = false
              })
          },

          resetSettings: function () {
              this.fetchData();
          },

      }
  }
</script>

<style>
  .transcoder-settings {
      font-size: 13px;
  }

  .transcoder-settings td {
      padding-bottom: 5px;
  }

  .transcoder-settings select {
      font-size: 13px;
      background-color: #1d1d1c;
      color: #fff;
      box-shadow: none !important;
      outline: none;
      border: 1px solid #5a5a5a !important;
  }

  .transcoder-settings select option {
      background: #000;
      box-shadow: inset 20px 20px #000;
  }
  .transcoder-settings select option:hover {
      background: #2c2c2c;
      box-shadow: inset 20px 20px #2c2c2c;
  }

  .transcoder-settings td.input {
      width: 230px;
  }
</style>
