<template>
<div class="dbl-config">
  <main-header @hamburgerClick="$emit('hamburgerClick')" />

  <!-- content -->
  <main class="content clearfix">
    <div class="container-fluid">
      <main-menu />

      <ul class="nav nav-justified menu_tabs">
        <li><router-link :to="{name: 'settings-general'}">{{ $t("menu.settingsGeneral") }}</router-link></li>
        <li><router-link :to="{name: 'settings-network'}">{{ $t("menu.settingsNetwork") }}</router-link></li>
        <li><router-link :to="{name: 'settings-transcoding'}">{{ $t("menu.settingsTranscoding") }}</router-link></li>
        <li><router-link :to="{name: 'settings-backup'}">{{ $t("menu.settingsBackupAndRestore") }}</router-link></li>
        <li><router-link :to="{name: 'settings-recorder'}">{{ $t("menu.settingsRecorder") }}</router-link></li>
        <li><router-link :to="{name: 'settings-sendto'}">{{ $t("menu.settingsSendto") }}</router-link></li>
      </ul>

      <div class="settings">
        <router-view></router-view>
      </div>
    </div>
  </main>
  <!-- // content -->
</div>
</template>


<script>
import MainHeader from '@/components/MainHeader.vue'
import MainMenu from '@/components/MainMenu.vue'

export default {
    name: 'settings',
    components: {
        MainHeader,
        MainMenu
    }
}
</script>
