<template>
<div>
  <div class="content_scroll scrollbar-outer">
    <div class="content_scroll_inn height_auto">


      <div class="block_border">
        <table class="table_params">
          <tr>
            <td>{{ $t("network.forwardPorts") }}</td>
            <td>
              <input class="niceCheck" type="checkbox" id="forward_enabled" name="forward_enabled" v-model="forwardPorts" />
              <label for="forward_enabled"></label>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text_center">
              <button :title="$t('network.checkPorts')" @click="checkports" id="check" class="btn btn-primary btn_middle">
                <span class="glyphicon glyphicon-eye-open"></span> {{ $t("network.checkPorts") }}
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="block_border">
        <table class="table_params">
          <tr>
            <td>{{ $t("network.userAuthentication") }}</td>
            <td>
              <input class="niceCheck" type="checkbox" id="auth" name="auth" v-model="authentication" />
              <label for="auth"></label>
            </td>
          </tr>
          <tr>
            <td>{{ $t("network.user") }}</td>
            <td>
              <input autocomplete="off" id="user" name="user" v-model="user" type="text" :disabled="!authentication" />
            </td>
          </tr>
          <tr>
            <td>{{ $t("network.password") }}</td>
            <td>
              <input autocomplete="off" id="password" name="password" type="password" v-model="password" :disabled="!authentication" />
            </td>
          </tr>
          <tr>
            <td>{{ $t("network.repeatPassword") }}</td>
            <td>
              <input autocomplete="off" id="password_repeat" name="password_repeat" type="password" v-model="repeatPassword" class="password-repeat" :class="{error: passwordRepeatError}" :disabled="!authentication" />
            </td>
          </tr>
        </table>
      </div>

      </div> <!-- content_scroll_inn -->
    </div> <!-- content_scroll  -->

    <div class="block_buttons text-right">
      <button @click="resetSettings" class="btn btn-link" role="button">{{ $t("common.cancel") }}</button>
      <button :disabled="settignsError" @click="saveSettings" class="btn btn-default" role="button">{{ $t("common.save") }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
  </div>
</template>

<script>
  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'

  import Settings from '@/api/settings'
  import Tools from '@/tools'

  export default {
      name: 'settings-network',
      components: {
          Spinner
      },
      mounted: function () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },
      data () {
          return {
              loading: false,
              authentication: false,
              forwardPorts: false,
              password: '',
              repeatPassword: '',
              user: '',
              randomPassword: Math.random().toString(36).substring(2),
          }
      },
      computed: {
          passwordRepeatError: function () {
              return this.password != this.repeatPassword
          },
          settignsError: function () {
              return this.passwordRepeatError;
          }
      },
      watch: {
          authentication: function (newValue) {
              this.password = this.repeatPassword = newValue ? this.randomPassword : '';
          }
      },
      methods: {
          fetchData: function () {
              this.loading = true
              this.authentication = false
              Settings.Network.get((settings) => {
                  this.authentication = settings.authentication;
                  this.forwardPorts = settings.forward_ports
                  this.user = settings.user
                  this.loading = false
              });
          },

          saveSettings: function () {
              let params = {
                  authentication: this.authentication,
                  forward_ports: this.forwardPorts,
                  user: this.user,
              }
              if (this.password != this.randomPassword) {
                  if (this.password != this.repeatPassword) {
                      return;
                  }
                  params = {
                      ...params,
                      password: this.password,
                      password_repeat: this.repeatPassword,
                  }
              }
              this.loading = true;
              Settings.Network.save(params, () => {
                  this.loading = false
                  this.fetchData();
              })
          },

          resetSettings: function () {
              this.fetchData();
          },

          checkports: function () {
              Settings.Network.checkports((url) => Tools.openInNewTab(url));
          },
      }
  }
</script>

<style>
  input.password-repeat.error {
      background-color: #4f0000;
      border-color: #9f0000;
  }
</style>
