<template>
  <div>
    <div class="content_scroll scrollbar-outer">
      <div class="content_scroll_inn height_auto">

        <div class="block_send_to">
          <div class="scrollbar-inner" id="targets_scroller">
            <table class="cfg-targets table_send_to">
              <thead>
                <tr>
                  <th :title="$t('sendto.targetsName')" class="cfg-target-name">{{ $t("sendto.targetsName") }}</th>
                  <th class="cfg-target-id"></th>
                  <th :title="$t('sendto.targetsRemoveOriginal')" class="cfg-target-remove-original">{{ $t("sendto.targetsRemoveOriginal") }}</th>
                  <th :title="$t('sendto.targetsFormatter')" class="cfg-target-formatter">{{ $t("sendto.targetsFormatter") }}</th>
                  <th :title="$t('sendto.targetsFormatter')" class="cfg-target-destination">{{ $t("sendto.targetsDestination") }}</th>
                  <th :title="$t('sendto.targetsDetectCommercials')" class="cfg-target-detect-commercials">
                    <span v-show="enabledComskip">
                      <span data-toggle="tooltip" data-placement="bottom" :title="$t('sendto.targetsDetectCommercialsDescription')" class="glyphicon glyphicon-info-sign"></span>
                      {{ $t("sendto.targetsDetectCommercials") }}
                    </span>
                  </th>
                  <th :title="$t('sendto.targetsDefault')" class="cfg-target-default">{{ $t("sendto.targetsDefault") }}</th>
                  <th class="cfg-target-formatter-params"></th>
                  <th class="cfg-target-destination-params"></th>
                  <th class="cfg-target-activate"></th>
                  <th class="cfg-target-controls"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="targets.length < 1" class="cfg-empty-table-help">
                  <td colspan="9">{{ $t("sendto.emptyTableHelp") }}</td>
                </tr>

                <tr v-for="target in targets" :key="target.id"
                    :class="{new: target.id === editTarget.id, 'tbl-active': target.id === selectedTarget.id}"
                    @dblclick.stop.prevent="targetEditStart(target)"
                    @click.stop="selectTarget(target)"
                >
                  <template v-if="target.id != editTarget.id">
                    <td :title="target.name" data-field="name" class="cfg-target-name">{{ target.name }}</td>
                    <td data-field="id" class="cfg-target-id">{{ target.id }}</td>
                    <td data-field="remove" class="cfg-target-remove-original">{{ target.delete_on_success | bool }}</td>
                    <td data-field="formatter" class="cfg-target-formatter">{{ target | formatterName }}</td>
                    <td data-field="destination" class="cfg-target-destination">{{ target | destinationName }}</td>
                    <td data-field="detectcommercials" class="cfg-target-detect-commercials"><span v-if="enabledComskip">{{ target.use_comskip | bool }}</span></td>
                    <td data-field="isdefault" class="cfg-target-default">{{ target.default | bool }}</td>
                    <td data-field="formatterparams" class="cfg-target-formatter-params"></td>
                    <td data-field="destinationparams" class="cfg-target-destination-params"></td>
                    <td data-field="activate" class="cfg-target-activate"></td>
                    <td data-field="controls" class="cfg-target-controls">
                      <div class="block_edit_del">
                        <span @click.stop.prevent="targetEditStart(target)" class="tbl-edit glyphicon glyphicon-pencil"></span>
                        <span @click.stop.prevent="targetRemove(target)" class="tbl-remove glyphicon glyphicon-remove-sign"></span>
                      </div>
                    </td>
                  </template>

                  <template v-if="target.id === editTarget.id">
                    <td class="cfg-target-name">
                      <input data-field="name" type="text" v-model="editTarget.name"/>
                    </td>
                    <td data-field="id" class="cfg-target-id"></td>
                    <td class="cfg-target-remove-original">
                      <input class="niceCheck" data-field="remove" type="checkbox" v-model="editTarget.delete_on_success" id="sendto_target_name" /><label for="sendto_target_name"></label>
                    </td>
                    <td class="cfg-target-formatter">
                      <multiselect v-model="currentFormatter" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="availableFormatters" placeholder="" :show-labels="false"></multiselect>
                    </td>
                    <td class="cfg-target-destination">
                      <multiselect v-model="currentDestination" track-by="id" label="name" :searchable="false" :allow-empty="false" :options="availableDestinations" placeholder="" :show-labels="false"></multiselect>
                    </td>
                    <td class="cfg-target-detect-commercials">
                      <span v-if="enabledComskip">
                        <input class="niceCheck comskip" type="checkbox" v-model="editTarget.use_comskip" id="sendto_target_detect_commercials" /><label for="sendto_target_detect_commercials"></label>
                        <span @click.stop.prevent="editComskip(target)" v-if="editTarget.use_comskip" class="comskip-edit glyphicon glyphicon-pencil"></span>
                      </span>
                    </td>
                    <td class="cfg-target-default">
                      <input class="niceCheck" data-field="isdefault" type="checkbox" v-model="editTarget.default" id="sendto_target_default" /><label for="sendto_target_default"></label>
                    </td>
                    <td data-field="formatterparams" class="cfg-target-formatter-params"></td>
                    <td data-field="destinationparams" class="cfg-target-destination-params"></td>
                    <td data-field="activate" class="cfg-target-activate"></td>
                    <td class="cfg-target-controls">
                      <button :title="$t('common.cancel')" @click.stop.prevent="targetEditCancel(target)" class="tbl-cancel btn btn-link">{{ $t("common.cancel") }}</button>
                      <button :title="$t('common.save')" :disabled="editTargetHasError" @click.stop.prevent="targetEditSave(target)" class="tbl-save btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{ $t("common.save") }}</button>
                    </td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="block_tunner_add">
            <button @click="targetAppend" class="create-manual-device btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
          </div>
          <div v-if="selectedTarget.id" class="row cfg-workunits-params">
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <div class="cfg-formatter-params block_border">
                <table class="table_params">
                  <tr class="cfg-workunit-name">
                    <td>{{ $t("sendto.workunitFormatter") }}</td>
                    <td>{{ formatters[ selectedTarget.fmt_id].name }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t("sendto.activationRequired") }}</td>
                    <td>{{ formatters[selectedTarget.fmt_id].activation_required | bool }}</td>
                  </tr>
                  <send-to-formatter @validate="fmtValid = !$event" :readonly="!targetEditing" v-model="selectedTarget" prefix="fmt" :controls-params="formatters" />
                </table>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-6">
              <div class="cfg-destination-params block_border">
                <table class="table_params">
                  <tr class="cfg-workunit-name">
                    <td>{{ $t("sendto.workunitDestination") }}</td>
                    <td>{{ destinations[ selectedTarget.dst_id].name }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t("sendto.activationRequired") }}</td>
                    <td>{{ destinations[ selectedTarget.dst_id].activation_required | bool }}</td>
                  </tr>
                  <send-to-formatter @validate="dstValid = !$event" :readonly="!targetEditing" v-model="selectedTarget" prefix="dst" :controls-params="destinations" />
                </table>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- content_scroll_inn -->
    </div> <!-- content_scroll  -->

    <div class="block_buttons text-right">
      <button :disabled="targetEditing" @click="resetSettings" class="btn btn-link" role="button">{{ $t("common.cancel") }}</button>
      <button :disabled="targetEditing" @click="saveSettings" class="btn btn-default" role="button">{{ $t("common.save") }}</button>
    </div>

    <spinner :showed="loading" />
    <v-dialog />
    <params-container-modal v-model="comskipParams" @save="saveComskipParams" />

  </div>
</template>


<script>
  import Vue from 'vue'

  import Multiselect from 'vue-multiselect'
  import 'vue-multiselect/dist/vue-multiselect.min.css'
  import VModal from 'vue-js-modal'

  import VueScrollTo from 'vue-scrollto'

  import 'jquery.scrollbar'
  import 'jquery.scrollbar/jquery.scrollbar.css'

  import Spinner from '@/components/Spinner.vue'
  import SendToFormatter from '@/components/SendToFormatter.vue'
  import ParamsContainerModal from '@/components/ParamsContainerModal.vue'

  import Settings from '@/api/settings'

  import Tools from '@/tools.js'

  Vue.use(VModal, { dialog: true })
  Vue.use(VueScrollTo)
  Vue.component('multiselect', Multiselect)

  function getFormatTranscodeResolutions (vue) {
      return [
          vue.$i18n.t('sendto.formatTranscodeResolutionOriginal'),
          '1920x1080', '1280x720', '768x576', '720x480',
      ]
  }

  let FORMATTERS = {}
  let DESTINATIONS = {}

  function getFormatters (vue, capabilities) {
      return {
          'format-copy': {
              'id': 'format-copy',
              'name': vue.$i18n.t('sendto.formattersCopy'),
              'parameters': [],
              'activation_required': false,
          },
          'format-transmux': {
              'id': 'format-transmux',
              'name': vue.$i18n.t('sendto.formattersConvertToMp4'),
              'parameters': [{
                  'id': 'encode_audio_aac',
                  'type': 'checkbox',
                  'value': false, // Default value.
                  'name': vue.$i18n.t('sendto.formattersConvertEncodeAudioAac'),
              },],
              'activation_required': false,
          },
          ...(capabilities.transcoding ? {
              'format-transcode': {
                  'id': 'format-transcode',
                  'name': vue.$i18n.t('sendto.formattersTranscode'),
                  'parameters': [{
                      'id': 'resolution',
                      'name': vue.$i18n.t('sendto.formattersTranscodeResolution'),
                      'type': 'select',
                      'options': getFormatTranscodeResolutions(vue).map((resolution, i) => ({
                          'id': String(i),
                          'name': resolution,
                      })),
                      'value': '0',
                  }, {
                      'id': 'bitrate',
                      'name': vue.$i18n.t('sendto.formattersTranscodeBitrate'),
                      'help': vue.$i18n.t('sendto.formattersTranscodeBitrateHelp'),
                      'value': '',
                  },],
                  'activation_required': false,
              },
          } : {}),
          'format-transmux-mkv': {
              'id': 'format-transmux-mkv',
              'name': vue.$i18n.t('sendto.formattersTransmuxMkv'),
              'parameters': [],
              'activation_required': false,
          },
      }
  }

  function getDestinations (vue) {
      return {
          'dst-copy-local': {
              'id': 'dst-copy-local',
              'name': vue.$i18n.t('sendto.destinationsCopyLocal'),
              'parameters': [{
                  'id': 'dest_dir',
                  'type': 'directory',
                  'required': true,
                  'name': vue.$i18n.t('sendto.destinationDirectory'),
                  'help': vue.$i18n.t('sendto.destinationDirectoryHelp'),
                  'value': '',
              }, {
                  'id': 'generate_nfo',
                  'type': 'checkbox',
                  'value': false, // Default value.
                  'name': vue.$i18n.t('sendto.destinationGenerateNfo'),
              },],
              'activation_required': false,
          },
      }
  }

  function generateNewTarget (vue, capabilities) {
      const DEFAULT_FMT = 'format-copy'
      const DEFAULT_DST = 'dst-copy-local'
      return {
          id: Tools.createGUID(),
          name: vue.$i18n.t('sendto.newTargetName'),
          delete_on_success: true,
          default: false,
          use_comskip: false,

          dst_id: DEFAULT_DST,
          fmt_id: DEFAULT_FMT,
          dst_params: getDestinations(vue)[DEFAULT_DST].parameters,
          fmt_params: getFormatters(vue, capabilities)[DEFAULT_FMT].parameters,
          isNew: true,

          comskip_params: vue.defaultComskipParams,
      }
  }






  export default {
      name: 'settings-sendto',
      components: {
          Multiselect,
          Spinner,
          SendToFormatter,
          ParamsContainerModal,
      },
      mounted () {
          $('.scrollbar-outer').scrollbar()
          $('.scrollbar-inner').scrollbar()
          $('[data-toggle="tooltip"]').tooltip()
          Tools.updateContentHolderHeight()
          $(window).on('resize', Tools.updateContentHolderHeight)
      },
      beforeDestroy: function () {
          $(window).off('resize', Tools.updateContentHolderHeight)
      },
      created: function () {
          this.fetchData()
      },

      data () {
          return {
              loading: false,
              targets: [],

              selectedTarget: {
                  id: '',
                  name: '',
                  delete_on_success: false,
                  default: false,
                  dst_params: [],
                  fmt_params: [],
                  fmt_id: '',
                  dst_id: '',
              },

              dstValid: true,
              fmtValid: true,

              editTarget: {
                  id: '',
                  name: '',
                  delete_on_success: false,
                  default: false,
                  dst_params: [],
                  fmt_params: [],
                  fmt_id: '',
                  dst_id: '',
              },
              originalTarget: {
                  id: '',
                  name: '',
                  delete_on_success: false,
                  default: false,
                  dst_params: [],
                  fmt_params: [],
                  fmt_id: '',
                  dst_id: '',
              },

              formatters: [],
              destinations: [],
              availableFormatters: [],
              availableDestinations: [],

              enabledComskip: false,
              comskipParams: {},
              defaultComskipParams: {},

              capabilities: {
                  transcoding: false,
              },
          }
      },
      computed: {
          currentFormatter: {
              get: function () {
                  let { id, name } = FORMATTERS[this.editTarget.fmt_id]
                  return { name, id }
              },
              set: function (formatter) {
                  this.editTarget.fmt_id = formatter.id
                  this.editTarget.fmt_params = FORMATTERS[this.editTarget.fmt_id].parameters
              },
          },

          currentDestination: {
              get: function () {
                  let { id, name } = DESTINATIONS[this.editTarget.dst_id]
                  return { name, id }
              },
              set: function (destination) {
                  this.editTarget.dst_id = destination.id
                  this.editTarget.dst_params = DESTINATIONS[this.editTarget.dst_id].parameters
              },
          },

          editTargetHasError () {
              return !(this.dstValid && this.fmtValid)
          },

          targetEditing () {
              return Boolean(this.editTarget && this.editTarget.id && this.editTarget.id.length)
          },
      },
      filters: {
          bool: value => value ? '✔' : '✘',
          formatterName: target => FORMATTERS[target.fmt_id].name,
          destinationName: target => DESTINATIONS[target.dst_id].name,
      },
      methods: {

          normalizeParams (iTarget, parametersSpecification, prefix) {
              let target = {...iTarget}

              // For the checkbox, convert ['1', '0'] to [true, false]
              target[prefix + '_params'].map(param => {
                  let paramParam = parametersSpecification[target[prefix + '_id']].parameters.filter(p => p.id === param.id)
                  if (paramParam.length && paramParam[0].type === 'checkbox') {
                      param.value = param.value !== '0'
                  }
                  return param
              })

              // For select, change the incoming line to its id.
              target[prefix + '_params'].map(param => {
                  let paramParam = parametersSpecification[target[prefix + '_id']].parameters.filter(p => p.id === param.id)
                  if (paramParam.length && paramParam[0].type === 'select') {
                      const options = paramParam[0].options.filter(o => o.name === param.value)
                      param.value = (
                          options.length ? options : [{ id: paramParam[0].value }]
                      )[0].id
                  }
                  return param
              })

              // If the parameter does not exist, add the default parameter
              const paramIDs = target[prefix + '_params'].map(param => param.id)
              parametersSpecification[target[prefix + '_id']].parameters.forEach(parameter => {
                  if (paramIDs.indexOf(parameter.id) < 0) {
                      target[prefix + '_params'].push({
                          id: parameter.id,
                          value: parameter.value,
                      })
                  }
              })
              return target
          },

          fillParams () {
              FORMATTERS = getFormatters(this, this.capabilities)
              DESTINATIONS = getDestinations(this)
              this.availableFormatters = Object.keys(FORMATTERS).map((key) => ({
                  id: FORMATTERS[key].id,
                  name: FORMATTERS[key].name,
              })),
              this.availableDestinations = Object.keys(DESTINATIONS).map((key) => ({
                  id: DESTINATIONS[key].id,
                  name: DESTINATIONS[key].name,
              })),
              this.formatters = FORMATTERS
              this.destinations = DESTINATIONS
          },

          async fetchData () {
              this.loading = true

              this.capabilities = await Settings.SendTo.capabilities()
              this.fillParams()

              const comskipParams = await Settings.SendTo.getDefaultComskipParams()
              this.enabledComskip = comskipParams.enabled
              this.defaultComskipParams = comskipParams.defaults
              const targets = await Settings.SendTo.getTargets()
              this.targets = targets
                  .map(target => this.normalizeParams(target, this.destinations, 'dst'))
                  .map(target => this.normalizeParams(target, this.formatters, 'fmt'))
                  .sort((a, b) => a.name.localeCompare(b.name))
              if (this.targets.length > 0) {
                  this.selectedTarget = this.targets[0]
              }
              this.loading = false
          },

          async saveSettings () {
              this.loading = true
              // Deep clone
              let targets = JSON.parse(JSON.stringify(this.targets))
              targets.forEach(target => {
                  target.dst_params = target.dst_params.map(param => ({
                      id: param.id,
                      value: typeof param.value === 'boolean' ? String(param.value && 1 || 0) : String(param.value)
                  }))
                  target.fmt_params = target.fmt_params.map(param => ({
                      id: param.id,
                      value: typeof param.value === 'boolean' ? String(param.value && 1 || 0) : String(param.value)
                  }))
              })
              await Settings.SendTo.setTargets(targets)
              targets.forEach(async target => {
                  const activate = target.activate
                  if (activate) {
                      await Settings.SendTo.activate(activate.token, activate.workunit)
                      delete target.activate
                  }
              })
              this.loading = false
          },

          resetSettings () {
              this.fetchData()
          },

          targetEditStart (target) {
              if (this.targetEditing) {
                  return
              }
              this.originalTarget = { ...target }
              this.editTarget = target
          },
          targetEditCancel (target) {
              if (target.isNew) {
                  this.targetRemove(target)
              } else {
                  Object.keys(this.originalTarget).forEach(
                      key => this.editTarget[key] = this.originalTarget[key]
                  )
              }
              this.editTarget = {}
              this.originalTarget = {}
          },
          targetEditSave (target) {
              if (this.formatters[target.fmt_id].activation_required) {
                  this.activate(this.formatters[target.fmt_id], target)
              }
              if (this.destinations[target.dst_id].activation_required) {
                  this.activate(this.destinations[target.dst_id], target)
              }

              if (target.isNew) {
                  target.isNew = false
              }
              this.editTarget = {}
              this.originalTarget = {}
          },

          selectTarget (target) {
              if (!this.targetEditing) {
                  this.selectedTarget = target
              }
          },

          targetRemove (target) {
              if (this.selectedTarget.id === target.id) {
                  this.selectedTarget = {}
              }
              this.targets = this.targets.filter(t => t.id != target.id)
              this.editTarget = {}
              this.selectedTarget = {}
          },

          targetAppend () {
              const newTarget = generateNewTarget(this, this.capabilities)
              this.targets.push(newTarget)
              this.selectedTarget = newTarget
              this.editTarget = newTarget

              this.$nextTick(() => {
                  this.$scrollTo($('tr.new').get(0), 300, {
                      easing: 'ease-in',
                      offset: -10,
                      x: false,
                      y: true,
                      container: '#targets_scroller',
                  })
              })
          },

          async editComskip (target) {
              this.loading = true
              const params = await Settings.SendTo.getComskip(target.comskip_params)
              this.comskipParams.target = target
              this.comskipParams.title = params.name
              this.comskipParams.description = params.description
              this.$set(this.comskipParams, 'editable', params.editable)
              this.$set(this.comskipParams, 'selectable', params.selectable)
              this.$modal.show('params-container-modal');
              this.loading = false
          },

          saveComskipParams () {
              let comskipParams = {
                  ...this.comskipParams.editable.reduce((r, i) => (r[i.id] = i.value, r), {}),
                  ...this.comskipParams.selectable.reduce((r, i) => (r[i.id] = i.selected_idx, r), {})
              }
              comskipParams = Object.assign({}, ...Object.keys(comskipParams).map(key => ({[key]: comskipParams[key].toString()})))
              this.comskipParams.target.comskip_params = comskipParams
              this.$modal.hide('params-container-modal');
          },

          async activate () { }
      }
  }
</script>

<style>
  .multiselect {
      font-size: inherit;
      min-height: auto;
      color: #fff;
      min-width: 230px;
      cursor: pointer;
  }
  .multiselect__tags {
      padding: 4px 40px 0px 8px;
      min-height: 30px;
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__content-wrapper {
      background: #1d1d1d;
      border: 1px solid #5a5a5a;
  }
  .multiselect__select {
      height: 30px;
  }
  .multiselect__input, .multiselect__single {
      margin-bottom: 4px;
      font-size: inherit;
      background: #1d1d1d;
  }
  .multiselect__option--selected,
  .multiselect__option--highlight,
  .multiselect__option--selected.multiselect__option--highlight {
      background: #2c2c2c;
      color: #fff;
  }
</style>

<style>
  body .vue-dialog.v--modal {
      border: 1px solid #5a5a5a;
      background: #3c3c3c;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
  }
  body .vue-dialog .vue-dialog-buttons {
      background-color: #1d1d1d;
      border-top: 1px solid #5a5a5a;
      font-size: inherit;
  }
  body .vue-dialog-button:not(:first-of-type) {
      border-left: 1px solid #5a5a5a;
  }

  .cfg-targets {
      user-select: none;
  }

  .cfg-targets .cfg-target-detect-commercials {
      max-width: 140px;
  }
  .cfg-targets .multiselect {
      min-width: 30px;
  }
  .cfg-targets input {
      width: 100%;
  }

  .comskip-edit {
      display: none;
  }

  input.comskip:checked ~ .comskip-edit {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      font-size: 9px;
      color: #282828;
      background-color: #ddd;
      margin: 5px 0 5px 5px;
      cursor: pointer;
  }

  input.comskip[disabled] + label {
      opacity: 0.5;
      cursor: no-drop;
  }

  .block_send_to > .scrollbar-inner {
      max-height: 210px;
  }

  .block_tunner_add {
      margin-top: 10px;
  }


  .block_send_to .table_send_to tr td,
  .block_send_to .table_send_to tr th {
      padding: 23px 10px;
      margin: 0;
  }

  .block_send_to .table_send_to tr .cfg-target-name {
      min-width: 100px;
  }

  .block_send_to .table_send_to tr .cfg-target-default,
  .block_send_to .table_send_to tr .cfg-target-detect-commercials,
  .block_send_to .table_send_to tr .cfg-target-remove-original {
      width: 50px;
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      padding: 10px 3px;
  }

  .block_send_to .table_send_to tr .cfg-target-detect-commercials {
      width: 80px;
      max-width: 80px;
  }

  @media screen and (min-width: 900px) {
      .block_send_to .table_send_to tr .cfg-target-default,
      .block_send_to .table_send_to tr .cfg-target-detect-commercials,
      .block_send_to .table_send_to tr .cfg-target-remove-original {
          width: 90px;
          max-width: 90px;
      }
      .block_send_to .table_send_to tr .cfg-target-detect-commercials {
          width: 120px;
          max-width: 120px;
      }
  }

  .block_send_to .table_send_to tr .cfg-target-controls {
      width: 120px;
      max-width: 120px;
      text-align: center;
  }

  .block_send_to .table_send_to tr .cfg-target-controls .btn {
      max-width: 100px;
  }

  .block_send_to .table_send_to tr .cfg-target-formatter,
  .block_send_to .table_send_to tr .cfg-target-destination {
      width: 25%;
  }

  .block_send_to .table_send_to tr.new td {
      padding: 0 5px;
  }

  .block_send_to .multiselect__input,
  .block_send_to .multiselect__single {
      white-space: nowrap;
  }

  .cfg-target-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .cfg-formatter-params.block_border,
  .cfg-destination-params.block_border {
      margin: 0;
  }

  .block_send_to .tbl-save {
      margin-bottom: 5px;
  }
</style>
