<template>
  <modal name="add-recording-modal"
         :classes="['v--modal', 'add-recording-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         :scrollable="true"
         height="auto"
         @opened="opened"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-recording-dlg-label">{{ $t('schedules.addRecordingPageTitle') }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-title">{{ $t('schedules.title') }}</label>
            <div class="col-sm-10">
              <input v-model="name" type="text" class="form-control" id="add-recording-title" name="title" value="" maxlength="30" :placeholder="$t('schedules.scheduleTypeManual')">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-channel">{{ $t('schedules.channel') }}</label>
            <div class="col-sm-10">
              <select v-model="channel" class="form-control" id="add-recording-channel" name="channel">
                <option :value="channel.id" v-for="channel in channels" :key="channel.id">{{ channel.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-repeats">{{ $t('schedules.repeat') }}</label>
            <div class="col-sm-10">
              <select v-model="repeat" class="form-control" id="add-recording-repeats" name="repeats">
                <option :value="repeat.id" v-for="repeat in repeats" :key="repeat.id">{{ repeat.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-date">{{ $t('schedules.date') }}</label>
            <div class="col-sm-10">
              <input type="date"
                     v-model="dateValue"
                     :disabled="dateDisabled"
                     class="form-control" id="add-recording-date" name="startdate" maxlength="10" />
            </div>
          </div>
          <div v-if="repeat === repeats[0].id" class="dbl-week-days form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <label v-for="day in weekDays" :key="day.id" class="checkbox-inline"><input type="checkbox" name="weekdays" v-model="days" :value="day.id"/> {{ day.name }}</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-start">{{ $t('schedules.startTime') }}</label>
            <div class="col-sm-10">
              <input type="time" v-model="startTimeValue" class="form-control" id="add-recording-start" name="starttime" value="" maxlength="5">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="add-recording-end">{{ $t('schedules.endTime') }}</label>
            <div class="col-sm-10">
              <input type="time" v-model="endTimeValue" class="form-control" id="add-recording-end" name="endtime" value="" maxlength="5">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button @click="hide" type="button" :title="$t('connect.hide')" class="visible-xs-inline btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <button @click="add" type="button" :title="$t('schedules.addMenuItem')" class="add-button btn btn-default dbl-btn-xxl">
          <span class="icon icon-add" aria-hidden="true"></span>
        </button>
      </div>

      <span v-if="loading" class="dbl-waiter" />
    </div>
  </modal>
</template>

<script>
  import moment from 'moment'

  const REPEAT_CUSTOM = 130
  const REPEAT_WEEKLY = 129
  const REPEAT_DAILY = 255
  const REPEAT_ONCE = 0

  const DATE_FORMAT = 'YYYY-MM-DD';
  const TIME_FORMAT = 'HH:mm';

  export default {
      name: 'AddRecordingModal',
      props: ['channels'],

      data () {
          return {
              loading: false,
              channel: '',
              repeats: [{
                  id: REPEAT_CUSTOM,
                  name: this.$t('schedules.repeatCustom'),
              }, {
                  id: REPEAT_WEEKLY,
                  name: this.$t('schedules.repeatWeekly'),
              }, {
                  id: REPEAT_DAILY,
                  name: this.$t('schedules.repeatDaily'),
              }, {
                  id: REPEAT_ONCE,
                  name: this.$t('schedules.repeatOnce'),
              }],
              repeat: REPEAT_ONCE,
              weekDays: [{
                  id: 2, name: this.$t('schedules.weekMon'),
              }, {
                  id: 3, name: this.$t("schedules.weekTue"),
              }, {
                  id: 4, name: this.$t("schedules.weekWed"),
              }, {
                  id: 5, name: this.$t("schedules.weekThu"),
              }, {
                  id: 6, name: this.$t("schedules.weekFri"),
              }, {
                  id: 7, name: this.$t("schedules.weekSat"),
              }, {
                  id: 1, name: this.$t("schedules.weekSun"),
              }],
              days: [],
              date: {},
              startTime: {},
              endTime: {},
              name: '',
          }
      },

      computed: {
          dateDisabled () {
              return [this.repeats[0].id, this.repeats[2].id].indexOf(this.repeat) > -1
          },

          dateValue: {
              get () {
                  return this.date.format(DATE_FORMAT)
              },
              set (newValue) {
                  this.date = moment(newValue, DATE_FORMAT)
              }
          },
          startTimeValue: {
              get () {
                  return this.startTime.format(TIME_FORMAT)
              },
              set (newValue) {
                  this.startTime = moment(newValue, TIME_FORMAT).seconds(0)
              }
          },
          endTimeValue: {
              get () {
                  return this.endTime.format(TIME_FORMAT)
              },
              set (newValue) {
                  this.endTime = moment(newValue, TIME_FORMAT).seconds(0)
              }
          },
      },

      created () {
          this.initDateTime()
      },

      watch: {
          channels (newValue) {
              if (newValue.length < 1) {
                  return
              }
              this.channel = newValue[0].id
          },
      },

      methods: {
          opened () {
              this.initDateTime()
          },

          initDateTime () {
              const now = moment().minutes(0)
              this.date = moment(now)
              this.startTime = moment(now)
              this.endTime = moment(now).add(1, 'hours')
          },

          add () {
              const start = moment(this.date).add({
                  hours: this.startTime.hours(),
                  minutes: this.startTime.minutes()
              })

              let params = {
                  channel: this.channel,
                  endTime: moment(this.date).add({
                      hours: this.endTime.hours(),
                      minutes: this.endTime.minutes()
                  }).unix(),
                  name: this.name || this.$t('schedules.scheduleTypeManual'),
                  startTime: start.unix(),
              }
              const repeat = parseInt(this.repeat, 10)
              if (repeat === REPEAT_CUSTOM) {
                  params.days = [...this.days]
              } else if (repeat === REPEAT_DAILY) {
                  params.days = [...Array(7).keys()].map(i => i+1)
              } else if (repeat === REPEAT_WEEKLY) {
                  params.days = [start.day() + 1]
              }
              this.$emit('add', params)
          },

          withDate (repeat) {
              return repeat === 129 || repeat === 0
          },

          hide () {
              this.$modal.hide('add-recording-modal')
          }
      },
  }
</script>
