<template>
  <modal name="connect-settings-modal"
         :classes="['v--modal', 'connect-settings-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
         @opened="opened"
         @closed="closed"
  >
    <div class="modal-content" ref="modal">
      <div class="modal-header">
        <h4 class="modal-title" id="settings-modal-label">{{ $t('connect.settingsPageTitle') }}</h4>
      </div>
      <div class="modal-body">
        <div class="dbl-settings-tabs" role="tabpanel">
          <ul class="dbl-tabs nav nav-pills nav-justified" role="tablist">
            <li role="presentation"><a href="#preview-options" aria-controls="preview-options" role="tab" data-toggle="tab">{{ $t('connect.playChannelButton') }}</a></li>
            <li role="presentation"><a href="#global-options" aria-controls="global-options" role="tab" data-toggle="tab">{{ $t('connect.globalOptions') }}</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="preview-options">
              <form class="form-horizontal">

                <div class="form-group">
                  <div v-if="!transcoding.supported" class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ $t('connect.transcodingNotSupportedWarn') }}</div>
                </div>
                <div class="form-group hidden">
                  <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                      <label>
                        <input v-model="transcoding.enabled" type="checkbox" :disabled="loading || !transcoding.supported" checked="checked" id="et" name="et" value="1" /> {{ $t('connect.enableTranscoding') }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lang" class="col-sm-3 control-label">{{ $t('connect.language') }}</label>
                  <div class="col-sm-6">
                    <select v-model="transcoding.language" class="form-control" id="lang" name="lang" :disabled="loading || !transcoding.enabled">
                      <option v-for="lang in transcoding.languages" :key="lang.id" :value="lang.id">{{ lang.name }}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <input  v-model="transcoding.customLanguage" class="form-control" id="ml" name="ml" :disabled="transcoding.language != '0' || loading || !transcoding.enabled" type="text" maxlength="3"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="scale" class="col-sm-3 control-label">{{ $t('connect.videoScaling') }}</label>
                  <div class="col-sm-9">
                    <select v-model="transcoding.scale" class="form-control" id="scale" name="scale" :disabled="loading || !transcoding.enabled">
                      <option v-for="scale in transcoding.scales" :key="scale.id" :value="scale.id">{{ scale.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="bitrate" class="col-sm-3 control-label">{{ $t('connect.bitrate') }}</Label>
                  <div class="col-sm-9">
                    <select v-model="transcoding.bitrate" class="form-control" id="bitrate" name="bitrate" :disabled="loading || !transcoding.enabled">
                      <option v-for="bitrate in transcoding.bitrates" :key="bitrate.id" :value="bitrate.id">{{ bitrate.name }}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="global-options">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="date-formatter" class="col-sm-3 control-label">{{ $t('connect.dateFormatterLabel') }}</label>
                  <div class="col-sm-9">
                    <select v-model="global.date" class="form-control" id="date-formatter" :disabled="loading">
                      <option v-for="date in global.dates" :key="date.id" :value="date.id">{{ date.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="time-formatter" class="col-sm-3 control-label">{{ $t('connect.timeFormatterLabel') }}</label>
                  <div class="col-sm-9">
                    <select v-model="global.time" class="form-control" id="time-formatter" :disabled="loading">
                      <option v-for="time in global.times" :key="time.id" :value="time.id">{{ time.name }}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button @click="hide" type="button" :title="$t('connect.hide')" class="btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <button @click="save" type="button" :title="$t('common.save')" class="dbl-save btn btn-default dbl-btn-xxl" :disabled="loading">
          <span class="icon icon-ok" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </modal>
</template>

<script>

  import ConnectAPI from '@/api/connect'

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});

  export default {
      name: 'ConnectSettingsModal',
      props: [],

      data () {
          return {
              loading: false,
              transcoding: {
                  supported: true,
                  enabled: true,
                  language: '',
                  customLanguage: '',
                  languages: [],
                  scale: '',
                  scales: [],
                  bitrate: '',
                  bitrates: [],
              },
              global: {
                  date: '',
                  dates: [],
                  time: '',
                  times: [],
              }
          }
      },

      methods: {
          opened () {
              const $modal = $(this.$refs.modal)
              this.$tabs = $modal.find('a[data-toggle="tab"]')
              this.$tabs.on('show.bs.tab', this.tabChanged)
              $modal.find('a[href="#preview-options"]').tab('show')
              this.currentTab = 'preview-options'
          },

          closed () {
              this.$tabs.off('show.bs.tab', this.tabChanged)
          },

          async tabChanged (event) {
              this.loading = true
              this.currentTab = $(event.target).attr('href').substring(1);
              if (this.currentTab === 'preview-options') {
                  this.transcoding = await ConnectAPI.Settings.Transcoding.get()
              }
              if (this.currentTab === 'global-options') {
                  this.global = await ConnectAPI.Settings.Global.get()
              }
              this.loading = false
          },

          async save () {
              this.loading = true
              if (this.currentTab === 'preview-options') {
                  await ConnectAPI.Settings.Transcoding.set({
                      bitrate: this.transcoding.bitrate,
                      enabled: this.transcoding.enabled,
                      language: this.transcoding.language,
                      scale: this.transcoding.scale,
                      ...(this.transcoding.customLanguage ? {
                          customLanguage: this.transcoding.customLanguage
                      } : {}),
                  })
              }
              if (this.currentTab === 'global-options') {
                  await ConnectAPI.Settings.Global.set({...this.global})
                  Connect.DateFormatters.date = this.global.date || Connect.defaults.dateFormatters.date
                  Connect.DateFormatters.time = this.global.time || Connect.defaults.dateFormatters.time
                  this.$router.go(this.$router.currentRoute)
              }
              this.$emit('change')
              this.loading = false
              this.hide()
          },

          hide () {
              this.$modal.hide('connect-settings-modal')
          },
      },

  }
</script>

<style lang="scss">
  .connect-settings-modal {
      .dbl-tabs {
          margin-bottom: 20px;
      }
      .alert {
          margin-bottom: 0;
      }
  }
</style>
