<template>
  <modal name="coupon-modal"
         :classes="['v--modal', 'coupon-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
  >
    <h4>{{ $t('products.registration') }}</h4>

    <p>
      <i18n path="products.youAreActivating" tag="span">
        <strong id="product_title">{{ value.product.name }}</strong>
      </i18n>
      <strong id="server_title">{{ value.server }}</strong>
    </p>

    <form @submit="save">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-6 control-label" for="serial-number">{{ $t('products.serialNumber') }}</label>
          <div class="col-sm-6">
            <cleave placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" v-focus v-model="value.serial" id="serial-number" :options="options" class="form-control"></cleave>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="button" @click="cancel()" class="btn btn-link">{{ $t('common.cancel') }}</button>
        <button :disabled="!saveEnabled" type="submit" class="pull-right btn btn-default">{{ $t('common.ok') }}</button>
      </div>
    </form>

  </modal>
</template>

<script>
  import Cleave from 'vue-cleave-component'

  export default {
      name: 'CouponModal',
      components: {
          Cleave,
      },
      props: [
          'value',
      ],
      data: () => ({
          options: {
              blocks: [4, 4, 4, 4, 4],
              uppercase: true,
              delimiter: '-',
              raw: false,
          }
      }),
      methods: {
          cancel () {
              this.$emit('cancel')
              this.$modal.hide('coupon-modal')
          },
          save (event) {
              event.preventDefault();
              if (!this.saveEnabled) {
                  return false
              }
              this.$emit('save')
          }
      },
      computed: {
          saveEnabled () {
              return this.value.serial.length === 20
          },
      },
      directives: {
          focus: {
              inserted: (el) => el.focus()
          }
      }
  }
</script>

<style>
  .v--modal.coupon-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }
  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }
  .v--modal.coupon-modal #server_title {
      margin-left: 5px;
  }
</style>
