<template>
  <div class="directory-picker" :class="{error}">
    <input autocomplete="off" type="text" maxlength="1024"
           class="input"
           :value="value"
           @input="changePath($event.target.value)"
           @focus="showPicker"
           ref="input"
           :disabled="disabled"
    />
    <div v-if="visible"
         class="overlay"
         @click="cancel"
    >
      <div class="picker"
           :style="pickerStyle">
        <ul class="directories">
          <li v-for="directory in directories"
              :key="directory"
              class="directory"
              @click="moveTo(directory); $event.stopPropagation()"
          >{{ directory }}</li>
        </ul>
        <div v-if="loading" class="spinner" />
        <div @click="select(); $event.stopPropagation()" class="select">{{ $t('common.select') }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import Settings from '@/api/settings'

  export default {
      name: 'DirectoryPicker',
      props: ['value', 'disabled'],
      data () {
          return {
              error: false,
              originalValue: '',
              loading: false,
              visible: false,
              bounds: {
                  bottom: 0,
                  top: 0,
                  left: 0,
                  width: 0,
              },
              directories: [],
          }
      },
      computed: {
          pickerStyle () {
              return {
                  bottom: this.bounds.bottom ? (this.bounds.bottom + 'px') : '',
                  top: this.bounds.bottom ? '' : (this.bounds.top + 'px'),
                  left: this.bounds.left+'px',
                  width: this.bounds.width+'px'
              }
          }
      },
      methods: {
          changePath (value) {
              this.$emit('input', value)
          },
          select () {
              this.hidePicker()
          },
          cancel () {
              this.changePath(this.originalValue)
              this.hidePicker()
          },
          showPicker () {
              this.$refs.input.blur()
              this.originalValue = this.value
              const {top, left, height, width} = this.$refs.input.getBoundingClientRect()

              const clientHeight = document.documentElement.clientHeight
              if (clientHeight > top + 300) {
                  this.bounds.top = top + height
                  this.bounds.bottom = 0
              } else {
                  this.bounds.top = 0
                  this.bounds.bottom = clientHeight - top - 1
              }

              this.bounds.left = left
              this.bounds.width = width
              this.fetchData(this.value)
              this.visible = true
          },
          hidePicker () {
              this.visible = false
          },
          moveTo (directory) {
              this.fetchData((this.value.length ? (this.value + '/') : '') + directory)
          },
          async fetchData (path) {
              this.loading = true
              try {
                  const response = await Settings.Directories.get(path)
                  this.loading = false
                  this.directories = response.tree
                  this.changePath(response.path)
              } catch (e) {
                  this.loading = false
                  this.error = true
                  setTimeout(() => this.error = false, 300)
                  return
              }
          },
      },
  }
</script>

<style scoped lang="scss">
  .overlay {
      text-align: left;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #0008;
      z-index: 99;
      user-select: none;
  }

  .picker {
      position: absolute;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
      background-color: #3c3c3c;
      transition: all 0.3s ease-in;
      color: #fff;
  }

  .directories {
      padding: 0 10px;

      min-height: 100px;
      height: 200px;

      list-style: none;
      cursor: pointer;
      overflow-y: auto;
      overflow-x: hidden;

      margin: 5px 2px;
  }

  .directory {
      padding: 5px 0;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
  }

  .directory:after {
      content: "▶";
      position: absolute;
      right: 0;
      font-size: 120%;
  }

  .spinner {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000
  }
  .spinner:after {
      content: "\27F3";
      font-size: 40px;
      color: #fff;
      top: 50%;
      margin: -20px;
      position: absolute;
      left: 50%;
      animation: rotate-360 1000ms linear infinite;
  }

  .select {
      padding: 10px;
      background-color: #1d1d1d;
      text-align: center;
      cursor: pointer;
  }

  .input {
      cursor: pointer;
  }

  .error .picker {
      color: #ff9d9d;
      background-color: #420606;
  }
</style>
