<template>
  <modal name="edit-schedule-modal"
         :classes="['v--modal', 'edit-schedule-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         :scrollable="true"
         height="auto"
         @opened="opened"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="edit-schedule-dlg-label">{{ $t('schedules.scheduleEditTitle') }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="edit-schedule-name">{{ $t('schedules.title') }}</label>
            <div class="col-sm-8">
              <input v-model="value.name" disabled="disabled" type="text" class="form-control" id="edit-schedule-name" maxlength="30" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label" for="edit-schedule-active">{{ $t('schedules.scheduleActiveLabel') }}</label>
            <div class="col-sm-8">
              <input v-model="value.active" type="checkbox" id="edit-schedule-active" value="true" />
            </div>
          </div>

          <div class="form-group">
            <label for="edit-schedule-margin-before" class="col-sm-4 control-label">{{ $t('schedules.recordsBeforeMargin') }}</label>
            <div class="col-sm-8">
              <select v-model="value.marginBefore" class="form-control" id="edit-schedule-margin-before">
                <option :value="margin.id" v-for="margin in beforeMargins" :key="margin.id">{{ margin.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="edit-schedule-margin-after" class="col-sm-4 control-label">{{ $t('schedules.recordsAfterMargin') }}</label>
            <div class="col-sm-8">
              <select v-model="value.marginAfter" class="form-control" id="edit-schedule-margin-after">
                <option :value="margin.id" v-for="margin in afterMargins" :key="margin.id">{{ margin.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="edit-schedule-priority" class="col-sm-4 control-label">{{ $t('schedules.schedulePriorityLabel') }}</label>
            <div class="col-sm-8">
              <select v-model="value.priority" class="form-control" id="edit-schedule-priority">
                <option :value="priority.id" v-for="priority in priorities" :key="priority.id">{{ priority.name }}</option>
              </select>
            </div>
          </div>

          <div v-if="1 || sendToSupported" class="form-group">
            <label for="edit-schedule-sendto-targets" class="col-sm-4 control-label">{{ $t('connect.sendtoTitle') }}</label>
            <div class="col-sm-8">
              <select v-model="value.targets" multiple="multiple" size="3" class="form-control" id="edit-schedule-sendto-targets">
                <option :value="target.id" v-for="target in sendtoTargets" :key="target.id">{{ target.name }}</option>
              </select>
            </div>
          </div>

          <div v-if="value.type === 'epg' && isRepeatSchedule(value)" class="form-group">
            <label class="col-sm-4 control-label" for="edit-schedule-new-only">{{ $t('schedules.isNewOnlyLabel') }}</label>
            <div class="col-sm-8">
              <input v-model="value.recordNewOnly" type="checkbox" id="edit-schedule-new-only" value="true" />
            </div>
          </div>

          <div v-if="(['epg', 'manual'].includes(value.type) && isRepeatSchedule(value)) || value.type === 'pattern'" class="form-group">
            <label for="edit-schedule-recs-to-keep" class="col-sm-4 control-label">{{ $t('schedules.keepRecords') }}</label>
            <div class="col-sm-8">
              <select v-model="value.recordingsToKeep" class="form-control" id="edit-schedule-recs-to-keep">
                <option :value="item.id" v-for="item in recordingsToKeep" :key="item.id">{{ item.name }}</option>
              </select>
            </div>
          </div>

          <div v-if="(value.type === 'epg' && isRepeatSchedule(value)) || value.type === 'pattern'">
            <div class="form-group">
              <label class="col-sm-4 control-label">{{ $t('schedules.scheduleDayMask') }}</label>
              <div class="col-sm-8 dbl-days">
                <label v-for="day in weekDays" :key="day.id" class="checkbox-inline"><input type="checkbox" name="weekdays" v-model="value.days" :value="day.id"/> {{ day.name }}</label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="edit-schedule-start-before-enabled">{{ $t('schedules.scheduleStartBefore') }}</label>
              <div class="col-sm-1">
                <input v-model="beforeEnabled" type="checkbox" id="edit-schedule-start-before-enabled" value="true" />
              </div>
              <div class="col-sm-7">
                <input v-model="startBefore_" :disabled="!beforeEnabled" type="time" class="form-control" id="edit-schedule-start-before-time" value="" maxlength="5">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="edit-schedule-start-after-enabled">{{ $t('schedules.scheduleStartAfter') }}</label>
              <div class="col-sm-1">
                <input v-model="afterEnabled" type="checkbox" id="edit-schedule-start-after-enabled" value="true" />
              </div>
              <div class="col-sm-7">
                <input v-model="startAfter_" :disabled="!afterEnabled" type="time" class="form-control" id="edit-schedule-start-after-time" value="" maxlength="5">
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button @click="cancel" type="button" :title="$t('connect.hide')" class="btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <button @click="save" type="button" :title="$t('common.save')" class="save-button btn btn-default dbl-btn-xxl">
          <span class="icon icon-ok" aria-hidden="true"></span>
        </button>
      </div>

      <span v-if="loading" class="dbl-waiter" />
    </div>
  </modal>
</template>

<script>
  import moment from 'moment'

  import Connect from '@/api/connect'

  export default {
      name: 'EditScheduleModal',
      props: ['value',],

      data () {
          return {
              loading: false,
              originalValue: {},

              sendToSupported: false,

              sendtoTargets: [],

              beforeMargins: [{
                  id: 0, name: this.$tc('schedules.marginBefore', 0)
              }, {
                  id: 60, name: this.$tc('schedules.marginBefore', 1)
              }, {
                  id: 120, name: this.$tc('schedules.marginBefore', 2)
              }, {
                  id: 180, name: this.$tc('schedules.marginBefore', 3)
              }, {
                  id: 240, name: this.$tc('schedules.marginBefore', 4)
              }, {
                  id: 300, name: this.$tc('schedules.marginBefore', 5)
              }, {
                  id: 600, name: this.$tc('schedules.marginBefore', 10)
              }, {
                  id: 900, name: this.$tc('schedules.marginBefore', 15)
              }],
              afterMargins: [{
                  id: 0, name: this.$tc('schedules.marginAfter', 0)
              }, {
                  id: 60, name: this.$tc('schedules.marginAfter', 1)
              }, {
                  id: 120, name: this.$tc('schedules.marginAfter', 2)
              }, {
                  id: 180, name: this.$tc('schedules.marginAfter', 3)
              }, {
                  id: 240, name: this.$tc('schedules.marginAfter', 4)
              }, {
                  id: 300, name: this.$tc('schedules.marginAfter', 5)
              }, {
                  id: 600, name: this.$tc('schedules.marginAfter', 10)
              }, {
                  id: 900, name: this.$tc('schedules.marginAfter', 15)
              }, {
                  id: 1800, name: this.$tc('schedules.marginAfter', 30)
              }],
              priorities: [{
                  id: -1, name: this.$t('schedules.schedulePriorityLow')
              }, {
                  id: 0, name: this.$t('schedules.schedulePriorityNormal')
              }, {
                  id: 1, name: this.$t('schedules.schedulePriorityHigh')
              }],
              recordingsToKeep: [{
                  id: 0,
                  name: 'all'
              }, {
                  id: 1,
                  name: '1 recording'
              }, {
                  id: 2,
                  name: '2 recordings'
              }, {
                  id: 3,
                  name: '3 recordings'
              }, {
                  id: 4,
                  name: '4 recordings'
              }, {
                  id: 5,
                  name: '5 recordings'
              }, {
                  id: 6,
                  name: '6 recordings'
              }, {
                  id: 7,
                  name: '7 recordings'
              }, {
                  id: 10,
                  name: '10 recordings'
              }],
              weekDays: [{
                  id: 2, name: this.$t('schedules.weekMon'),
              }, {
                  id: 3, name: this.$t("schedules.weekTue"),
              }, {
                  id: 4, name: this.$t("schedules.weekWed"),
              }, {
                  id: 5, name: this.$t("schedules.weekThu"),
              }, {
                  id: 6, name: this.$t("schedules.weekFri"),
              }, {
                  id: 7, name: this.$t("schedules.weekSat"),
              }, {
                  id: 1, name: this.$t("schedules.weekSun"),
              }],

              beforeEnabled: false,
              afterEnabled: false,
              lastStartBefore: 0,
              lastStartAfter: 0,
          }
      },

      watch: {
          beforeEnabled (newValue) {
              if (!newValue) {
                  this.lastStartBefore = this.value.startBefore
              }
              this.value.startBefore = newValue ? Math.max(this.lastStartBefore, this.value.startBefore) : -1
          },
          afterEnabled (newValue) {
              if (!newValue) {
                  this.lastStartAfter = this.value.startAfter
              }
              this.value.startAfter = newValue ? Math.max(this.lastStartAfter,  this.value.startAfter) : -1
          },
      },

      computed: {
          startBefore_: {
              get () {
                  return this.value.startBefore < 0 ? '' : moment('1970-01-01')
                      .startOf('day')
                      .seconds(this.value.startBefore)
                      .format('HH:mm')
              },
              set (newValue) {
                  this.value.startBefore = this.beforeEnabled ? moment.duration(newValue).asSeconds() : -1
              }
          },
          startAfter_: {
              get () {
                  return this.value.startAfter < 0 ? '' : moment('1970-01-01')
                      .startOf('day')
                      .seconds(this.value.startAfter)
                      .format('HH:mm')
              },
              set (newValue) {
                  this.value.startAfter = this.afterEnabled ? moment.duration(newValue).asSeconds() : -1
              }
          },
      },

      methods: {
          async opened () {
              this.sendtoTargets = await Connect.SendTo.getTargets()
              this.originalValue = {...this.value}
              this.beforeEnabled = this.value.startBefore > -1
              this.afterEnabled = this.value.startAfter > -1
          },

          cancel () {
              Object.keys(this.originalValue).forEach(key => {
                  this.$set(this.value, key, this.originalValue[key])
              })
              this.$modal.hide('edit-schedule-modal')
          },

          save () {
              let params = {
                  schedule: this.value.id,
                  days: [...this.value.days],
                  targets: [...this.value.targets],
                  marginAfter: this.value.marginAfter,
                  marginBefore: this.value.marginBefore,
                  priority: this.value.priority,
                  active: this.value.active,
                  recordingsToKeep: this.value.recordingsToKeep,
                  startAfter: this.value.startAfter,
                  startBefore: this.value.startBefore,
                  recordNewOnly: this.value.recordNewOnly,
              }
              this.$emit('save', params)
          },

          isRepeatSchedule (schedule) {
              return schedule.type === 'epg' ? schedule.repeat :
                     schedule.type === 'manual' ? schedule.days.length > 0 :
                     schedule.type === 'pattern'
          },
      },
  }
</script>
