<template>
  <modal name="edit-favorite-modal"
         :classes="['v--modal', 'edit-favorite-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
  >
    <h4>{{ startName.length ? $t('favorites.editFavoriteFolder') : $t('favorites.addFavoriteFolder') }}</h4>

    <form @submit="save">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-6 control-label" for="favorite-name">{{ $t('favorites.name') }}</label>
          <div class="col-sm-6">
            <input type="text" v-focus v-model="name" id="favorite-name" class="form-control" />
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="button" @click="cancel()" class="btn btn-link">{{ $t('common.cancel') }}</button>
        <button :disabled="!saveEnabled" type="submit" class="pull-right btn btn-default">{{ $t('common.save') }}</button>
      </div>
    </form>

  </modal>
</template>

<script>
  export default {
      name: 'EditfavoriteModal',
      data () {
          return {
              resolve: null,
              name: '',
              startName: '',
          }
      },
      methods: {
          cancel () {
              this.$emit('cancel')
              this.$modal.hide('edit-favorite-modal')
          },
          save (event) {
              event.preventDefault();
              if (!this.saveEnabled) {
                  return false
              }
              this.resolve(this.name)
              this.$modal.hide('edit-favorite-modal')
          },
          getName (currentName) {
              this.name = currentName
              this.startName = currentName
              setTimeout(() => {
                  this.$modal.show('edit-favorite-modal')
              })
              return new Promise((resolve) => {
                  this.resolve = resolve
              })
          }

      },
      computed: {
          saveEnabled () {
              return this.name && this.name.length > 0
          },
      },
      directives: {
          focus: {
              inserted: (el) => { el.focus(); el.select() }
          },
      },
  }
</script>

<style>
  .v--modal.edit-favorite-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }
  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }
</style>
