<template>
  <div class="dbl-free-space navbar-text navbar-right"
       v-if="space.total"
       :title="space.human"
  >
    <div class="dbl-label">{{ space.human }}</div>
    <div class="progress">
      <div class="progress-bar" :class="{'progress-bar-danger': space.usedPercent > 90}" role="progressbar"
           :aria-valuenow="space.usedPercent" aria-valuemin="0" aria-valuemax="100"
           :style="{width: space.usedPercent + '%' }"
      >{{ space.human }}</div>
    </div>
    <span class="sr-only dbl-label">{{ space.human }}</span>
  </div>
</template>

<script>
  import Connect from '@/api/connect'

  function humanFileSize (size) {
      if (size < 1) {
          return '0';
      }
      var i = Math.floor( Math.log(size) / Math.log(1024) );
      return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'][i];
  }

  export default {
      name: 'FreeSpaceIndicator',
      data () {
          return {
              space: {
                  total: 0,
                  free: 0,
                  usedPercent: 0,
                  human: '',
              },
          }
      },
      created () {
          this.fetchFreeSpace()
      },
      methods: {
          async fetchFreeSpace () {
              const space = await Connect.Schedules.getFreeSpace()
              const used = space.total - space.free
              const usedPercent = 100 / (space.total / used)
              this.space = {
                  total: space.total,
                  free: space.free,
                  usedPercent,
                  human: this.$tc('schedules.freeSpaceDescription', space.free, {
                      free: humanFileSize(space.free),
                      total: humanFileSize(space.total),
                  }),
              }

          },
      },
  }
</script>
