<template>
  <modal name="goto-modal"
         :classes="['v--modal', 'goto-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
         @opened="opened"
  >
    <div class="modal-content">
      <div class="modal-body">

        <VueCtkDateTimePicker
            :inline="true" :no-header="true" :no-button="true"
            :dark="true" :minute-interval="5"
            :format="dateFormat"
            :max-date="maxDate" :min-date="minDate"
            :locale="locale"
            v-model="dateTime"
        />

      </div>
      <div class="modal-footer">
        <button type="button" :title="$t('connect.hide')" class="visible-xs-inline btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <button @click="goto" type="button" :title="$t('common.ok')" class="go-button btn btn-default dbl-btn-xxl">
          <span class="icon icon-ok" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </modal>
</template>

<script>

  import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
  import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'

  import Settings from '@/api/settings'

  // let App = window.App || (window.App = {});
  // let Connect = App.Connect || (App.Connect = {});

  export default {
      name: 'GotoModal',
      components: {
          VueCtkDateTimePicker,
      },
      props: [
      ],
      data () {
          return {
              loading: false,
              dateTime: null,
              maxDate: '',
              minDate: '',
              dateFormat: 'YYYY-MM-DD HH:mm',
              locale: '',
          }
      },
      created () {
          this.locale = Settings.General.language()
      },
      methods: {
          opened () {
              // const format = Connect.DateFormatters.date + ' ' + Connect.DateFormatters.time
              this.now = moment().subtract({minutes: 5})
              this.minDate = this.now.format(this.dateFormat)
              this.maxDate = moment(this.now).add({days: 14}).format(this.dateFormat)
              this.dateTime = this.now.format(this.dateFormat)
          },
          hide () {
              this.$modal.hide('goto-modal')
          },
          goto () {
              this.$emit('goto', moment(this.dateTime, this.dateFormat))
              this.hide()
          },
      },
  }
</script>

<style scoped lang="scss">
  .v--modal {
      .modal-body {
          padding: 0;
      }
  }
</style>

<style lang="scss">
  .goto-modal {

      .datetimepicker.is-dark .datepicker,
      .datetimepicker.is-dark .pickers-container {
          background: #282828 !important;
      }

      .datepicker-buttons-container,
      .time-picker.with-border {
          border: none !important;
      }
  }


</style>
