<template>
  <div class="dbl-header-block">
    <div class="dbl-logo-line"></div>
    <header class="dbl-header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button @click.stop.prevent="$emit('hamburgerClick')" class="navbar-left btn btn-link navbar-btn navbar-toggle dbl-hamburger">
              <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <span class="navbar-brand">
              <img alt="TVMosaic" src="@/assets/images/logo_tv_mosaic.png">
            </span>

          </div>
          <div id="top-navbar-collapse">
            <slot />
            <div class="nav navbar-nav dbl-server-selector">
              <div class="tvmserver-selector"></div>
            </div>
          </div>


        </div>
      </nav>
    </header>

  </div>
</template>

<script>
  export default {
      name: 'MainHeader'
  }
</script>
