<template>
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <nav class="menu" role="navigation">
    <ul class="nav nav-justified">
      <li id="tab-products">
        <router-link to="/products">{{ $t("menu.products") }}</router-link>
      </li>
      <li id="tab-channels">
        <router-link to="/channels">{{ $t("menu.channels") }}</router-link>
      </li>
      <li id="tab-epg">
        <router-link to="/epg">{{ $t("menu.epg") }}</router-link>
      </li>
      <li id="tab-settings">
        <router-link to="/settings">{{ $t("menu.settings") }}</router-link>
      </li>
      <li id="tab-about">
        <router-link to="/about">{{ $t("menu.about") }}</router-link>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
    export default {
        name: 'MainMenu',
        mounted: function () {
            const $ = require('jquery');
            $('.button_menu').click(function(){
                $('.block_menu').addClass('open');
            });
            $('.button_menu_close').click(function(){
                $('.block_menu').removeClass('open');
            });
        }
    }
</script>

<style>

  .menu_tabs.nav li {
      text-align: center;
  }

  .menu_tabs.nav > li > a {
      display: inline-block;
      padding: 0 10px 10px !important;
      max-width: 250px;
      overflow: hidden;
  }

  .menu_tabs a {
      border-bottom: 2px solid transparent;
  }

  .menu_tabs .router-link-active,
  .menu_tabs a:hover {
      border-bottom: 2px solid #0072c6;
  }

  .menu_tabs .router-link-active {
      pointer-events: none;
  }

</style>
