<template>
  <modal name="mapping-modal"
         :classes="['v--modal', 'mapping-modal']"
         :width="600"
         :pivot-y="0"
         height="auto"
         :clickToClose="false"
  >
    <h4>{{ $t('common.mappingIsInProgress') }}</h4>

    <div class="progress">
      <div class="progress-bar" role="progressbar" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" :style="{width: progress+'%'}"></div>
      <span class="progress-bar_pc">{{ progress }}%</span>
    </div>

    <p>
      {{ $t('common.epgProcessingChannel') }}
      <strong>{{ channel && channel.name || '' }}</strong>
    </p>

    <transition name="fade">
      <div v-if="channels.length > 0" class="item-container">
        <div class="block_epg_title clearfix">
          <slot name="labels"></slot>
        </div>

        <div class="block_epg">
          <div class="scrollbar-inner">
            <table id="auto_channels_list" class="table_epg loading">
              <tr v-for="channel in channels" :key="channel.id"
                  :class="{active: selectedItem === channel}"
                  @click="selectedItem = channel"
                  @dblclick="selectedItem = channel; choice()"
              >
                <slot name="item" :channel="channel" ></slot>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </transition>

    <div class="buttons">
      <button @click="stop()" class="btn btn-link">{{ $t('common.stop') }}</button>
      <span class="pull-right" v-if="channels.length > 0">
        <button @click="skip()" class="btn btn-link">{{ $t('common.skip') }}</button>
        <button @click="choice()" :disabled="!selectedItem" class="btn btn-default">{{ $t('common.ok') }}</button>
      </span>
    </div>
  </modal>
</template>

<script>
  export default {
      name: 'MappingModal',
      props: [
          'channels',
          'progress',
          'channel',
      ],
      data: () => ({
          selectedItem: null,
      }),
      watch: {
          channels (newValue) {
              this.selectedItem = newValue[0]
          }
      },
      methods: {
          stop () {
              this.$emit('cancel')
              this.$modal.hide('mapping-modal')
          },
          skip () {
              this.resolve()
          },
          choice () {
              this.resolve(this.selectedItem)
          },
          choiceChannel () {
              return new Promise((resolve) => {
                  this.resolve = resolve
              })
          },
      }
  }
</script>

<style>
  .v--modal.mapping-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
      top: 80px !important;
      transition: all 0.5s ease;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }

  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }

  .v--modal .buttons .btn + .btn {
      margin-left: 10px;
  }

  .v--modal.mapping-modal .progress{
      margin: 0 0 12px 0;
      border-radius: 10px;
      background: #5a5a5a;
      overflow: visible;
      position: relative;
  }
  .v--modal.mapping-modal .progress-bar{
      border-radius: 10px;
      background-color: #1488dd;
      background-image: -moz-linear-gradient(top, #1488dd 0%, #0173c7 100%);
      background-image: -webkit-linear-gradient(top, #1488dd 0%, #0173c7 100%);
      background-image: linear-gradient(to bottom, #1488dd 0%, #0173c7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1488dd', endColorstr='#0173c7', GradientType=0);
      box-shadow: 0 0 13px rgba(0,168,255,.46);
  }
  .v--modal.mapping-modal .progress-bar_pc{
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-50%);
  }

  .v--modal.mapping-modal .item-container {
      max-height: 900px;
      overflow: hidden;
  }

  .v--modal.mapping-modal .fade-enter-active, .v--modal.mapping-modal .fade-leave-active {
      transition: max-height .5s;
  }
  .v--modal.mapping-modal .fade-enter, .v--modal.mapping-modal .fade-leave-to {
      max-height: 0;
  }

  .v--modal.mapping-modal .table_epg td {
      cursor: pointer;
  }
</style>
