<template>
  <li class="dropdown multilevel">
    <button :title="title"
            class="btn btn-link navbar-btn dropdown-toggle"
            data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="true">
      <span class="icon" :class="icon" aria-hidden="true"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <slot />
    </ul>
  </li>
</template>

<script>
  export default {
      name: 'NavBarMultilevel',
      props: [
          'title',
          'icon',
      ],
  }
</script>
