<template>
  <div class="params-container">
    <h4>{{ value.title || value.name || '' }}</h4>
    <p>{{ value.description }}</p>
    <div class="form-horizontal">
      <div class="form-group" v-for="(item, index) in value.selectable" :key="item.id">
        <label class="col-sm-6 control-label" :for="'selectable-'+item.id">{{ item.name }}</label>
        <div class="col-sm-6">
          <select :id="'selectable-'+item.id" v-on:input="changeSelectable(index, $event.target.value)" v-bind:value="item.values[item.selected_idx].value" class="form-control">
            <option v-for="value in item.values" :key="value.value" :value="value.value">{{ value.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group" v-for="(item, index) in value.editable" :key="item.id">
        <label class="col-sm-6 control-label" :for="'editable-'+item.id">{{ item.name }}</label>
        <div class="col-sm-6">
          <input :type="(item.format == 'epf_number' ? 'number' : 'text')" :id="'editable-'+item.id" v-on:input="changeEditable(index, $event.target.value)" v-bind:value="item.value" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
      name: 'ParamsContainer',
      props: [
          'value'
      ],
      methods: {
          changeEditable: function (index, value) {
              this.$set(this.value.editable, index, {
                  ...this.value.editable[index],
                  value
              })
          },
          changeSelectable: function (index, value) {
              this.$set(this.value.selectable, index, {
                  ...this.value.selectable[index],
                  selected_idx: this.value.selectable[index].values.findIndex(x => x.value === value),
              })
          }
      }
  }
</script>

<style>
  .params-container select {
      border: 1px solid #5a5a5a;
      background-color: #1d1d1d;
      color: #fff;
      font-size: 13px;
      padding: 4px 10px;
      height: auto;
  }
  .params-container .form-horizontal {
      padding-top: 10px;
  }
  .params-container .form-horizontal .form-group {
      margin: 5px 0 !important;
  }
</style>
