<template>
  <modal name="params-container-modal"
         :classes="['v--modal', 'params-container-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
         :clickToClose="false"
  >
    <params-container v-model="value" />
    <div class="buttons">
      <button @click="cancel()" class="btn btn-link">{{ value.isSecond && this.$t('common.back') || this.$t('common.cancel') }}</button>
      <button @click="choice()" class="pull-right btn btn-default">{{ value.isNotLast && this.$t('common.next') || this.$t('common.save') }}</button>
    </div>
  </modal>
</template>

<script>
  import ParamsContainer from '@/components/ParamsContainer.vue'

  export default {
      name: 'ParamsContainerModal',
      components: {
          ParamsContainer,
      },
      props: [
          'value'
      ],
      methods: {
          changeEditable: function (index, value) {
              this.$set(this.value.editable, index, {
                  ...this.value.editable[index],
                  value
              })
          },
          changeSelectable: function (index, value) {
              this.$set(this.value.selectable, index, {
                  ...this.value.selectable[index],
                  selected_idx: this.value.selectable[index].values.findIndex(x => x.value === value),
              })
          },
          cancel () {
              if (this.resolve) {
                  this.resolve()
                  this.resolve = null
                  return
              }

              this.$emit('cancel')
              this.$modal.hide('params-container-modal')
          },
          choice () {
              if (this.resolve) {
                  this.resolve(this.value)
                  this.resolve = null
                  return
              }
              this.$emit('save')
          },

          getParams () {
              setTimeout(() => this.$modal.show('params-container-modal'))

              return new Promise((resolve) => {
                  this.resolve = resolve
              })
          }
      }
  }
</script>

<style>
  .v--modal.params-container-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }

  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }
</style>
