<template>
  <div class="dbl-player-vj" @mousemove="mousemove">
    <program-details v-if="showedMetaInfo" class="dbl-program-info" :program="program" />
    <video-js ref="videoPlayer" class="video-js"></video-js>
  </div>
</template>

<script>
  import Vue from 'vue'
  Vue.config.ignoredElements = ['video-js']

  import _ from 'underscore'

  import videojs from 'video.js'
  import 'video.js/dist/video-js.css'

  import ProgramDetails from '@/components/ProgramDetails.vue'

  import ConnectAPI from '@/api/connect'

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});

  const META_INFO_DELAY = 3000

  export default {
      name: 'Player',
      props: [
          'url',
          'format',
          'type',
          'program',
      ],

      components: {
          ProgramDetails,
      },

      data () {
          return {
              showedMetaInfo: false,
          }
      },

      created () {
          this.hideMetaTimer = null
          Connect.common.Keyboard.register(this, 'player-vj', 70, {
              stop: () => {
                  this.$emit('close')
              },
          });

          const ACTIONS = {
              'player-vj.stop': 'Escape'
          };
          Connect.common.Keyboard.map(ACTIONS);
      },

      mounted () {
          this.options = {
              autoplay: false,
              preload: 'none',
              controls: true,
              liveui: false,
              bigPlayButton: false,
              controlBar: {
                  fullscreenToggle: true,
                  playToggle: false,
                  progressControl: false,
                  remainingTimeDisplay: false,
                  volumePanel: {
                      inline: false,
                  },
              },
          }

          if (this.format === 'hls') {
              this.options.controlBar.remainingTimeDisplay = false
          }
          this.options.controlBar.progressControl = this.type != 'live'

          this.player = videojs(
              this.$refs.videoPlayer,
              this.options,
              () => {
                  this.player.src({
                      type: this.format === 'mp4' ? 'video/mp4' : 'application/x-mpegURL',
                      src: this.url,
                  })
                  this.player.volume(ConnectAPI.Settings.Player.getVolume())
              }
          )

          if (this.type === 'live') {
              this.player.addClass('live')
          }

          const self = this

          var Button = videojs.getComponent('Button');
          videojs.registerComponent('CloseButton', videojs.extend(Button, {
              constructor: function () {
                  Button.apply(this, arguments);
              },
              handleClick: function () {
                  self.$emit('close')
              },
              buildCSSClass: function () {
                  return 'vjs-control vjs-close1-button';
              },
              createControlTextEl: function (button) {
                  return $(button).html(
                      $('<span class="glyphicon glyphicon-remove"></span>')
                          .attr('title', 'Hide')
                  );
              }
          }));

          this.player.getChild('controlBar').addChild('closeButton', {});
          this.player.on('pause', () => {
              if (this.type === 'live') {
                  this.player.play()
              }
          })

          this.player.on('volumechange', _.debounce(() => {
              ConnectAPI.Settings.Player.setVolume(this.player.volume())
          }, 300))

          this.player.ready(() => {
              this.player.play()
              this.showMetaInfo()
          })

          Connect.common.Keyboard.focus(this);
      },
      beforeDestroy () {
          Connect.common.Keyboard.blur(this);
          if (this.player) {
              this.player.dispose()
          }
      },

      methods: {
          mousemove () {
              this.showMetaInfo()
          },

          showMetaInfo () {
              this.showedMetaInfo = true
              if (this.hideMetaTimer) {
                  clearTimeout(this.hideMetaTimer)
                  this.hideMetaTimer = null
              }
              this.hideMetaTimer = setTimeout(() => this.showedMetaInfo = false, META_INFO_DELAY)
          },
      },
  }
</script>

<style lang="scss">
  .dbl-player-vj {
      position: absolute;
      z-index: 1040;
      background: #000;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;

      .video-js {
          width: 100%;
          height: 100%;

          .vjs-control-bar {
              background-color: #000;
          }

          &.live .vjs-custom-control-spacer {
              display: block;
              flex: auto;
          }

          .vjs-control.vjs-close1-button {
              order: -1;
          }
      }

      .dbl-program-info {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          right: 0;
          background-color: #0007;
          padding: 20px;

          .dbl-program-genres {
              left: -12px;
          }
      }

      .dbl-program-image, .dbl-description {
          display: none;
      }
  }
</style>
