<template>
  <span>
    <section class="dbl-program-main">
      <program :program="program" :selected="selected" :selectable="selectable" @select="selectProgram" />
      <div v-if="program.categories" class="dbl-categories">{{ program.categories | join }}</div>
      <div v-if="program.actors" class="dbl-employee dbl-actors"><span class="dbl-label">{{ $t('connect.actorsHeader') }}</span> {{ program.actors | join }}</div>
      <div v-if="program.directors" class="dbl-employee dbl-directors"><span class="dbl-label">{{ $t('connect.directorsHeader') }}</span> {{ program.directors | join }}</div>
      <div v-if="program.writers" class="dbl-employee dbl-writers"><span class="dbl-label">{{ $t('connect.writersHeader') }}</span> {{ program.writers | join }}</div>
      <div v-if="program.producers" class="dbl-employee dbl-producers"><span class="dbl-label">{{ $t('connect.producersHeader') }}</span> {{ program.producers | join }}</div>
      <div v-if="program.guests" class="dbl-employee dbl-guests"><span class="dbl-label">{{ $t('connect.guestsHeader') }}</span> {{ program.guests | join }}</div>

      <div v-if="program.year" class="dbl-year"><span class="dbl-label">{{ $t('connect.year') }}</span> {{ program.year }}</div>

      <div v-if="program.rating && program.rating_max" class="dbl-rating" :title="ratingText">
        <span v-for="(star, i) in program.rating_max" :key="program.id + '-rate-' + i" class="icon icon-adviser" :class="{'dbl-active': i < program.rating}"></span>
        <span class="sr-only">{{ ratingText }}</span>
      </div>

      <div v-if="program.is_record_conflict" class="dbl-conflict label label-danger">{{ $t('connect.conflictRecords') }}</div>
    </section>
    <section v-if="program.description || program.image" class="dbl-program-description">
      <img v-if="program.image" :src="program.image" class="dbl-program-image" :alt="program.name" onerror="this.style.display='none';" />
      <span class="dbl-description" v-html="formattedDescription"></span>
      <span v-if="loading" class="dbl-waiter" />
    </section>
  </span>
</template>

<script>

  import Program from '@/components/Program.vue'

  import '@/assets/connect/styles/parts/program-dlg.css'

  export default {
      name: 'ProgramDetails',
      props: ['program', 'loading', 'selected', 'selectable'],
      components: {
          Program,
      },

      computed: {
          formattedDescription () {
              return _.escape(this.program.description).replace(/\n/g, '<br/>')
          },
          ratingText () {
              return this.program.rating + '/' + this.program.rating_max
          },
      },

      methods: {
          selectProgram (program, isSelect) {
              this.$emit('select', program, isSelect)
          }
      },

      filters: {
          join (value) {
              return value.join ? value.join(', ') : ''
          },
      },
  }
</script>
