<template>
  <div>
    <div v-if="program.hdtv || program.repeat || program.premiere || program.is_conflicting || program.is_record_conflict || program.is_record"
         class="dbl-badges">
      <a v-if="program.is_conflicting || program.is_record_conflict" :title="$t('connect.conflictRecords')"><span class="dbl-state dbl-conflict"></span></a>
      <span v-if="program.hdtv" class="dbl-badge dbl-badge-hdtv"></span>
      <span v-if="program.repeat" class="dbl-badge dbl-badge-repeat"></span>
      <span v-if="program.premiere" class="dbl-badge dbl-badge-premiere"></span>
      <span v-if="program.is_record" class="dbl-badge dbl-badge-rec"></span>
    </div>

    <h2 class="dbl-name">{{ program.name }}</h2>
    <div class="dbl-name-extend dbl-item-delimiters">
      <h3 v-if="program.sub_name" class="dbl-subname dbl-item-delimiter">{{ program.sub_name }}</h3>
      <span v-if="program.season || program.episode" class="dbl-episodes dbl-item-delimiter">
        <span v-if="program.season">{{ $t('connect.season', {value: program.season}) }}</span>
        <span v-if="program.season && program.episode">, </span>
        <span v-if="program.episode">{{ $t('connect.episode', {value: program.episode}) }}</span>
      </span>
    </div>
    <div class="dbl-info dbl-item-delimiters">
      <span v-if="program.channel_name" class="dbl-channel-name dbl-item-delimiter">{{ program.channel_name }}</span>
      <span v-if="program.start" class="dbl-date dbl-item-delimiter">
        {{ date }}
      </span>
      <span v-if="program.start" class="dbl-time dbl-item-delimiter">
        {{ program.start | formatTime }} - {{ end | formatTime }}
      </span>
      <span v-if="program.duration && !isUnknown" class="dbl-duration dbl-item-delimiter">
        {{ $tc('connect.duration', Math.floor(program.duration / 60)) }}
      </span>
      <span v-if="program.size" class="dbl-size dbl-item-delimiter">
        {{ $t('connect.size', { value: humanSize(program.size) }) }}
      </span>
      <slot />
    </div>
    <div class="clearfix"></div>
    <input @click.stop @change="select(program, $event)" v-if="selectable" class="dbl-selector" type="checkbox" :checked="selected" />
    <div v-if="program.genres && program.genres.length" class="dbl-program-genres" :class="genres"></div>
  </div>
</template>

<script>

  import '@/assets/connect/styles/parts/program-list.css'

  import moment from 'moment'

  function humanFileSize (size) {
      var i = size < 1 ? 0 : Math.floor( Math.log(size) / Math.log(1024) )
      return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i]
  }

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});

  export default {
      name: 'Program',
      props: ['program', 'selectable', 'selected'],

      computed: {
          genres () {
              return this.program.genres.map(genre => 'dbl-genre-' + genre.toLocaleLowerCase())
          },
          date () {
              return this.isToday(this.program.start) ?
                     this.$i18n.t('connect.today') : this.program.start.format(Connect.DateFormatters.date)
          },
          end () {
              return moment(this.program.start).add({
                  seconds: this.program.duration
              })
          },
          isUnknown () {
              return this.program.isUnknown
          },
      },


      methods: {
          humanSize (size) {
              return humanFileSize(size)
          },

          isToday (date) {
              return moment().startOf('day').isSame(
                  moment(date).startOf('day')
              )
          },

          select (program, event) {
              this.$emit('select', program, event.target.checked)
          },
      },

  }
</script>
