<template>
  <modal name="program-details-modal"
         :classes="['v--modal', 'program-details-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         :scrollable="true"
         height="auto"
  >
    <div class="modal-content dbl-program-dlg" :class="{'dbl-unknown': program.isUnknown}">
      <div class="dbl-program-details modal-body">
        <program-details :program="program"
                         @select="selectProgram" :selectable="selectable" :selected="selected"
        />
      </div>
      <div class="modal-footer">
        <button @click="hide" type="button" :title="$t('connect.hide')" class="btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-cancel" aria-hidden="true"></span>
        </button>
        <slot :program="program" :isNow="isNow" />
      </div>
    </div>
  </modal>
</template>

<script>
  import ProgramDetails from '@/components/ProgramDetails.vue'

  import '@/assets/connect/styles/parts/program-dlg.css'

  import moment from 'moment'

  export default {
      name: 'ProgramDetailsModal',
      props: ['program', 'loading', 'selected', 'selectable'],
      components: {
          ProgramDetails,
      },

      computed: {
          isNow () {
              return moment().isBetween(this.program.start, this.program.end);
          },
      },

      methods: {
          selectProgram (program, isSelect) {
              this.$emit('select', program, isSelect)
          },

          hide () {
              this.$modal.hide('program-details-modal')
          }
      },
  }
</script>

<style>
  .program-details-modal .dbl-program-description {
      position: relative;
  }

  .program-details-modal .dbl-program-description .dbl-waiter:after {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      border-width: 5px;
  }

  .dbl-connect .v--modal-overlay[data-modal="program-details-modal"] {
      z-index: 998;
  }


  .dbl-play-holder {
      position: relative;
      margin-right: 5px;
  }

  .dbl-play-holder .tooltip {
      opacity: 1;
      top: -18px;
      right: 60px;
      width: 200px;
  }

  .dbl-play-holder .tooltip-inner {
      background-color: #2d0000;
  }
  .dbl-play-holder .tooltip.left .tooltip-arrow {
      border-left-color: #2d0000;
  }
</style>
