<template>
  <modal name="scan-params-modal"
         :classes="['v--modal', 'scan-params-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
         @opened="opened"
         :clickToClose="false"
  >

    <h4>{{ value.name }}</h4>
    <p>{{ value.description }}</p>

    <div class="selections">
      <div ref="scroller" class="scrollbar-inner">
        <ul class="list">
          <li v-for="item in value.list || []" :key="item.id"
              class="item" :class="{active: item === selectedItem}"
              @click="selectedItem = item">
            <div class="name">{{ item.name }}</div>
            <span class="description">{{ item.description }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="buttons">
      <button @click="cancel()" class="btn btn-link">{{ value.isFirst && this.$t('common.cancel') || this.$t('common.back') }}</button>
      <button :disabled="!selectedItem" @click="choice()" class="pull-right btn btn-default">{{ $t('common.next') }}</button>
    </div>
  </modal>
</template>

<script>
  export default {
      name: 'ScanParamsModal',
      components: {
      },
      props: [
          'value'
      ],
      data () {
          return {
              selectedItem: null,
              // shift: 'shift-left',
          }
      },
      watch: {
          ['value.list'](newValue) {
              this.selectedItem = newValue && newValue.length > 0 ? newValue[0] : null
          }
      },
      methods: {
          opened () {
              $(this.$refs.scroller).scrollbar()
          },
          cancel () {
              this.resolve()
          },
          choice () {
              this.resolve(this.selectedItem)
          },

          getParams () {
              setTimeout(() => {
                  this.$modal.show('scan-params-modal')
              })
              return new Promise((resolve) => {
                  this.resolve = resolve
              })
          }
      }
  }
</script>

<style>
  .v--modal.scan-params-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }

  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }

  .selections {
      margin: 9px 0 4px 0;
      padding: 2px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
  }
  .selections > .scrollbar-inner {
      height: 212px;
  }

  .list {
      margin: 0;
      padding: 0;
      list-style: none;

  }
  .list li {
      margin: 0 0 2px 0;
      padding: 8px 12px 7px 12px;
      background: #5f5f5f;
      cursor: pointer;
  }
  .list li.active {
      background: #314655;
  }
  .selections .name {
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;
  }
</style>
