<template>
  <modal name="scan-modal"
         :classes="['v--modal', 'scan-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
         :clickToClose="false"
         @before-open="beforeOpen"
  >
    <h4>{{ $t('scan.tunerScanTitle') }}</h4>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" :class="{'active': value.progress < 100}" role="progressbar" :aria-valuenow="value.progress" aria-valuemin="0" aria-valuemax="100" :style="{width: (value.progress || 100)+'%'}"></div>
      <span v-if="value.progress > 0" class="progress-bar_pc">{{ value.progress }}%</span>
    </div>

    <p v-if="value.progress > 0">
      {{ $t('scan.tunerScanChannelsFound') }}
      <strong>{{ value.channels_found || '0' }}</strong>
    </p>

    <div v-if="value.progress > 0" class="block_scan_new_scroll">
      <div ref="scroller" class="scrollbar-inner">


        <div v-for="transponder in value.transponders" :key="transponder.id"
             class="block_scan_new_scroll_inn">
          <div :title="transponder.id" class="title">
            {{ transponder.id }}
            <span v-if="transponder.lock" class="fl_right locked">{{ $t('scan.tunerScanLocked') }}</span>
          </div>
          <table>
            <tr>
              <td>{{ $t('scan.tunerScanStrength') }}</td>
              <td>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" :aria-valuenow="transponder.strength" aria-valuemin="0" aria-valuemax="100" :style="{width: transponder.strength+'%'}"></div>
                  <span class="progress-bar_pc">{{ transponder.strength }}%</span>
                </div>

              </td>
              <td>{{ $t('scan.tunerScanQuality') }}</td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" :aria-valuenow="transponder.quality" aria-valuemin="0" aria-valuemax="100" :style="{width: transponder.quality+'%'}"></div>
                  <span class="progress-bar_pc">{{ transponder.quality }}%</span>
                </div>
              </td>
            </tr>
          </table>
          <div :title="transponder.comment" class="description">{{ transponder.comment }}</div>
        </div>


      </div>
    </div>

    <div class="buttons">
      <button @click="stop()" class="btn btn-link">{{ $t('common.cancel') }}</button>
      <span class="pull-right">
        <button v-if="value.isFinished" @click="save()" class="btn btn-default">{{ $t('common.save') }}</button>
      </span>
    </div>
  </modal>
</template>

<script>

  import 'jquery.scrollbar'

  export default {
      name: 'ScanModal',
      props: [
          'value',
      ],
      data () {
          return {
              scrollerInit: false,
          }
      },
      methods: {
          stop () {
              this.$emit('cancel')
          },
          save () {
              this.$emit('save')
          },
          beforeOpen () {
              this.scrollerInit = false
          },
      },
      watch: {
          ['value.transponders']() {
              const scroller = this.$refs.scroller
              if (!scroller) {
                  return
              }
              if (!this.scrollerInit) {
                  $(scroller).scrollbar()
                  this.scrollerInit = true
              }
              scroller.scrollTop = scroller.scrollHeight
          },
      },
  }
</script>

<style>
  .v--modal.scan-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
      top: 80px !important;
      transition: all 0.5s ease;
  }

  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }

  .v--modal .buttons .btn + .btn {
      margin-left: 10px;
  }

  .v--modal.scan-modal .progress{
      margin: 0 0 12px 0;
      border-radius: 10px;
      background-color: #5a5a5a;
      overflow: visible;
      position: relative;
  }
  .v--modal.scan-modal .block_scan_new_scroll_inn .progress{
      background-color: #3c3c3c;
  }
  .v--modal.scan-modal .progress-bar{
      border-radius: 10px;
  }
  .v--modal.scan-modal .progress-bar_pc{
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      transform: translateY(-50%);
  }

</style>
