<template>
  <span v-if="schedule.type === 'epg'">
    {{ $t('schedules.scheduleEpg') }},
    {{ formatActive(schedule.active) }},
    {{ $t('schedules.schedulePriority') }} {{ priority(schedule.priority) }},
    <span v-if="schedule.repeat">
      {{ $t('schedules.scheduleRecordSeries') }}
    </span>
    <span v-else>
      {{ $t('schedules.scheduleSingleRecording') }}
    </span>

    {{ $t('schedules.scheduleStarts') }} {{ marginBefore(schedule.marginBefore) }},
    {{ $t('schedules.scheduleEnds') }} {{ marginAfter(schedule.marginAfter) }}

    <span v-if="schedule.repeat">
      , {{ $t('schedules.scheduleNewOnly') }} {{ formatBool(schedule.recordNewOnly) }},
      {{ $t('schedules.scheduleWeekdays') }} {{ formatDays(schedule.days) }},
      {{ $t('schedules.scheduleStartsAfter') }} {{ formatStarts(schedule.startAfter) }},
      {{ $t('schedules.scheduleStartsBefore') }} {{ formatStarts(schedule.startBefore) }},
      {{ $t('schedules.keepRecording', { value: formatRecsToKeep(schedule.recordingsToKeep) }) }}
    </span>

    <span v-if="schedule.targets.length">
      , {{ $t('schedules.sendtoTargets') }} {{ sendtoTargets(schedule.targets) }}
    </span>
  </span>

  <span v-else-if="schedule.type === 'manual'">
    {{ $t('schedules.scheduleManual') }},
    {{ formatActive(schedule.active) }},
    {{ $t('schedules.schedulePriority') }} {{ priority(schedule.priority) }},

    {{ date(schedule.startTime) }} {{ time(schedule.startTime) }} - {{ date(schedule.endTime) }} {{ time(schedule.endTime) }}

    {{ $t('schedules.scheduleStarts') }} {{ marginBefore(schedule.marginBefore) }},
    {{ $t('schedules.scheduleEnds') }} {{ marginAfter(schedule.marginAfter) }}

    <span v-if="schedule.days.length">
      , {{ $t('schedules.scheduleRepeatsOn') }} {{ formatDays(schedule.days) }},
      {{ $t('schedules.keepRecording', {value: formatRecsToKeep(schedule.recordingsToKeep)}) }}
    </span>

    <span v-if="schedule.targets.length">
      , {{ $t('schedules.sendtoTargets') }} {{ sendtoTargets(schedule.targets) }}
    </span>
  </span>

  <span v-else-if="schedule.type === 'pattern'">
    {{ $t('schedules.schedulePattern') }},
    {{ formatActive(schedule.active) }},
    {{ $t('schedules.schedulePriority') }} {{ priority(schedule.priority) }},
    {{ $t('schedules.scheduleStarts') }} {{ marginBefore(schedule.marginBefore) }},
    {{ $t('schedules.scheduleEnds') }} {{ marginAfter(schedule.marginAfter) }},
    {{ $t('schedules.scheduleWeekdays') }} {{ formatDays(schedule.days) }},
    {{ $t('schedules.scheduleStartsAfter') }} {{ formatStarts(schedule.startAfter) }},
    {{ $t('schedules.scheduleStartsBefore') }} {{ formatStarts(schedule.startBefore) }},
    {{ $t('schedules.keepRecording', {value: formatRecsToKeep(schedule.recordingsToKeep)}) }}

    <span v-if="schedule.targets.length">
      , {{ $t('schedules.sendtoTargets') }} {{ sendtoTargets(schedule.targets) }}
    </span>
  </span>
</template>

<script>
  import moment from 'moment'

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});


  export default {
      name: 'ScheduleDescription',
      props: [
          'schedule', 'sendto',
      ],
      data () {
          return {
              PRIORITY_LABELS: {
                  '-1': this.$t('schedules.schedulePriorityLow'),
                  0: this.$t('schedules.schedulePriorityNormal'),
                  1: this.$t('schedules.schedulePriorityHigh'),
              },
              MARGIN_BEFORE: {
                  0: this.$tc('schedules.marginBefore', 0),
                  60: this.$tc('schedules.marginBefore', 1),
                  120: this.$tc('schedules.marginBefore', 2),
                  180: this.$tc('schedules.marginBefore', 3),
                  240: this.$tc('schedules.marginBefore', 4),
                  300: this.$tc('schedules.marginBefore', 5),
                  600: this.$tc('schedules.marginBefore', 10),
                  900: this.$tc('schedules.marginBefore', 15),
              },
              MARGIN_AFTER: {
                  0: this.$tc('schedules.marginAfter', 0),
                  60: this.$tc('schedules.marginAfter', 1),
                  120: this.$tc('schedules.marginAfter', 2),
                  180: this.$tc('schedules.marginAfter', 3),
                  240: this.$tc('schedules.marginAfter', 4),
                  300: this.$tc('schedules.marginAfter', 5),
                  600: this.$tc('schedules.marginAfter', 10),
                  900: this.$tc('schedules.marginAfter', 15),
                  1800: this.$tc('schedules.marginAfter', 30),
              },
              WEEK_DAYS: {
                  2: this.$t('schedules.weekMon'),
                  3: this.$t("schedules.weekTue"),
                  4: this.$t("schedules.weekWed"),
                  5: this.$t("schedules.weekThu"),
                  6: this.$t("schedules.weekFri"),
                  7: this.$t("schedules.weekSat"),
                  1: this.$t("schedules.weekSun"),
              },
          }
      },
      methods: {
          formatRecsToKeep (value) {
              return value < 1 ? this.$t('schedules.keepRecordsUnlimited') : value
          },
          formatActive (value) {
              return value ? this.$t('schedules.scheduleActive') : this.$t('schedules.scheduleInactive')
          },
          priority (value) {
              return this.PRIORITY_LABELS[value]
          },
          marginAfter (value) {
              return this.MARGIN_AFTER[value]
          },
          marginBefore (value) {
              return this.MARGIN_BEFORE[value]
          },
          formatBool (value) {
              return value ? this.$t('schedules.yes') : this.$t('schedules.no')
          },
          formatDays (days) {
              if (days.length < 1) {
                  return this.$t('schedules.scheduleAnyDay')
              }
              return days.map(day => this.WEEK_DAYS[day]).join('/')
          },
          formatStarts (value) {
              return value < 0 ? this.$t('schedules.scheduleAnyTime') :
                     moment('2018-01-01').startOf('day').seconds(value).format(Connect.DateFormatters.time);
          },
          date (value) {
              return value.format(App.Connect.defaults.dateFormatters.date)
          },
          time (value) {
              return value.format(App.Connect.defaults.dateFormatters.time)
          },

          sendtoTargets (targets) {
              return targets.map(target => (this.sendto.filter(t => t.id === target)[0] || {name: 'Unknown'}).name).join(', ')
          },
      },
  }
</script>
