<template>
  <modal name="send-to-targets-modal"
         :classes="['v--modal', 'send-to-targets-modal']"
         :pivot-y="0.5"
         :width="300"
         :adaptive="true"
         height="auto"
         @opened="opened"
         :scrollable="true"
  >
    <div class="modal-content">
      <div class="modal-body">

        <button @click="add(target)" v-for="target in targets" :key="target.id" :class="{active: target.active}" class="dbl-target-btn btn btn-default btn-block">{{ target.name }}</button>
        <div v-if="targets.length < 1">{{ $t('sendto.notFoundTargets') }} <router-link to="/settings/sendto">here</router-link></div>

      </div>
    </div>
  </modal>
</template>

<script>
  import Connect from '@/api/connect'

  export default {
      name: 'SendToTargetsModal',
      props: [
          'programs',
      ],
      data () {
          return {
              loading: false,
              targets: [],
          }
      },
      methods: {
          opened () {
              this.fetchData()
          },
          async fetchData () {
              this.loading = true
              this.targets = await Connect.SendTo.getTargets()
              this.loading = false
          },
          hide () {
              this.$modal.hide('send-to-targets-modal')
          },
          async add (target) {
              this.loading = true
              const programs = this.programs.map(program => program.id)
              await Connect.SendTo.addItems(target.id, programs)
              this.loading = false
              this.hide()
              this.$modal.show('dialog', {
                  text: this.$t('sendto.addItemSuccess'),
                  buttons: [{
                      title: this.$t('common.ok'),
                  }],
              })
          },
      },
  }
</script>

<style scoped lang="scss">
  .v--modal {
      background-color: #ffff;
      border-radius: unset;

      .modal-content {
          border-radius: unset;
          border: none;
      }

      .modal-body {
          padding: 0;
      }
  }
</style>
