<template>
  <tbody>
    <tr v-for="control in controls" :key="'sendto_param_' + control.id">

      <td>{{ control.name }}</td>

      <td v-if="control.type === 'checkbox'">
        <input class="niceCheck"
               type="checkbox"
               name="<%- param.id %>"
               :disabled="readonly"
               :checked="control.value"
               @input="changeCheckbox(control.id, $event.target.checked)"
               :id="'sendto_param_' + control.id" />
        <label :for="'sendto_param_' + control.id"></label>
      </td>
      <td v-else-if="control.type === 'select'">
        <select name="<%- param.id %>" class="cfg-workunit-param"
                :class="{ 'has-error': control.required && !control.value}"
                :value="control.value"
                :disabled="readonly"
                @input="changeSelect(control.id, $event.target.value)"
        >
          <option v-for="option in control.options"
                  :key="option.id"
                  :value="option.id">{{ option.name }}</option>
        </select>
      </td>
      <td v-else-if="control.type === 'directory'">
        <directory-picker
            v-model="control.value"
            @input="change(control.id, $event)"
            :disabled="readonly"
            :class="{ 'invalid': control.required && !control.value}"
        />
      </td>
      <td v-else>
        <input autocomplete="off" type="text" maxlength="1024"
               :class="{ 'has-error': control.required && !control.value}"
               :placeholder="control.help"
               :disabled="readonly"
               :value="control.value"
               @input="change(control.id, $event.target.value)"
               :data-required="control.required" />
      </td>
    </tr>
  </tbody>
</template>


<script>
  import DirectoryPicker from '@/components/DirectoryPicker.vue'

  export default {
      name: 'send-to-formatter',
      components: {
          DirectoryPicker,
      },
      props: [
          'value',
          'prefix',
          'controls-params',
          'readonly',
      ],

      computed: {
          controls () {
              if (!this.value[this.prefix + '_params'] || !this.value[this.prefix + '_params'].length) {
                  return []
              }

              let paramsPair = this.value[this.prefix + '_params'].reduce((acc, param) => ({
                  ...acc,
                  [param.id]: param.value
              }), {})
              const params = this.controlsParams[this.value[this.prefix + '_id']].parameters
                            .map(param => ({
                                ...param,
                                value: paramsPair[param.id],
                            }))

              this.emitValidate(params)
              return params
          },

      },

      watch: {
          controls (values) {
              this.emitValidate(values)
          }
      },

      methods: {

          emitValidate (values) {
              this.$emit('validate', values.some(param => param.required && !param.value))
          },

          change (id, value) {
              const index = this.value[this.prefix + '_params'].map(p => p.id).indexOf(id)
              if (index < 0) {
                  return
              }
              this.$set(this.value[this.prefix + '_params'], index, {
                  ...this.value[this.prefix + '_params'][index],
                  value
              })
          },

          changeSelect (id, value) {
              const index = this.value[this.prefix + '_params'].map(p => p.id).indexOf(id)
              if (index < 0) {
                  return
              }
              this.$set(this.value[this.prefix + '_params'], index, {
                  ...this.value[this.prefix + '_params'][index],
                  value
              })
          },

          changeCheckbox (id, value) {
              const index = this.value[this.prefix + '_params'].map(p => p.id).indexOf(id)
              this.$set(this.value[this.prefix + '_params'], index, {
                  ...this.value[this.prefix + '_params'][index],
                  value: value,
              })
          },

      },
  }
</script>

<style lang="scss" scoped>
  .invalid {
      color: #8f2c2c !important;
      border: 1px solid #e35c00 !important;
      border-radius: 3px;
  }
</style>
