<template>
  <modal name="send-to-modal"
         :classes="['v--modal', 'sendto-modal']"
         :pivot-y="0.5"
         :width="1000"
         :adaptive="true"
         :scrollable="true"
         height="auto"
         @opened="opened"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div id="sendto-options">

          <div class="table-responsive">
            <table class="dbl-sendto-items table table-striped">
              <thead>
                <tr>
                  <th><input v-model="selectAll" class="dbl-select" type="checkbox" /></th>
                  <th>{{ $t('sendto.description') }}</th>
                  <th>{{ $t('sendto.targetName') }}</th>
                  <th>{{ $t('sendto.creationDate') }}</th>
                  <th>{{ $t('sendto.status') }}</th>
                  <th>{{ $t('sendto.completionDate') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr @click="toggleSelection(item)" :class="{info: item.selected}" v-for="item in items" :key="item.id" class="dbl-sendto-item">
                  <td><input v-model="item.selected" class="dbl-select" type="checkbox" /></td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.created | formatTime }}</td>
                  <td class="dbl-status">{{ item.status }}</td>
                  <td><span v-if="item.completed">{{ item.completed | formatTime }}</span><span v-else>-</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="navbar navbar-default">
            <div class="container-fluid">
              <div class="btn-group dbl-toggle navbar-btn">
                <button @click="toggleFilter('active')" :class="{active: filter === 'active'}" class="btn btn-xs btn-default">{{ $t('sendto.active') }}</button>
                <button @click="toggleFilter('finished')" :class="{active: filter === 'finished'}" class="btn btn-xs btn-default">{{ $t('sendto.finished') }}</button>
              </div>
              <button @click="fetchData" class="dbl-refresh-items btn btn-sm btn-default navbar-btn"><span class="icon icon-play" aria-hidden="true"></span> {{ $t('sendto.refresh') }}</button>
              <button @click="removeItems(selectedItems)" :disabled="selectedItems.length < 1" class="navbar-btn navbar-right dbl-sendto-delete btn btn-sm btn-default"><span class="icon icon-cancel" aria-hidden="true"></span> {{ $t('sendto.delete') }}</button>
              <button @click="cancelItems(selectedItems)" :disabled="filter != 'active' || selectedItems.length != 1" class="navbar-btn navbar-right dbl-sendto-stop btn btn-sm btn-default"><span class="icon icon-stop" aria-hidden="true"></span> {{ $t('sendto.cancel') }}</button>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button @click="hide" type="button" :title="$t('common.save')" class="btn btn-default dbl-btn-xxl" data-dismiss="modal">
          <span class="icon icon-ok" aria-hidden="true"></span>
        </button>
      </div>
      <span v-if="loading" class="dbl-waiter" />
    </div>
  </modal>
</template>

<script>
  import moment from 'moment'
  import ConnectAPI from '@/api/connect'

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});

  export default {
      name: 'SendToModal',
      data () {
          return {
              loading: false,
              sendtoTargets: [],
              filter: '',
              sendtoItems: [],
              items: [],
          }
      },
      watch: {
          filter () {
              this.fetchData()
          },
      },

      computed: {
          selectAll: {
              get () {
                  return this.items.some(item => item.selected)
              },
              set (newValue) {
                  this.items.forEach(item => this.$set(item, 'selected', newValue))
              }
          },
          selectedItems () {
              return this.items.filter(item => item.selected)
          },
      },

      methods: {
          opened () {
              this.toggleFilter('active')
          },
          async fetchData () {
              this.loading = true
              this.sendtoTargets = await ConnectAPI.SendTo.getTargets()
              const status = (this.filter === 'active' ?
                             ['fetching', 'formatting', 'pending', 'sending'] :
                             ['canceled', 'error', 'success'])
              this.items = (await ConnectAPI.SendTo.getItems())
                  .filter(item => status.includes(item.status))
                  .map(item => ({
                      ...item,
                      name: (
                          this.sendtoTargets.filter(
                              target => target.id === item.target_id
                          )[0] || {name: this.$t('sendto.unknownTarget')}
                      ).name,
                      status: this.$t('sendto.status' + item.status.replace(/\b\w/g, l => l.toUpperCase())),
                  }))
                  .sort((a, b) => b.created - a.created)
              this.loading = false
          },
          hide () {
              this.$modal.hide('send-to-modal')
          },
          toggleFilter (newFilter) {
              this.filter = newFilter
          },
          toggleSelection (item) {
              this.$set(item, 'selected', !item.selected)
          },

          async cancelItems (selectedItems) {
              const selectedIDs = selectedItems.map(item => item.id)
              this.loading = true
              await ConnectAPI.SendTo.cancelItems(selectedIDs)
              this.loading = false
              this.fetchData()
          },

          async removeItems (selectedItems) {
              const selectedIDs = selectedItems.map(item => item.id)
              this.loading = true
              await ConnectAPI.SendTo.removeItems(selectedIDs)
              this.loading = false
              this.fetchData()
          },
      },

      filters: {
          formatTime: (value) => {
              const m = moment.unix(value)
              return m.format(Connect.DateFormatters.date) + ' ' + m.format(Connect.DateFormatters.time)
          },
      },
  }
</script>

<style scoped lang="scss">
  .v--modal {
      background-color: #ffff;
      border-radius: unset;
  }
  .v--modal .modal-content {
      border-radius: unset;
      border: none;
  }

  #sendto-options .navbar {
      background-color: #fafafa;
      margin-bottom: 0;
      padding-bottom: 0;
      min-height: 0;
  }
  #sendto-options .navbar .btn {
      margin: 1px;
      margin-left: 5px;
  }
  #sendto-options .dbl-toggle .btn {
      margin: 0;
      margin-right: -1px;
      box-shadow: none;
  }

  .btn-group .btn,
  .btn-group .btn:hover,
  .btn-group .btn:focus,
  .btn-group .btn:active {
      background-color: #eee;
      color: #000;
      border-color: #ddd !important;
      outline: none !important;
  }
  .btn-group .btn:focus {
      background-color: #eee !important;
      color: #000 !important;
  }
  .btn-group .btn:focus:before {
      display: none;
  }
  .btn-group .btn.active:hover,
  .btn-group .btn.active {
      background-color: #337ab7 !important;
      border-color: #337ab7 !important;
      color: #fff !important;
  }
  .btn-group .btn.active:before {
      background-color: initial;
  }
  .btn-group .btn.active:focus,
  .btn-group .btn.active:active {
      outline: none !important;
      background-color: #337ab7 !important;
  }

</style>
