<template>
  <div v-if="showed" class="waiter"></div>
</template>

<script>
    export default {
        name: 'spinner',
        props: ['showed']
    }
</script>

<style>
  .dbl-waiter {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: wait;
      z-index: 2001;
  }
  .dbl-waiter:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      border-radius: 100%;
      border: solid 10px rgba(0, 0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0.6);
      border-bottom-color: rgba(0, 0, 0, 0.6);
      -webkit-animation: rotate-360 1000ms linear infinite;
      -moz-animation: rotate-360 1000ms linear infinite;
      -ms-animation: rotate-360 1000ms linear infinite;
      -o-animation: rotate-360 1000ms linear infinite;
      animation: rotate-360 1000ms linear infinite;
  }
  .waiter {
      pointer-events: unset;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: wait;
      z-index: 2001;
      opacity: 0.5;
  }
  .waiter:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      border-radius: 100%;
      border: solid 10px rgba(0, 0, 0, 0);
      -webkit-animation: rotate-360 1000ms linear infinite;
      -moz-animation: rotate-360 1000ms linear infinite;
      -ms-animation: rotate-360 1000ms linear infinite;
      -o-animation: rotate-360 1000ms linear infinite;
      animation: rotate-360 1000ms linear infinite;
      border-top-color: rgba(250, 250, 250, 0.6);
      border-bottom-color: rgba(250, 250, 250, 0.6);
  }
  @-webkit-keyframes rotate-360 {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes rotate-360 {
      0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes rotate-360 {
      0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes rotate-360 {
      0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes rotate-360 {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
</style>
