<template>
  <li class="dropdown subtlebox" data-subtlebox="subtlebox">
    <button ref="dropdown" @click="correctNestedDropdown($event)" type="button" class="dropdown-toggle navbar-btn btn btn-default" data-toggle="dropdown" aria-expanded="false">
      <span>
        <span class="subtlebox-label">{{ label }}</span>
        <span class="subtlebox-icon icon icon-ok" aria-hidden="true"></span>
      </span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li v-for="item in items" :key="item.id">
        <slot :item="item" :value="value" :select="select">
          <input type="radio" href="#" :id="'item-' + item.id"
                 :checked="item.id === value.id"
                 @change="select(item)"
          />
          <label class="menu-open-button" :for="'item-' + item.id">
            {{ item.name }}<span class="subtlebox-icon icon icon-ok" aria-hidden="true"></span>
          </label>
        </slot>
      </li>
    </ul>
  </li>
</template>

<script>

  import '@/assets/connect/styles/libs/subtlebox/subtlebox.css'

  export default {
      name: 'Subtlebox',
      props: ['value', 'label', 'items'],

      mounted () {
          require('@/assets/connect/scripts/libs/subtlebox/subtlebox.js')
      },

      methods: {
          select (item) {
              this.$emit('input', item)
          },

          correctNestedDropdown (event) {
              var $this = $(this.$refs.dropdown);
              event.preventDefault();
              event.stopPropagation();
              var $openedChild = $this.closest('.subtlebox.open');
              $this.closest('.dropdown-menu').find('.subtlebox.open')
                   .removeClass('open');
              $this.parent().addClass('open');
              if ($openedChild.length > 0) {
                  $openedChild.removeClass('open');
              }
          },
      },
  }
</script>
