<template>
  <modal name="user-info-modal"
         :classes="['v--modal', 'user-info-modal']"
         :pivot-y="0.5"
         :width="600"
         :adaptive="true"
         height="auto"
  >
    <h4>{{ $t('products.product') }}</h4>
    <form @submit="save">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="user-name">{{ $t('products.name') }}</label>
          <div class="col-sm-8">
            <input v-focus type="text" id="user-name" v-model="value.name" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="user-email">{{ $t('products.email') }}</label>
          <div class="col-sm-8">
            <input type="email" id="user-email" v-model="value.email" class="form-control" />
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="button" @click="cancel()" class="btn btn-link">{{ $t('common.cancel') }}</button>
        <button :disabled="!saveEnabled" type="submit" class="pull-right btn btn-default">{{ $t('common.save') }}</button>
      </div>
    </form>
  </modal>
</template>

<script>
  export default {
      name: 'UserInfoModal',
      props: [
          'value'
      ],
      methods: {
          cancel () {
              this.$emit('cancel')
              this.$modal.hide('user-info-modal')
          },
          save (event) {
              event.preventDefault();
              if (!this.saveEnabled) {
                  return false
              }
              this.$emit('save')
          }
      },
      computed: {
          saveEnabled () {
              return this.value.name.length > 0 && this.value.email.length > 0
          },
      },
      directives: {
          focus: {
              inserted: (el) => el.focus()
          }
      }
  }
</script>

<style>
  .v--modal.user-info-modal {
      border: 1px solid #5a5a5a !important;
      background: #3c3c3c !important;
      box-shadow: 0 4px 14px rgba(0,0,0,.4);
      padding: 5px 15px;
  }
  .v--modal .form-horizontal {
      margin: 0 -15px;
  }

  .v--modal .buttons {
      background: #1d1d1d;
      margin: 15px -15px -5px;
      padding: 10px 15px;
  }
</style>
