<template>
  <div class="dbl-connect">
    <router-view @hamburgerClick="$emit('hamburgerClick')"></router-view>
  </div>
</template>

<script>

  import Vue from 'vue'

  import moment from 'moment'

  import Settings from '@/api/settings'
  import ConnectAPI from '@/api/connect'

  let App = window.App || (window.App = {});
  let Connect = App.Connect || (App.Connect = {});

  Vue.filter('formatTime', m => m.format(Connect.DateFormatters.time))

  export default {
      name: 'connect',
      async created () {
          require('./connectApp.js')
          Connect.Strings = {
              ...Connect.Strings,
              unknownName: this.$t('connect.unknown'),
          }

          const globalSettings = await ConnectAPI.Settings.Global.get()
          Connect.DateFormatters.date = globalSettings.date || Connect.defaults.dateFormatters.date
          Connect.DateFormatters.time = globalSettings.time || Connect.defaults.dateFormatters.time
          moment.locale(Settings.General.language())
      },
  }
</script>

<style lang="scss">
  .dbl-connect {
      height: 100%;
  }
</style>
